=m
	@media only screen and (max-width: "991px")
		@content

body
	+OSReg
	+smooth-font
	font-size: 16px
	color: $black
	&.is-hidden
		overflow: hidden
a
	text-decoration: none
	color: $black

h1
	font-size: 50px
	+PSemi
	+md
		font-size: 25px

h2
	font-size: 35px
	+PSemi
	+md
		font-size: 25px

h3, .h3
	font-size: 30px
	+PSemi
	+md
		font-size: 20px

h4, .h4
	font-size: 20px
	+PSemi
	+md
		font-size: 14px

.container
	max-width: 1260px
	margin: 0 auto
	padding: 0 40px
	+clr
.col
	float: left
	&_lg-left
		width: percentage(900/1180)
		padding-right: 20px
	&_lg-right
		width: percentage(900/1180)
		padding-left: 20px
	&_sm
		width: percentage(280/1180)

.text
	line-height: 1.5
	&_gutter
		margin-bottom: 34px
.text-cyan
	color: $cyan
.text-bold
	+OSBold

.list
	line-height: 24px
	margin: 26px 0 25px
	&__item
		position: relative
		padding-left: 21px
		&:before
			font-size: 30px
			display: block
			position: absolute
			content: '•'
			color: $cyan
			top: 0
			left: 3px
.map-link
	display: block
	border-radius: 5px
	overflow: hidden
	position: relative
	p
		+PSemi
		color: $white
		text-align: center
		width: 100%
		background-color: $cyan
		padding: 9px 5px 8px
		position: absolute
		left: 0
		bottom: 0
	&--search
		height: 264px
		width: 100%
		max-width: 280px
		img
			width: 100%
			height: 100%
			object-fit: cover
.out
	background-color: #fff
	&--bg-gray
		background-color: #fafafa

.article
	color: $black
	+OSReg
	a
		color: $cyan
	&--sm
		font-size: 14px
	&--mb-95
		margin-bottom: 95px

.centered
	text-align: center

.short-text
	padding-bottom: 36px
