body
  +OSReg
  +smooth-font
  font-size: 16px
  color: $black

a
  text-decoration: none
  color: $black

h1
  font-size: 50px
  +PSemi

h2
	font-size: 35px
	+PSemi
	+md
		font-size: 25px

h3
  font-size: 30px
  +PSemi

h4
  font-size: 20px
  +PSemi

.container
  max-width: 1260px
  margin: 0 auto
  padding: 0 40px

.text
	line-height: 24px

.list
	line-height: 24px
	margin: 20px 0
	&__item
		position: relative
		padding-left: 15px
		&:before
			font-size: 23px
			display: block
			position: absolute
			content: '•'
			color: $cyan
			top: 0
			left: 0

