<!-- begin box-general -->
<div class="box-general affiliate-block {{ block.mod }}">

  <!-- begin box-general__inner -->
  <div class="box-general__inner">

    <!-- begin box-general__left -->
    <div class="box-general__left">

      <!-- begin affiliate-block__flex -->
      <div class="affiliate-block__flex">


        <!-- begin affiliate-block__rate -->
        <div class="affiliate-block__rate">

          <!--begin count-users-->
          <div class="count-users count-users--gray">
            <div class="count-users__bought count-users__bought--cyan">
              <div>
                <span>{{ block.users.bought }}</span>
                <i class="count-users__icon-user"></i>
              </div>
              <p>ЗАПИСАЛОСЬ</p>
            </div>
            <span class="count-users__separator">/</span>
            <div class="count-users__glad count-users__glad--green">
              <div>
                <span>{{ block.users.glad }}</span>
                <i class="count-users__icon-heart"></i>
              </div>
              <p>ДОВОЛЬНЫ</p>
            </div>
          </div>
          <!--end count-users-->

          <!--begin rate-wrapper-->
          <div class="rate-wrapper">
            <div class="rate-stars rate-stars--green">
              {% for star in block.rate.stars %}
              <i class="rate-stars__item {{ star.starMode }}">
                {{ mixins.icon('star') }}
              </i>
              {% endfor %}
            </div>

            <!--begin rate-number-->
            <div class="rate-number rate-number--green">
              рейтинг <span>{{ block.rate.number }}</span>
            </div>
            <!--end rate-number-->

          </div>
          <!--end rate-wrapper-->

        </div>
        <!-- end affiliate-block__rate -->

        <!-- begin affiliate-block__title -->
        <div class="affiliate-block__title">

          <a href="#" class="box-title {{ block.title.mod }}">{{ block.title.text }}</a>

        </div>
        <!-- end affiliate-block__title -->

      </div>
      <!-- end affiliate-block__flex -->

    </div>
    <!-- end box-general__left -->


    <!-- begin box-general__right -->
    <div class="box-general__right">

      <!-- begin affiliate-block__flex -->
      <div class="affiliate-block__flex">

        <!-- begin affiliate-block__map -->
        <div class="affiliate-block__map">

          <a href="#" class="map-link js-popup-link" data-popup="{{ block.map.popup }}">
            <img src="{{ block.map.image }}" alt="">
          </a>

        </div>
        <!-- end affiliate-block__map -->

        <!-- begin affiliate-block__info -->
        <div class="affiliate-block__info">

            <div class="location-info">
              <i class="location-info__icon">{{ mixins.icon('location') }}</i>
              <a href="{{ test.locationUrl }}">{{ block.info.location | safe }}</a>
            </div>

            <div class="metro-info">
              {{mixins.icon('metro')}}
              {{ block.info.metro | safe }}
            </div>

            <div class="worktime-info">
              <p>{{ block.info.worktime | safe }}</p>
            </div>

        </div>
        <!-- end affiliate-block__info -->

      </div>
      <!-- end affiliate-block__flex -->

    </div>
    <!-- end box-general__right -->



    <!-- begin box-general__left -->
    <div class="box-general__left">

      {% if block.taglist %}
      <!-- begin affiliate-block__taglist -->
      <div class="affiliate-block__taglist">
        <div class="tagi ">
          <ul>
            {% for i in block.taglist %}
            <li><a href="#">{{ i | safe }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- end affiliate-block__taglist -->
      {% endif %}

      {% if block.tablelist %}
      <!-- begin affiliate-block__tablelist -->
      <div class="affiliate-block__tablelist">
        <div class="tablelist">
          {% for row in block.tablelist %}
          <div class="tablelist__row">
            {% for i in row %}
            <div class="tablelist__col">{{ i | safe }}</div>
            {% endfor %}
          </div>
          {% endfor%}
        </div>
      </div>
      <!-- end affiliate-block__tablelist -->
      {% endif %}

      <!-- begin affiliate-block__controls -->
      <div class="affiliate-block__controls">

        <!-- begin affiliate-block__btn -->
        <div class="affiliate-block__btn">

          <div class="worktime-info">
            <p>{{ block.info.worktime | safe }}</p>
          </div>

          <a href="#" class="btn btn--green">Записаться</a>

        </div>
        <!-- end affiliate-block__btn -->

        <!-- begin affiliate-block__more -->
        <div class="affiliate-block__more">

          <a href="#" class="more-link more-link--sm">
            <i class="more-link__icon">{{ mixins.icon('arrow-sm') }}</i>
            <span>Подробнее о клинике</span>
          </a>

        </div>
        <!-- end affiliate-block__more -->

      </div>
      <!-- end affiliate-block__controls -->

    </div>
    <!-- end box-general__left -->

  </div>
  <!-- end box-general__in -->

</div>
<!-- end box-general -->
