<!-- begin box-general -->
<div class="box-general doctor-slider-block">

  <!-- begin box-general__inner -->
  <div class="box-general__inner">

    <!-- begin box-general__left -->
    <div class="box-general__left">

      <!-- begin doctor-slider-block__doc -->
      <div class="doctor-slider-block__doc">

        <!-- begin doctor=slider-block__image -->
        <div class="doctor-slider-block__image">
          <img src="{{ block.image }}" alt="">
        </div>
        <!-- end doctor=slider-block__image -->

        <!-- begin doctor-slider-block__info -->
        <div class="doctor-slider-block__info">

          <!-- begin doctor-slider-block__title -->
          <div class="doctor-slider-block__title">
            <h4 class="box-title box-title--md box-title--black">{{ block.title | safe }}</h4>

            <!-- begin doctor-slider-block__exp -->
            <div class="doctor-slider-block__exp">Стаж {{ block.experience | safe }}</div>
            <!-- end doctor-slider-block__exp -->

          </div>
          <!-- end doctor-slider-block__title -->

          <!-- begin doctor-slider-block__taglist -->
          <div class="doctor-slider-block__taglist">
            <div class="tagi ">
              <ul>
                {% for i in block.taglist %}
                <li><a href="#">{{ i | safe }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- end doctor-slider-block__taglist -->

          <!-- begin doctor-slider-block__list -->
          <div class="doctor-slider-block__list">
            <ul class="list">
              <li class="list__item">
                <strong>Стаж: </strong>
                {{ block.experience | safe }}
              </li>
              <li class="list__item">
                <strong>Образование: </strong>
                {{ block.education | safe }}
              </li>
            </ul>
          </div>
          <!-- end doctor-slider-block__list -->

        </div>
        <!-- end doctor-slider-block__info -->

        <!-- begin doctor-slider-block__rate -->
        <div class="doctor-slider-block__rate">

          <!--begin rate-wrapper-->
          <div class="rate-wrapper">
            <div class="rate-stars rate-stars--green">
              {% for star in block.rate.stars %}
              <i class="rate-stars__item {{ star.starMode }}">
                {{ mixins.icon('star') }}
              </i>
              {% endfor %}
            </div>

            <!--begin rate-number-->
            <div class="rate-number rate-number--green">
              рейтинг <span>{{ block.rate.number }}</span>
            </div>
            <!--end rate-number-->

          </div>
          <!--end rate-wrapper-->

        </div>
        <!-- end doctor-slider-block__rate -->

      </div>
      <!-- end doctor-slider-block__doc -->

      <!-- begin doctor-slider-block__controls -->
      <div class="doctor-slider-block__controls">

        <a href="#" class="btn btn--green">Записаться</a>

        <a href="#" class="more-link more-link--sm">
          <i class="more-link__icon">{{ mixins.icon('arrow-sm') }}</i>
          <span>Подробнее о враче</span>
        </a>

      </div>
      <!-- end doctor-slider-block__controls -->

    </div>
    <!-- end box-general__left -->



    <!-- begin box-general__right -->
    <div class="box-general__right">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nemo deserunt numquam eveniet beatae cum, ab totam iure exercitationem in quibusdam facere id perspiciatis veritatis accusamus laudantium maxime, soluta corporis.
    </div>
    <!-- end box-general__right -->

  </div>
  <!-- end box-general__inner -->

</div>
<!-- end box-general -->
