---
title: Bogdan
logo: 'blue'
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}
<style>
	.layout {
		display: table;
	}
	.layout:after {
		content: '';
		clear: both;
	}
</style>
<div class="container layout">
	<div style="width: calc(1180px - 280px); margin-bottom: 100px; float: left;">
		{% include './components/_costs.html' %}
	</div>
	<div style="width: 280px; float: right">
		{% include './components/_articles-info.html' %}
	</div>
</div>
<div class="container" style="width: 1260px">
	<div class="costs">
	    <div class="costs__list costs__list_mb cost-table">
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_long">
	                <div class="costs-table__title costs-table__title_head">
	                    Название услуги
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	                <div class="costs-table__title costs-table__title_head">Цена</div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	                <div class="costs-table__title costs-table__title_head">Цена со скидкой</div>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_long">
	                <div class="costs-table__title">
	                    Виниры
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	            	<div class="costs-table__price costs-table__price_mod">
	            		18 080 р
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	                <div class="costs-table__price">18 080 р.</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_long">
	                <div class="costs-table__title">
	                    Восстановление зубов
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	            	<div class="costs-table__price costs-table__price_mod">
	            		7 000 р
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	                <div class="costs-table__price costs-table__price_mod">–</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_long">
	                <div class="costs-table__title">
	                   Керамические коронки
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	            	<div class="costs-table__price costs-table__price_mod">
	            		11 010 р
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	                <div class="costs-table__price">11 010 р</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_long">
	                <div class="costs-table__title">
	                  	Металлокерамика
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	            	<div class="costs-table__price costs-table__price_mod">
	            		15 000 р
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	                <div class="costs-table__price">15 000 р</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_long">
	                <div class="costs-table__title">
	                  	Коронка на имплантат металлокерамическая Duceram Kiss
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	            	<div class="costs-table__price costs-table__price_mod">
	            		70 080 р.
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	                <div class="costs-table__price costs-table__price_mod">–</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_long">
	                <div class="costs-table__title">
	                  	Культевая вкладка с керам.облицовкой для коронки диоксид циркония
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	            	<div class="costs-table__price costs-table__price_mod">
	            		18 000 р.
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	                <div class="costs-table__price">18 000 р.</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_long">
	                <div class="costs-table__title">
	                  	Культевая вкладка
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	            	<div class="costs-table__price costs-table__price_mod">
	            		35 000 р.
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	                <div class="costs-table__price">35 000 р.</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_long">
	                <div class="costs-table__title">
	                  	Протезы нейлоновые
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	            	<div class="costs-table__price costs-table__price_mod">
	            		50 100 р.
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	                <div class="costs-table__price">50 100 р.</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_long">
	                <div class="costs-table__title">
	                  	Циркониевые коронки
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	            	<div class="costs-table__price costs-table__price_mod">
	            		20 080 р.
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	                <div class="costs-table__price">20 080 р.</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_long">
	                <div class="costs-table__title">
	                  	Протезы бюгельные
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	            	<div class="costs-table__price costs-table__price_mod">
	            		18 000 р.
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_space-md">
	                <div class="costs-table__price">50 100 р.</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	    </div>
	    <div class="costs__btn">
	        <a href="#" class="button button_hero">Показать все цена</a>
	    </div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container" style="width: 1260px">
	<div class="costs">
	    <div class="costs__list costs__list_mb cost-table">
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_indent_md">
	                <div class="costs-table__title costs-table__title_head">
	                    Название услуги
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	                <div class="costs-table__title costs-table__title_secondary">Все свои на Арбатской <span>(цена/цена со скидкой)</span></div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	                <div class="costs-table__title costs-table__title_secondary">Все свои на Кронштадской<span>(цена/цена со скидкой)</span></div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm_last">
	                <div class="costs-table__title costs-table__title_secondary">Все свои на Ленинском проспекте<span>(цена/цена со скидкой)</span></div>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_indent_md">
	                <div class="costs-table__title">
	                    Виниры
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		18 080 р
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		18 080 р
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		18 080 р
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		18 080 р
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		18 080 р
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		18 080 р
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_indent_md">
	                <div class="costs-table__title">
	                    Восстановление зубов
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		7 000 р
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		-
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		7 000 р
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		-
		            	</div>
		            </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		7 000 р
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		-
		            	</div>
		            </div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_indent_md">
	                <div class="costs-table__title">
	                    Керамические коронки
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		11 010 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		11 010 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		11 010 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		11 010 р.
		            	</div>
		            </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		11 010 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		11 010 р.
		            	</div>
		            </div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_indent_md">
	                <div class="costs-table__title">
	                    Металлокерамика
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		15 000 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		15 000 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		15 000 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		15 000 р.
		            	</div>
		            </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		15 000 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		15 000 р.
		            	</div>
		            </div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_indent_md">
	                <div class="costs-table__title">
	                    Коронка на имплантат 
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		70 080 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price  costs-table__price_mod">
		            		-
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		70 080 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price  costs-table__price_mod">
		            		-
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		70 080 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price  costs-table__price_mod">
		            		-
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_indent_md">
	                <div class="costs-table__title">
	                    Культевая вкладка
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		18 000 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		18 000 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		18 000 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		18 000 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		18 000 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		18 000 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_indent_md">
	                <div class="costs-table__title">
	                    Культевая вкладка
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		35 000 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		35 000 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		35 000 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		35 000 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		35 000 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		35 000 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_indent_md">
	                <div class="costs-table__title">
	                    Протезы нейлоновые
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		50 100 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		50 100 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		50 100 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		50 100 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		50 100 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		50 100 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_indent_md">
	                <div class="costs-table__title">
	                    Циркониевые коронки
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		20 080 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		20 080 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		20 080 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		20 080 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		20 080 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		20 080 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	        <div class="costs-table__row">
	            <div class="costs-table__col costs-table__col_indent_md">
	                <div class="costs-table__title">
	                    Протезы бюгельные
	                </div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		18 000 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		18 000 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		18 000 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		18 000 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_indent_sm">
	            	<div class="costs-table__item">
		            	<div class="costs-table__price costs-table__price_mod">
		            		18 000 р.
		            	</div>
	            	</div>
	            	<div class="costs-table__item">
		            	<div class="costs-table__price">
		            		18 000 р.
		            	</div>
	            	</div>
	            </div>
	            <div class="costs-table__col costs-table__col_last">
	                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
	            </div>
	        </div>
	    </div>
	    <div class="costs__btn">
	    	<a href="#" class="button button_hero">Показать все цены</a>
	    </div>
	</div>
</div>


<div class="container" style="width: 1280px;">
	{% set list = [{
		item: 'Детские стоматологии'
	}, {
		item: 'Клиники ортодонтии'
	}, {
		item: 'Протезирование'
	}, {
		item: 'Хирургия'
	}, {
		item: 'Ортопедия'
	}, {
		item: 'Протезирование'
	}, {
		item: 'Хирургия'
	}, {
		item: 'Ортопедия'
	}, {
		item: 'Протезирование'
	}, {
		item: 'Хирургия'
	}, {
		item: 'Ортопедия'
	}, {
		item: 'Протезирование'
	}] %}
	{{mixins.filters({
		title: 'Начните вводить название услуги',
		list: list,
		placeholder: 'Название услуги',
		icon: true
	})}}
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container" style="width: 1280px;">
	{% include './components/_reviews.html' %}
</div>
<br>
<br>
<br>
<br>
<br>
{% include './components/_callback.html' %}
<br>
<br>
<br>
<br>
<br>
{% include './components/_doctors-list.html' %}
<br>
<br>
<br>
<br>
<br>
{% include './components/_goodies.html' %}
{% include "components/_footer.html" %} 

{% endblock %}
