---
title: Все Свои на Арбатской
outMode: 'out--bg-gray'
logo: 'blue'
reviewsTitle: 'Отзывы о стоматологической клинике «Все Свои» на Арбатской'
reviewsTitleMob: 'Отзывы о клинике'
breadcrumbs: ['Zubza', 'Стоматологии']
anchors: [
{
	mode: '',
	anchorslist: [
	{
		text: 'Описание и контактная информация'
	},
	{
		text: 'Цены'
	},
	{
		text: 'Отзывы '
	},
	{
		text: 'Врачи'
	},
	{
		text: 'Лицензии и сертификаты'
	},
	{
		text: 'Фото клиники',
		active: 'is-active'
	},
	{
		text: 'Акции'
	},
	{
		text: 'Филиалы'
	}
	]
}
]
clinicBox: {
rate: {
stars: [
{starMode: 'is-color'},
{starMode: 'is-color'},
{starMode: 'is-color'},
{starMode: 'is-color'},
{starMode: ''}
],
number: '4.6'
},
users: {
bought: '70',
glad: '65',
},
title: 'Стоматология «Все Свои» ведет прием  по следующим специализациям',
taglist: ['Детские стоматологии', 'Клиники ортодонтии', 'Протезирование', 'Хирургия', 'Ортопедия', 'Имплантация', 'Протезирование', 'Детские стоматологии'],
textlist: [
'<strong>250 врачей</strong> в штате стоматологмм «Все Свои»',
'Сеть стоматологий работает <strong>с 2000 года</strong>',
'<strong>100 филиалов</strong> по Москве и МО',
'<strong>95 положительных отзывов</strong> от пользоваетлей Zubza',
'<strong>2 активные акции</strong>'
],
location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
worktime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
leftButton: true
}
clinicBoxBranches: [
{
	rate: {
	stars: [
	{starMode: 'is-color'},
	{starMode: 'is-color'},
	{starMode: 'is-color'},
	{starMode: 'is-color'},
	{starMode: ''}
	],
	number: '4.6'
},
users: {
bought: '70',
glad: '65',
},
title: 'Стоматология «Все Свои» на Кронштадской',
taglist: ['Детские стоматологии', 'Клиники ортодонтии', 'Протезирование', 'Хирургия', 'Ортопедия', 'Имплантация', 'Протезирование', 'Детские стоматологии'],
location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
worktime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
leftButton: true,
leftButtonMoreClinic: 'Подробнее о клинике',
taglistMode: "clinic-box__tagi--mb",
MapMode: 'clinic-box__map--h-150',
leftButtonGreen: true
},
{
	rate: {
	stars: [
	{starMode: 'is-color'},
	{starMode: 'is-color'},
	{starMode: 'is-color'},
	{starMode: 'is-color'},
	{starMode: ''}
	],
	number: '4.6'
},
users: {
bought: '70',
glad: '65',
},
title: 'Стоматология «Все Свои» на Ленинском проспекте',
taglist: ['Детские стоматологии', 'Клиники ортодонтии', 'Протезирование', 'Хирургия', 'Ортопедия', 'Имплантация', 'Протезирование', 'Детские стоматологии'],
location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
worktime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
leftButton: true,
leftButtonMoreClinic: 'Подробнее о клинике',
taglistMode: "clinic-box__tagi--mb",
MapMode: 'clinic-box__map--h-150',
leftButtonGreen: true
},
{
	rate: {
	stars: [
	{starMode: 'is-color'},
	{starMode: 'is-color'},
	{starMode: 'is-color'},
	{starMode: 'is-color'},
	{starMode: ''}
	],
	number: '4.6'
},
users: {
bought: '70',
glad: '65',
},
title: 'Стоматология «Все Свои» на Тверской',
taglist: ['Детские стоматологии', 'Клиники ортодонтии', 'Протезирование', 'Хирургия', 'Ортопедия', 'Имплантация', 'Протезирование', 'Детские стоматологии'],
location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
worktime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
leftButton: true,
leftButtonMoreClinic: 'Подробнее о клинике',
taglistMode: "clinic-box__tagi--mb",
MapMode: 'clinic-box__map--h-150',
leftButtonGreen: true
}
]
doctors: [
{
	title: 'Ярцева <br>Ирина Михайловна',
	avatar: 'ava.jpg',
	experience : '10 лет',
	education: 'Диплом по специальности «Лечебное дело», Российский национальный исследовательский медицинский университет имени Н. И. Пирогова (2006 г.)
	Интернатура по специальности "Терапия", Российский национальный исследовательский медицинский университет ... имени Н. И. Пирогова (2007 г.)
	',
	comments: [
	{
		sliderParentMode: ' js-slider-count-parent',
		sliderMode: 'js-slider-count',
		headBlock: false,
		testSlides: [
		{
			text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
		},
		{
			text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
		}
		,
		{
			text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
		}
		,
		{
			text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
		}
		],
		slideMode: '',
		countUsers: true,
		countUsersMode: 'count-users--mb-16 count-users--gray',
		countUsersBoughtMode: 'count-users__bought--cyan',
		countUsersGladMode: 'count-users__glad--green',
		slideTextMode: 'cslide__text--mb-14',
		countUsersBought: '70',
		countUsersGlad: '65',
		userIconMode: '',
		heartIconMode: '',
		info: 'Анна, 22.12.17',
		infoMode: 'cslide__info--gray',
		readMore: false,
		recomend: true,
		sliderCountBlock: true
	}
	],
	taglist: ['Хирург', 'Парадонтолог'],
	rate: {
	stars: [
	{starMode: 'is-color'},
	{starMode: 'is-color'},
	{starMode: 'is-color'},
	{starMode: 'is-color'},
	{starMode: ''}
	],
	number: '4.6'
}
},{
title: 'Новослободская<br> Ирина Михайловна',
avatar: 'ava.jpg',
experience : '10 лет',
education: 'Диплом по специальности «Лечебное дело», Российский национальный исследовательский медицинский университет имени Н. И. Пирогова (2006 г.)
Интернатура по специальности "Терапия", Российский национальный исследовательский медицинский университет ... имени Н. И. Пирогова (2007 г.)
',
comments: [
{
	sliderParentMode: ' js-slider-count-parent',
	sliderMode: 'js-slider-count',
	headBlock: false,
	testSlides: [
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	},
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	}
	,
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	}
	,
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	}
	],
	slideMode: '',
	countUsers: true,
	countUsersMode: 'count-users--mb-16 count-users--gray',
	countUsersBoughtMode: 'count-users__bought--cyan',
	countUsersGladMode: 'count-users__glad--green',
	slideTextMode: 'cslide__text--mb-14',
	countUsersBought: '70',
	countUsersGlad: '65',
	userIconMode: '',
	heartIconMode: '',
	info: 'Анна, 22.12.17',
	infoMode: 'cslide__info--gray',
	readMore: false,
	recomend: true,
	sliderCountBlock: true
}
],
taglist: ['Хирург', 'Парадонтолог'],
rate: {
stars: [
{starMode: 'is-color'},
{starMode: 'is-color'},
{starMode: 'is-color'},
{starMode: 'is-color'},
{starMode: ''}
],
number: '4.6'
}
}
,{
title: 'Новослободская<br> Ирина Михайловна',
avatar: 'ava.jpg',
experience : '10 лет',
education: 'Диплом по специальности «Лечебное дело», Российский национальный исследовательский медицинский университет имени Н. И. Пирогова (2006 г.)
Интернатура по специальности "Терапия", Российский национальный исследовательский медицинский университет ... имени Н. И. Пирогова (2007 г.)
',
comments: [
{
	sliderParentMode: ' js-slider-count-parent',
	sliderMode: 'js-slider-count',
	headBlock: false,
	testSlides: [
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	},
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	}
	,
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	}
	,
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	}
	],
	slideMode: '',
	countUsers: true,
	countUsersMode: 'count-users--mb-16 count-users--gray',
	countUsersBoughtMode: 'count-users__bought--cyan',
	countUsersGladMode: 'count-users__glad--green',
	slideTextMode: 'cslide__text--mb-14',
	countUsersBought: '70',
	countUsersGlad: '65',
	userIconMode: '',
	heartIconMode: '',
	info: 'Анна, 22.12.17',
	infoMode: 'cslide__info--gray',
	readMore: false,
	recomend: true,
	sliderCountBlock: true
}
],
taglist: ['Хирург', 'Парадонтолог'],
rate: {
stars: [
{starMode: 'is-color'},
{starMode: 'is-color'},
{starMode: 'is-color'},
{starMode: 'is-color'},
{starMode: ''}
],
number: '4.6'
}
}
]
gallery: [
{
	image: './img/clinic-gallery-item.png',
	text: 'Оборудование в клинике'
},
{
	image: './img/clinic-gallery-item.png',
	text: 'Оборудование в клинике'
},
{
	image: './img/clinic-gallery-item.png',
	text: 'Оборудование в клинике'
},
{
	image: './img/clinic-gallery-item.png',
	text: 'Оборудование в клинике'
},
{
	image: './img/clinic-gallery-item.png',
	text: 'Оборудование в клинике'
},
{
	image: './img/clinic-gallery-item.png',
	text: 'Оборудование в клинике'
}
]

sales: [
{
	sectionMode: '',
	title: 'Акции в сети стоматологических клиник «Все Свои»',
	aftHeadText: false,
	list: [
	{
		title: 'Имплантаты Израиль марки Alfa Bio - ',
		oldPrice: '16000 руб.',
		price: '12000 руб.',
		date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
		name: 'Стоматология «Все Свои»',
		maplinkMode: '',
		popupData: 'popup-map',
		mapImg: 'map-link-img-default',
		location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
		locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
		workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
		btn: 'Записаться'
	},
	{
		title: 'Имплантаты Израиль марки Alfa Bio - ',
		oldPrice: '16000 руб.',
		price: '12000 руб.',
		date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
		name: 'Стоматология «Все Свои»',
		maplinkMode: '',
		popupData: 'popup-map',
		mapImg: 'map-link-img-default',
		location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
		locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
		workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
		btn: 'Записаться'
	},
	{
		title: 'Имплантаты Израиль марки Alfa Bio - ',
		oldPrice: '16000 руб.',
		price: '12000 руб.',
		date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
		name: 'Стоматология «Все Свои»',
		maplinkMode: '',
		popupData: 'popup-map',
		mapImg: 'map-link-img-default',
		location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
		locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
		workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
		btn: 'Записаться'
	}
	]
}
]
doubleSliderData: [
{
	sliderParentMode: 'count-slider--double',
	sliderMode: 'js-double-slider',
	testSlides: [
	{
		text: ''
	},
	{
		text: ''
	}
	,
	{
		text: ''
	}
	,
	{
		text: ''
	}
	],
	slideMode: 'cslide--double',
	headBlock: true,
	headMode: 'cslide__head--cyan-border cslide__head--m',
	headText: '<a href="#">Центр стоматологии «Интан»</a>',
	rateBlock: true,
	rateStarsMode: 'rate-stars--green ',
	stars: [
	{
		starMode: 'is-color'
	},
	{
		starMode: 'is-color'
	},
	{
		starMode: 'is-color'
	},
	{
		starMode: ''
	},
	{
		starMode: ''
	}
	],
	rateNumberMode: 'rate-number--orange ',
	rateNumber: '3.7',
	countUsers: false,
	location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
	locationMode: 'location-info--dashed',
	locationMetro: '<a href="#">ЦАО</a>,
	<a href="#">Марксистская <span class="gray-color">(1 км)</span></a>',
	<a href="#">Римская <span class="gray-color">(1 км)</span></a>,
	<a href="#">Таганская <span class="gray-color">(1 км)</span></a>',
	workingTime: 'Круглосуточно',
	map: true,
	maplinkMode: '',
	popupData: 'popup-map',
	mapImg: 'map-double-slider',

}
]


servicesTitle: 'Стоматологические услуги, по которым ведется запись'
services:
  -
    title: 'Лечение зубов'
    items:
      -
        name: 'Консультация'
        value: 'от 500р.'
      -
        name: 'Кариес'
        value: 'от 500р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Протезирование зубов'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Чистка и отбеливание'
    items:
      -
        name: 'Отбеливание Zoom'
        value: 'от 11000 р.'
      -
        name: 'Лазерное отбеливание'
        value: 'от 17000 р.'
      -
        name: 'Airflow'
        value: 'от 20000 р.'
      -
        name: 'Комплексная чистка'
        value: 'от 5000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Сопутствующие услуги'
    items:
      -
        name: 'Консультация'
        value: 'от 500 р.'
      -
        name: 'Кариес'
        value: 'от 300 р.'
      -
        name: 'Пульпит'
        value: 'от 1000 р.'
      -
        name: 'Восстановление зубов'
        value: 'от 10000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Хирургия'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Имплантация'
    items:
      -
        name: 'Отбеливание Zoom'
        value: 'от 11000 р.'
      -
        name: 'Лазерное отбеливание'
        value: 'от 17000 р.'
      -
        name: 'Airflow'
        value: 'от 20000 р.'
      -
        name: 'Комплексная чистка'
        value: 'от 5000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Пародонтология'
    items:
      -
        name: 'Консультация ортодонта'
        value: 'от 500 р.'
      -
        name: 'Керамические брекеты'
        value: 'от 10500 р.'
      -
        name: 'Металлические брекеты'
        value: 'от 7500 р.'
      -
        name: 'Сапфировые брекеты'
        value: 'от 50000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Ортодонтия'
    items:
      -
        name: 'Консультация ортодонта'
        value: 'от 500 р.'
      -
        name: 'Керамические брекеты'
        value: 'от 10500 р.'
      -
        name: 'Металлические брекеты'
        value: 'от 7500 р.'
      -
        name: 'Сапфировые брекеты'
        value: 'от 50000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Хирургия'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'

popupForm: {
  dataPopup: 'popup-appoint',
  name: 'Все стоматологии вашего города',
  pic: 'img/house-black-white.png',
  form: {
    title: 'Стоматология «Все Свои» на Кронштадской',
    text: '<p>г. Москва, ул. Волочаевская, д. 15, стр.1</p><p>ЦАО, Марксистская (1 км), Римская (1 км), Таганская (1 км)</p>',
    fields: [
      {
        label: 'Врач',
        select: {
          field: 'Неважно',
          options: ['Неважно','Неважно','Неважно']
        }
      },
      {
        label: 'Услуга',
        input: 'Название услуги'
      },
      {
        label: 'Дата и время',
        cols: [
          {
            datepicker: 'дд.мм.гг'
          },
          {
            select: {
              field: 'Время',
              options: ['9:30','10:00','11:00', '12:00', '12:30'],
            }
          }
        ]
      },
      {
        label: 'Ваше имя',
        input: 'Введите свое имя'
      },
      {
        label: 'Ваш телефон',
        input: '+7 ( ___ ) ___ - __ - __',
        invalid: true,
        validationMessage: 'Введите телефон'
      }
    ],
    submitButton: 'Записаться',
    policy: 'Нажимая кнопку «Записаться», вы принимаете и соглашаетесь с условиями <a href="">Публичной оферты</a> и <a href="">Политикой конфеденциальности</a>'
  }
}

---
{% extends "layouts/_layout.html" %}

{% block content %}
<!--begin clinic-page-->
<div class="clinic-page">
	<!--begin container-->
	<div class="container">
		{% include "components/_breadcrumbs.html" %}
		<h2 class="clinic-page__title">Стоматологическая клиника «Все Свои» на Арбатской</h2>
	</div>
	<!--end container-->
	{% include "components/_anchors.html" %}
	<!--begin container-->
	<div class="container">
		<div class="clinic-page__mb-50">
			{% include "components/_clinic-box.html" %}
		</div>


	</div>
	<!--end container-->
	<!--begin clinic-page__white-block-->
	<div class="clinic-page__white-block">
		<!--begin container-->
		<div class="container">
			<h3 class="clinic-page__title-sec">Цены на услуги в стоматологической клинике «Все Свои» на Арбатской</h3>
			<p class="clinic-page__mb-35">Воспользуйтесь поиском или выберите специализацию </p>
			{% set list = [{
				item: 'Детские стоматологии'
			}, {
			item: 'Клиники ортодонтии'
		}, {
		item: 'Протезирование'
	}, {
	item: 'Хирургия'
}, {
item: 'Ортопедия'
}, {
item: 'Протезирование'
}, {
item: 'Хирургия'
}, {
item: 'Ортопедия'
}, {
item: 'Протезирование'
}, {
item: 'Хирургия'
}, {
item: 'Ортопедия'
}, {
item: 'Протезирование'
}] %}
{{mixins.filters({
	title: 'Начните вводить название услуги',
	list: list,
	placeholder: 'Название услуги',
	icon: true
})}}
<div class="costs">
	<div class="costs__list costs__list_mb cost-table">
		<div class="costs-table__row">
			<div class="costs-table__col costs-table__col_long">
				<div class="costs-table__title costs-table__title_head">
					Название услуги
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__title costs-table__title_head">Цена</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__title costs-table__title_head">Цена со скидкой</div>
			</div>
		</div>
		<div class="costs-table__row">
			<div class="costs-table__col costs-table__col_long">
				<div class="costs-table__title">
					Виниры
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price costs-table__price_mod">
					18 080 р
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price">18 080 р.</div>
			</div>
			<div class="costs-table__col costs-table__col_last">
				<a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
		</div>
		<div class="costs-table__row">
			<div class="costs-table__col costs-table__col_long">
				<div class="costs-table__title">
					Восстановление зубов
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price costs-table__price_mod">
					7 000 р
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price costs-table__price_mod">–</div>
			</div>
			<div class="costs-table__col costs-table__col_last">
				<a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
		</div>
		<div class="costs-table__row">
			<div class="costs-table__col costs-table__col_long">
				<div class="costs-table__title">
					Керамические коронки
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price costs-table__price_mod">
					11 010 р
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price">11 010 р</div>
			</div>
			<div class="costs-table__col costs-table__col_last">
				<a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
		</div>
		<div class="costs-table__row">
			<div class="costs-table__col costs-table__col_long">
				<div class="costs-table__title">
					Металлокерамика
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price costs-table__price_mod">
					15 000 р
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price">15 000 р</div>
			</div>
			<div class="costs-table__col costs-table__col_last">
				<a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
		</div>
		<div class="costs-table__row">
			<div class="costs-table__col costs-table__col_long">
				<div class="costs-table__title">
					Коронка на имплантат металлокерамическая Duceram Kiss
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price costs-table__price_mod">
					70 080 р.
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price costs-table__price_mod">–</div>
			</div>
			<div class="costs-table__col costs-table__col_last">
				<a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
		</div>
		<div class="costs-table__row">
			<div class="costs-table__col costs-table__col_long">
				<div class="costs-table__title">
					Культевая вкладка с керам.облицовкой для коронки диоксид циркония
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price costs-table__price_mod">
					18 000 р.
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price">18 000 р.</div>
			</div>
			<div class="costs-table__col costs-table__col_last">
				<a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
		</div>
		<div class="costs-table__row">
			<div class="costs-table__col costs-table__col_long">
				<div class="costs-table__title">
					Культевая вкладка
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price costs-table__price_mod">
					35 000 р.
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price">35 000 р.</div>
			</div>
			<div class="costs-table__col costs-table__col_last">
				<a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
		</div>
		<div class="costs-table__row">
			<div class="costs-table__col costs-table__col_long">
				<div class="costs-table__title">
					Протезы нейлоновые
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price costs-table__price_mod">
					50 100 р.
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price">50 100 р.</div>
			</div>
			<div class="costs-table__col costs-table__col_last">
				<a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
		</div>
		<div class="costs-table__row">
			<div class="costs-table__col costs-table__col_long">
				<div class="costs-table__title">
					Циркониевые коронки
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price costs-table__price_mod">
					20 080 р.
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price">20 080 р.</div>
			</div>
			<div class="costs-table__col costs-table__col_last">
				<a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
		</div>
		<div class="costs-table__row">
			<div class="costs-table__col costs-table__col_long">
				<div class="costs-table__title">
					Протезы бюгельные
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price costs-table__price_mod">
					18 000 р.
				</div>
			</div>
			<div class="costs-table__col costs-table__col_space-md">
				<div class="costs-table__price">50 100 р.</div>
			</div>
			<div class="costs-table__col costs-table__col_last">
				<a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
		</div>
	</div>
	<div class="costs__btn">
		<a href="#" class="button button_hero">Показать все цена</a>
	</div>
</div>
<div class="article article--sm article--mb-95">
	<p>
		Стоимость, указанная на сайте, не окончательная, не является <a href="#">Публичной офертой</a> и носит исключительно информационный характер. Цены в филиалах могут отличаться.
		Администрация отсавляет за собой право изменять цены. Вы можете уточнить стоимость по телефону.
	</p>
</div>
<div class="clinic-page__mb-95">
	{% include './components/_reviews.html' %}
</div>

<div >
	<h2 class="clinic-page__mb-27">Врачи стоматологической клиники «Все Свои» на Арбатской</h2>
	{% for doctor in doctors %}
	{% include "components/_doctor.html" %}
	{% endfor %}
	<div class="centered clinic-page__mt-30 clinic-page__mb-50">
		<a href="#" class="button button_hero button_hero_sm">Показать всех врачей</a>
	</div>
</div>
</div>
<!--end container-->
<!--begin clinic-page__mb-95-->
<div class="clinic-page__mb-95">
	{% include "components/_license.html" %}
</div>
<!--end clinic-page__mb-95-->
<!--begin container-->
<div class="container">
	{% include "components/_clinic-gallery.html" %}

</div>
<!--end container-->
{% include "components/_sales-section.html" %}
</div>
<!--end clinic-page__white-block-->


<!--begin container-->
<div class="container">
	<!--begin clinic-page__p-50-->
	<div class="clinic-page__p-50 clinic-page__branches">
			<h3 class="h3 clinic-page__mb-27">Адреса филиалов</h3>
		{% for clinicBox in clinicBoxBranches %}
		{% include "components/_clinic-box.html" %}
		{% endfor %}
		<div class="centered clinic-page__mt-30">
			<a href="#" class="button button_hero button_hero_sm">Показать все филиалы</a>
		</div>
	</div>
	<!--end clinic-page__p-50-->



</div>
<!--end container-->


<!--begin clinic-page__white-block-->
<div class="clinic-page__white-block clinic-page__white-block--pb-0">
	<!--begin clinic-page__mb-95-->
	<div class="clinic-page__mb-95">
		{% include "components/_section-double-slider.html" %}
	</div>
	<!--end clinic-page__mb-95-->

	{% include './components/_callback.html' %}
	<!--begin container-->
	<div class="container">
		{% include "components/_services.html" %}
	</div>
	<!--end container-->


</div>
<!--end clinic-page__white-block-->



</div>
<!--end clinic-page-->


{% endblock %}
