---
outMode: 'out--bg-gray'
title: 'Ярцева Ирина Михайловна'
logo: 'blue'
breadcrumbs: ['Zubza', 'Стоматологии']
anchors: [
{
	anchorslist: [
	{
		text: 'О враче',
    scrollTo: 'about-doctor'
	},
	{
		text: 'Где принимает',
    scrollTo: 'work-place'
	},
	{
		text: 'Цены на услуги ',
    scrollTo: 'price'
	},
	{
		text: 'Отзывы',
    scrollTo: 'reviews'
	},
	{
		text: 'Акции',
    scrollTo: 'sales'
	},
	{
		text: 'Лицензии и сертификаты',
    scrollTo: 'license'
	},
	{
		text: 'Другие врачи поблизости',
    scrollTo: 'other-doctors'
	}
	]
}
]

affiliateBlocks: [
  {
    mod: 'affiliate-block--doctor',
    title: {
      text: 'Стоматология «Все Свои» на Кронштадской',
      mod: 'box-title--md box-title--black'
    },
    tablelist: [
      ['Консультация стоматолога', '<span class="text-cyan text-bold">Бесплатно</span>'],
      ['Лечение кариеса', '<span class="text-cyan text-bold">от 500 руб.</span>']
    ],
    users: {
      bought: '70',
      glad: '65'
    },
    rate: {
      stars: [
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: ''
        }
      ],
      number: '4.6'
    },
    map: {
      image: 'img/clinic-map.jpg',
      popup: 'popup-map'
    },
    info: {
      location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
      worktime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
      metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>'
    }
  },
  {
    mod: 'affiliate-block--doctor',
    title: {
      text: 'Стоматология «Все Свои» на Кронштадской',
      mod: 'box-title--md box-title--black'
    },
    tablelist: [
      ['Консультация стоматолога', '<span class="text-cyan text-bold">Бесплатно</span>'],
      ['Лечение кариеса', '<span class="text-cyan text-bold">от 500 руб.</span>']
    ],
    users: {
      bought: '70',
      glad: '65'
    },
    rate: {
      stars: [
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: ''
        }
      ],
      number: '4.6'
    },
    map: {
      image: 'img/clinic-map.jpg',
      popup: 'popup-map'
    },
    info: {
      location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
      worktime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
      metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>'
    }
  }
]

doctorSingle: {
  title: 'Ярцева Ирина Михайловна',
  avatar: 'ava.jpg',
  users: {
    bought: '70',
    glad: '65',
  },
  experience: '15 лет',
  education: ['Диплом по специальности «Лечебное дело», РНИМУ им. Н. И. Пирогова (2006 г.)',
              'Интернатура по специальности «Терапия», РНИМУ им. Н. И. Пирогова (2007 г.)'],
  specialized: ['терапевтическая стоматология;','эстетическая реставрации зубов;','штифтовые реставрации после эндодонтического лечения;','микропротезирование;','лечение всех видов некариозных поражений зубов и кариеса, его осложнений.'],
  taglist: ['Хирург', 'Парадонтолог'],
  stars: [
    {starMode: 'is-color'},
    {starMode: 'is-color'},
    {starMode: 'is-color'},
    {starMode: 'is-color'},
    {starMode: ''}
  ],
  number: '4.6'
}



reviewsTitle: 'Отзывы о враче'
reviewsTitleMob: 'Отзывы о враче'

sales: [
{
	sectionMode: '',
	title: 'Акции клиник, где принимает врач',
	aftHeadText: false,
	list: [
	{
		title: 'Имплантаты Израиль марки Alfa Bio - ',
		oldPrice: '16000 руб.',
		price: '12000 руб.',
		date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
		name: 'Стоматология «Все Свои»',
		maplinkMode: '',
		popupData: 'popup-map',
		mapImg: 'map-link-img-default',
		location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
		locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
		workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
		btn: 'Записаться'
	},
	{
		title: 'Имплантаты Израиль марки Alfa Bio - ',
		oldPrice: '16000 руб.',
		price: '12000 руб.',
		date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
		name: 'Стоматология «Все Свои»',
		maplinkMode: '',
		popupData: 'popup-map',
		mapImg: 'map-link-img-default',
		location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
		locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
		workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
		btn: 'Записаться'
	},
	{
		title: 'Имплантаты Израиль марки Alfa Bio - ',
		oldPrice: '16000 руб.',
		price: '12000 руб.',
		date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
		name: 'Стоматология «Все Свои»',
		maplinkMode: '',
		popupData: 'popup-map',
		mapImg: 'map-link-img-default',
		location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
		locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
		workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
		btn: 'Записаться'
	}
	]
}
]

servicesTitle: 'Специализации и услуги, по которым ведется запись через Zubza'

services:
  -
    title: 'Лечение зубов'
    items:
      -
        name: 'Консультация'
        value: 'от 500р.'
      -
        name: 'Кариес'
        value: 'от 500р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Протезирование зубов'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Чистка и отбеливание'
    items:
      -
        name: 'Отбеливание Zoom'
        value: 'от 11000 р.'
      -
        name: 'Лазерное отбеливание'
        value: 'от 17000 р.'
      -
        name: 'Airflow'
        value: 'от 20000 р.'
      -
        name: 'Комплексная чистка'
        value: 'от 5000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Сопутствующие услуги'
    items:
      -
        name: 'Консультация'
        value: 'от 500 р.'
      -
        name: 'Кариес'
        value: 'от 300 р.'
      -
        name: 'Пульпит'
        value: 'от 1000 р.'
      -
        name: 'Восстановление зубов'
        value: 'от 10000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Хирургия'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Имплантация'
    items:
      -
        name: 'Отбеливание Zoom'
        value: 'от 11000 р.'
      -
        name: 'Лазерное отбеливание'
        value: 'от 17000 р.'
      -
        name: 'Airflow'
        value: 'от 20000 р.'
      -
        name: 'Комплексная чистка'
        value: 'от 5000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Пародонтология'
    items:
      -
        name: 'Консультация ортодонта'
        value: 'от 500 р.'
      -
        name: 'Керамические брекеты'
        value: 'от 10500 р.'
      -
        name: 'Металлические брекеты'
        value: 'от 7500 р.'
      -
        name: 'Сапфировые брекеты'
        value: 'от 50000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Ортодонтия'
    items:
      -
        name: 'Консультация ортодонта'
        value: 'от 500 р.'
      -
        name: 'Керамические брекеты'
        value: 'от 10500 р.'
      -
        name: 'Металлические брекеты'
        value: 'от 7500 р.'
      -
        name: 'Сапфировые брекеты'
        value: 'от 50000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Хирургия'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
doctorBlock2: [
  {
    title: 'Ярцева Ирина Михайловна,',
      users: {
    bought: '70',
    glad: '65',
  },
    avatar: 'ava.jpg',
    taglist: ['Хирург', 'Парадонтолог'],
    experience : 'стаж 10 лет',
    location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
    metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>',
    tablelist: [
        ['Консультация стоматолога', '<span class="text-cyan text-bold">Бесплатно</span>'],
        ['Лечение кариеса', '<span class="text-cyan text-bold">от 500 руб.</span>']
    ],
    rateStarsMode: 'rate-stars--green',
    number  : '4.6',
    rateNumberMode: 'rate-number--green',
    stars: [
      {starMode: 'is-color'},
      {starMode: 'is-color'},
      {starMode: 'is-color'},
      {starMode: 'is-color'},
      {starMode: ''}
    ],
    buttonMoreClinic: 'Весь прайслист клиники',
    worktime: '<span>Режим работы </span>Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
    comments: [
      {
        sliderParentMode: ' js-slider-count-parent',
        sliderMode: 'js-slider-count',
        testSlides: [
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          },
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
        ],
        info: 'Анна, 22.12.17',
        infoMode: 'cslide__info--gray',
        sliderCountBlock: true,
        recomend: true,
      }
    ]

  },
  {
    title: 'Ярцева Ирина Михайловна,',
      users: {
    bought: '70',
    glad: '65',
  },
    avatar: 'ava.jpg',
    taglist: ['Хирург', 'Парадонтолог'],
    experience : 'стаж 10 лет',
    location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
    metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>',
    tablelist: [
        ['Консультация стоматолога', '<span class="text-cyan text-bold">Бесплатно</span>'],
        ['Лечение кариеса', '<span class="text-cyan text-bold">от 500 руб.</span>']
    ],
    rateStarsMode: 'rate-stars--green',
    number  : '4.6',
    rateNumberMode: 'rate-number--green',
    stars: [
      {starMode: 'is-color'},
      {starMode: 'is-color'},
      {starMode: 'is-color'},
      {starMode: 'is-color'},
      {starMode: ''}
    ],
    buttonMoreClinic: 'Весь прайслист клиники',
    worktime: '<span>Режим работы </span>Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
    comments: [
      {
        sliderParentMode: ' js-slider-count-parent',
        sliderMode: 'js-slider-count',
        testSlides: [
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          },
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
        ],
        info: 'Анна, 22.12.17',
        infoMode: 'cslide__info--gray',
        sliderCountBlock: true,
        recomend: true,
      }
    ]

  },
  {
    title: 'Ярцева Ирина Михайловна,',
      users: {
    bought: '70',
    glad: '65',
  },
    avatar: 'ava.jpg',
    taglist: ['Хирург', 'Парадонтолог'],
    experience : 'стаж 10 лет',
    location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
    metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>',
    tablelist: [
        ['Консультация стоматолога', '<span class="text-cyan text-bold">Бесплатно</span>'],
        ['Лечение кариеса', '<span class="text-cyan text-bold">от 500 руб.</span>']
    ],
    rateStarsMode: 'rate-stars--green',
    number  : '4.6',
    rateNumberMode: 'rate-number--green',
    stars: [
      {starMode: 'is-color'},
      {starMode: 'is-color'},
      {starMode: 'is-color'},
      {starMode: 'is-color'},
      {starMode: ''}
    ],
    buttonMoreClinic: 'Весь прайслист клиники',
    worktime: '<span>Режим работы </span>Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
    comments: [
      {
        sliderParentMode: ' js-slider-count-parent',
        sliderMode: 'js-slider-count',
        testSlides: [
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          },
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
        ],
        info: 'Анна, 22.12.17',
        infoMode: 'cslide__info--gray',
        sliderCountBlock: true,
        recomend: true,
      }
    ]

  }
]

popupForm: {
  dataPopup: 'popup-appoint',
  name: 'Все стоматологи вашего городa',
  pic: 'img/doctor-black-white.png',
  form: {
    title: 'Протезист Ярцева Ангелина Алексеевна',
    text: '<p>г. Москва, ул. Волочаевская, д. 15, стр.1</p><p>ЦАО, Марксистская (1 км), Римская (1 км), Таганская (1 км)</p>',
    fields: [
      {
        label: 'Услуга',
        input: 'Название услуги'
      },
      {
        label: 'Дата и время',
        cols: [
          {
            datepicker: 'дд.мм.гг'
          },
          {
            select: {
              field: 'Время',
              options: ['9:30','10:00','11:00', '12:00', '12:30'],
            }
          }
        ]
      },
      {
        label: 'Ваше имя',
        input: 'Введите свое имя'
      },
      {
        label: 'Ваш телефон',
        input: '+7 ( ___ ) ___ - __ - __',
        invalid: true,
        validationMessage: 'Введите телефон'
      }
    ],
    submitButton: 'Записаться',
    policy: 'Нажимая кнопку «Записаться», вы принимаете и соглашаетесь с условиями <a href="">Публичной оферты</a> и <a href="">Политикой конфеденциальности</a>'
  }
}


---

{% extends "layouts/_layout.html" %}

{% block content %}
<!-- begin doctor-page -->
	<div class="doctor-page">
		<!-- begin container -->
		<div class="container">
			{% include "components/_breadcrumbs.html" %}
		</div>
		<!-- end container -->
		{% include "components/_anchors.html" %}
		<!-- begin container -->
			<div class="container">
        <div class="doctor-page__about-doctor" data-scroll="about-doctor">
          {% include "blocks/_doctor-block.html" %}
        </div>
			</div>
		<!-- end container -->

    <!-- begin container -->
    <div class="container">
      <div class="doctor-page__work-place" data-scroll="work-place">
        <h3 class="doctor-page__title">Принимает в центрах</h2>
        {% for block in affiliateBlocks %}

          {% include "blocks/_affiliate-block.html" %}

        {% endfor %}
      </div>
    </div>
    <!-- end container -->


		<div class="doctor-page__block" data-scroll="price">
			<!-- begin container -->
			<div class="container">
				<h3 class="doctor-page__title" >Цены на услуги</h2>
				<div class="doctor-page__textual">
					<p>
						Воспользуйтесь поиском или выберите специализацию
					</p>
				</div>
				{% set list = [{
					item: 'Детские стоматологии'
				}, {
					item: 'Клиники ортодонтии'
				}, {
					item: 'Протезирование'
				}, {
					item: 'Хирургия'
				}, {
					item: 'Ортопедия'
				}, {
					item: 'Протезирование'
				}, {
					item: 'Хирургия'
				}, {
					item: 'Ортопедия'
				}, {
					item: 'Протезирование'
				}, {
					item: 'Хирургия'
				}, {
					item: 'Ортопедия'
				}, {
					item: 'Протезирование'
				}] %}
				{{mixins.filters({
					title: 'Начните вводить название услуги',
					list: list,
					placeholder: 'Поиск по названию услуги',
					icon: true,
          filtersListTitle: 'Выберите специализацию',
          tagsTableMod: true,
          filtersTableMod: true,
          clinics: [
            'Клиника "Все свои на Арбатской"',
            'Клиника "Все свои на Кронштадской"',
            'Клиника "Все свои на Ленинском проспекте"'
          ]
				})}}
				<div class="costs">
				    <div class="costs__list costs__list_mb cost-table">
				        <div class="costs-table__row">
				            <div class="costs-table__col costs-table__col_indent_md">
				                <div class="costs-table__title costs-table__title_head">
				                    Название услуги
				                </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				                <div class="costs-table__title costs-table__title_secondary">Все свои на Арбатской <span>(цена/цена со скидкой)</span></div>
                        <div class="costs-table__title costs-table__title_secondary costs-table__title_tablet">Цена/со скидкой</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				                <div class="costs-table__title costs-table__title_secondary">Все свои на Кронштадской<span>(цена/цена со скидкой)</span></div>
                        <div class="costs-table__title costs-table__title_secondary costs-table__title_tablet">Цена/со скидкой</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm_last">
				                <div class="costs-table__title costs-table__title_secondary">Все свои на Ленинском проспекте<span>(цена/цена со скидкой)</span></div>
                        <div class="costs-table__title costs-table__title_secondary costs-table__title_tablet">Цена/со скидкой</div>
				            </div>
				        </div>
				        <div class="costs-table__row">
				            <div class="costs-table__col costs-table__col_indent_md">
				                <div class="costs-table__title">
				                    Виниры
				                </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		18 080 р
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		18 081 р
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		18 080 р
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		18 082 р
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		18 080 р
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		18 083 р
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_last">
				                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
				            </div>
				        </div>
				        <div class="costs-table__row">
				            <div class="costs-table__col costs-table__col_indent_md">
				                <div class="costs-table__title">
				                    Восстановление зубов
				                </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		7 000 р
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		-
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		7 000 р
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		-
					            	</div>
					            </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		7 000 р
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		-
					            	</div>
					            </div>
				            </div>
				            <div class="costs-table__col costs-table__col_last">
				                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
				            </div>
				        </div>
				        <div class="costs-table__row">
				            <div class="costs-table__col costs-table__col_indent_md">
				                <div class="costs-table__title">
				                    Керамические коронки
				                </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		11 010 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		11 010 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		11 010 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		11 010 р.
					            	</div>
					            </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		11 010 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		11 010 р.
					            	</div>
					            </div>
				            </div>
				            <div class="costs-table__col costs-table__col_last">
				                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
				            </div>
				        </div>
				        <div class="costs-table__row">
				            <div class="costs-table__col costs-table__col_indent_md">
				                <div class="costs-table__title">
				                    Металлокерамика
				                </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		15 000 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		15 000 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		15 000 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		15 000 р.
					            	</div>
					            </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		15 000 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		15 000 р.
					            	</div>
					            </div>
				            </div>
				            <div class="costs-table__col costs-table__col_last">
				                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
				            </div>
				        </div>
				        <div class="costs-table__row">
				            <div class="costs-table__col costs-table__col_indent_md">
				                <div class="costs-table__title">
				                    Коронка на имплантат
				                </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		70 080 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price  costs-table__price_mod">
					            		-
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		70 080 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price  costs-table__price_mod">
					            		-
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		70 080 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price  costs-table__price_mod">
					            		-
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_last">
				                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
				            </div>
				        </div>
				        <div class="costs-table__row">
				            <div class="costs-table__col costs-table__col_indent_md">
				                <div class="costs-table__title">
				                    Культевая вкладка
				                </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		18 000 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		18 000 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		18 000 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		18 000 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		18 000 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		18 000 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_last">
				                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
				            </div>
				        </div>
				        <div class="costs-table__row">
				            <div class="costs-table__col costs-table__col_indent_md">
				                <div class="costs-table__title">
				                    Культевая вкладка
				                </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		35 000 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		35 000 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		35 000 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		35 000 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		35 000 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		35 000 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_last">
				                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
				            </div>
				        </div>
				        <div class="costs-table__row">
				            <div class="costs-table__col costs-table__col_indent_md">
				                <div class="costs-table__title">
				                    Протезы нейлоновые
				                </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		50 100 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		50 100 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		50 100 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		50 100 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		50 100 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		50 100 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_last">
				                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
				            </div>
				        </div>
				        <div class="costs-table__row">
				            <div class="costs-table__col costs-table__col_indent_md">
				                <div class="costs-table__title">
				                    Циркониевые коронки
				                </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		20 080 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		20 080 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		20 080 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		20 080 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		20 080 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		20 080 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_last">
				                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
				            </div>
				        </div>
				        <div class="costs-table__row">
				            <div class="costs-table__col costs-table__col_indent_md">
				                <div class="costs-table__title">
				                    Протезы бюгельные
				                </div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		18 000 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		18 000 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		18 000 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		18 000 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_indent_sm">
				            	<div class="costs-table__item">
					            	<div class="costs-table__price costs-table__price_mod">
					            		18 000 р.
					            	</div>
				            	</div>
				            	<div class="costs-table__item">
					            	<div class="costs-table__price">
					            		18 000 р.
					            	</div>
				            	</div>
				            </div>
				            <div class="costs-table__col costs-table__col_last">
				                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
				            </div>
				        </div>
				    </div>
				    <div class="costs__btn">
				    	<a href="#" class="button button_hero">Показать все цены</a>
				    </div>
				</div>
				<div class="article article--sm article--mb-95">
					<p>
						Стоимость, указанная на сайте, не окончательная, не является <a href="#">Публичной офертой</a> и носит исключительно информационный характер. Цены в филиалах могут отличаться.
						Администрация отсавляет за собой право изменять цены. Вы можете уточнить стоимость по телефону.
					</p>
				</div>
        <div data-scroll="reviews">
				{% include './components/_reviews.html' %}

        </div>
			</div>
			<!-- end container -->
      <div data-scroll="sales">
			{% include "components/_sales-section.html" %}

      </div>

    <div data-scroll="license">
			{% include "components/_license.html" %}

    </div>
			<!-- begin container -->
      <div class="container">
				<div class="doctor-page__clinic-boxes" data-scroll="other-doctors">
					<h2 class="doctor-page__title">Врачи той же специальности поблизости</h2>
				  {% for doctor in doctorBlock2 %}
          {% include "blocks/_doctor-block2.html" %}
          {% endfor %}
				</div>
      </div>
			<!-- end container -->
			{% include './components/_callback.html' %}
      <div class="container">
			  {% include "components/_services.html" %}
      </div>
		</div>
	</div>
<!-- end doctor-page -->

{% endblock %}
