---
title: 'Стоматологи Москвы'
outMode: 'out--bg-gray'
logo: 'blue'
breadcrumbs: ['Zubza', 'Врачи']
toptext: 'На Zubza вы можете записаться на прием к стоматологу онлайн и найти адреса, цены, акции всех стоматологий Москвы и области. Бесплатная консультация и запись на исследование со скидками от Zubza.'
mapInPopup: [
{
	maplinkMode: 'map-link--search',
	popupData: 'popup-map',
	mapImg: 'map-search-img',
	maplinkText: 'Поиск стоматологий на карте'
}
]
filters:
  -
    title: 'Выбрать врача'
    type: 'select'
    selects:
      -
        icon: 'location'
        selectTitle: 'Метро, район или улица'
        values:
          - 'Алтуфьево'
          - 'Алтуфьево 1'
          - 'Алтуфьево 2'
      -
        icon: 'list'
        selectTitle: 'Протезирование'
        values:
          - 'Алтуфьево'
          - 'Алтуфьево 1'
          - 'Алтуфьево 2'
  -
    title: 'Пользуется спросом'
    type: 'checkbox'
    values:
      - 'Работает прямо сейчас'
      - 'Недорогие'
      - 'Бесплатная консультация'
  -
    title: 'Цена, руб.'
    type: 'range'
    min: 0
    max: 100000
    start: '12000 50000'
    startMin: '12 000'
    startMax: '50 000'
    step: 1000
  -
    title: 'Пол врача'
    type: 'checkbox'
    values:
      - 'Мужской'
      - 'Женский'
  -
    title: 'Стаж работы'
    type: 'checkbox'
    values:
      - 'До 5 лет'
      - 'От 5 до 10 лет'
      - 'От 10 лет'
  -
    title: 'Время работы'
    type: 'checkbox'
    values:
      - 'Работает сейчас'
      - 'Круглосуточно'
      - 'выходным'
  -
    title: 'Льготы'
    type: 'checkbox'
    values:
      - 'ОМС'
      - 'ДМС'
      - 'Пенсионерам'
      - 'Студентам'
  -
    title: 'Оплата и кредит'
    type: 'checkbox'
    values:
      - 'Кредит'
      - 'Рассрочка'
      - 'По карте'
      - 'Наличными'
  -
    title: 'Наличие парковки'
    type: 'checkbox'
    values:
      - 'Бесплатная, частная'
      - 'Платная, общественная'
  -
    title: 'Наличие акций'
    type: 'checkbox'
    values:
      - 'Все скидки и спецпредложения'
filterTaglist: [
  {
    item: 'Стоматолог'
  },
  {
    item: 'Ортодонт'
  },
  {
    item: 'Протезист'
  },
  {
    item: 'Хирург'
  },
  {
    item: 'Ортопед'
  },
  {
    item: 'Детский стоматолог'
  },
   {
    item: 'Хирург'
  },
  {
    item: '+ еще 10',
    special: true
  }
]
metaFilters: [
{
  metaMode: '',
  metalist: [
  {
    tagname: 'Zubza рекомендует '
  },
  {
    tagname: 'Самая низкая цена в начале '
  },
  {
    tagname: 'Лучший рейтинг и цена'
  },
  {
    tagname: 'Оценка по отзывам'
  }
  ]
}
]


mobFilters: [
  {
    icon: 'location',
    name: 'На карте'
  },
  {
    icon: 'sort',
    name: 'Сортировать',
    action: 'js-show-meta-filters'
  },
  {
    icon: 'filt',
    name: 'Фильтры',
    action: 'js-show-filters'
  }
]

sales: [
{
  sectionMode: '',
  title: 'Не нашли, что искали?',
  aftHeadText: 'Воспользуйтесь нашими специальными предложениями',
  list: [
  {
    title: 'Имплантаты Израиль марки Alfa Bio - ',
    oldPrice: '16000 руб.',
    price: '12000 руб.',
    date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
    text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
    name: 'Стоматология «Все Свои»',
    maplinkMode: '',
    popupData: 'popup-map',
    mapImg: 'map-link-img-default',
    location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
    locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
    workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
    btn: 'Записаться'
  },
  {
    title: 'Имплантаты Израиль марки Alfa Bio - ',
    oldPrice: '16000 руб.',
    price: '12000 руб.',
    date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
    text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
    name: 'Стоматология «Все Свои»',
    maplinkMode: '',
    popupData: 'popup-map',
    mapImg: 'map-link-img-default',
    location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
    locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
    workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
    btn: 'Записаться'
  },
  {
    title: 'Имплантаты Израиль марки Alfa Bio - ',
    oldPrice: '16000 руб.',
    price: '12000 руб.',
    date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
    text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
    name: 'Стоматология «Все Свои»',
    maplinkMode: '',
    popupData: 'popup-map',
    mapImg: 'map-link-img-default',
    location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
    locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
    workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
    btn: 'Записаться'
  }
  ]
}
]
popularLinks:
  - Круглосуточные стоматологии
  - Стоматологии в центре города
  - Самые низкие цены на лечение кариеса
  - Врачи-хирурги
  - Новые стоматологии
  - Стоматологии Москвы на карте
doctors: [
  {
    title: 'Ярцева Ирина Михайловна',
    avatar: 'ava.jpg',
    clinicBoxMode: 'clinic-box_small-content',
    discount: true,
    experience : 'стаж 10 лет',
    location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
    metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>',
    tablelist: [
        ['Консультация стоматолога', '<span class="text-cyan text-bold">Бесплатно</span>'],
        ['Лечение кариеса', '<span class="text-cyan text-bold">от 500 руб.</span>']
    ],
    comments: [
      {
        sliderParentMode: ' js-slider-count-parent',
        sliderMode: 'js-slider-count',
        headBlock: true,
        rateBlock: true,
        rateStarsMode: 'rate-stars--green',
        rateNumber: '4.6',
        rateNumberMode: 'rate-number--green',
        stars: [
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: ''}
    ],
        testSlides: [
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          },
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          }
        ],
        slideMode: '',
        countUsers: true,
        countUsersMode: 'count-users--mb-16 count-users--gray',
        countUsersBoughtMode: 'count-users__bought--cyan',
        countUsersGladMode: 'count-users__glad--green',
        slideTextMode: 'cslide__text--mb-none',
        countUsersBought: '70',
        countUsersGlad: '65',
        userIconMode: '',
        heartIconMode: '',
        info: 'Анна, 22.12.17',
        infoMode: 'cslide__info--gray',
        sliderCountBlock: true,
        recomend: false,
        readMore: true
      }
    ],
    taglist: ['Хирург', 'Парадонтолог'],
            rateNumber: '4.6',
        stars: [
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: ''}
    ],
  },
  {
    title: 'Ярцева Ирина Михайловна',
    avatar: 'ava.jpg',
    clinicBoxMode: 'clinic-box_small-content',
    discount: true,
    experience : 'стаж 10 лет',
    location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
    metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>',
    tablelist: [
        ['Консультация стоматолога', '<span class="text-cyan text-bold">Бесплатно</span>'],
        ['Лечение кариеса', '<span class="text-cyan text-bold">от 500 руб.</span>']
    ],
    comments: [
      {
        sliderParentMode: ' js-slider-count-parent',
        sliderMode: 'js-slider-count',
        headBlock: true,
        rateBlock: true,
        rateStarsMode: 'rate-stars--green',
        rateNumber: '4.6',
        rateNumberMode: 'rate-number--green',
        stars: [
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: ''}
    ],
        testSlides: [
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          },
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          }
        ],
        slideMode: '',
        countUsers: true,
        countUsersMode: 'count-users--mb-16 count-users--gray',
        countUsersBoughtMode: 'count-users__bought--cyan',
        countUsersGladMode: 'count-users__glad--green',
        slideTextMode: 'cslide__text--mb-none',
        countUsersBought: '70',
        countUsersGlad: '65',
        userIconMode: '',
        heartIconMode: '',
        info: 'Анна, 22.12.17',
        infoMode: 'cslide__info--gray',
        sliderCountBlock: true,
        recomend: false,
        readMore: true
      }
    ],
    taglist: ['Хирург', 'Парадонтолог'],
            rateNumber: '4.6',
        stars: [
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: ''}
    ],
  },
  {
    title: 'Ярцева Ирина Михайловна',
    avatar: 'ava.jpg',
    clinicBoxMode: 'clinic-box_small-content',
    discount: true,
    experience : 'стаж 10 лет',
    location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
    metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>',
    tablelist: [
        ['Консультация стоматолога', '<span class="text-cyan text-bold">Бесплатно</span>'],
        ['Лечение кариеса', '<span class="text-cyan text-bold">от 500 руб.</span>']
    ],
    comments: [
      {
        sliderParentMode: ' js-slider-count-parent',
        sliderMode: 'js-slider-count',
        headBlock: true,
        rateBlock: true,
        rateStarsMode: 'rate-stars--green',
        rateNumber: '4.6',
        rateNumberMode: 'rate-number--green',
        stars: [
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: ''}
    ],
        testSlides: [
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          },
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          }
        ],
        slideMode: '',
        countUsers: true,
        countUsersMode: 'count-users--mb-16 count-users--gray',
        countUsersBoughtMode: 'count-users__bought--cyan',
        countUsersGladMode: 'count-users__glad--green',
        slideTextMode: 'cslide__text--mb-none',
        countUsersBought: '70',
        countUsersGlad: '65',
        userIconMode: '',
        heartIconMode: '',
        info: 'Анна, 22.12.17',
        infoMode: 'cslide__info--gray',
        sliderCountBlock: true,
        recomend: false,
        readMore: true
      }
    ],
    taglist: ['Хирург', 'Парадонтолог'],
            rateNumber: '4.6',
        stars: [
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: ''}
    ],
  },
  {
    title: 'Ярцева Ирина Михайловна',
    avatar: 'ava.jpg',
    clinicBoxMode: 'clinic-box_small-content',
    discount: true,
    experience : 'стаж 10 лет',
    location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
    metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>',
    tablelist: [
        ['Консультация стоматолога', '<span class="text-cyan text-bold">Бесплатно</span>'],
        ['Лечение кариеса', '<span class="text-cyan text-bold">от 500 руб.</span>']
    ],
    comments: [
      {
        sliderParentMode: ' js-slider-count-parent',
        sliderMode: 'js-slider-count',
        headBlock: true,
        rateBlock: true,
        rateStarsMode: 'rate-stars--green',
        rateNumber: '4.6',
        rateNumberMode: 'rate-number--green',
        stars: [
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: ''}
    ],
        testSlides: [
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          },
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием.,'
          }
        ],
        slideMode: '',
        countUsers: true,
        countUsersMode: 'count-users--mb-16 count-users--gray',
        countUsersBoughtMode: 'count-users__bought--cyan',
        countUsersGladMode: 'count-users__glad--green',
        slideTextMode: 'cslide__text--mb-none',
        countUsersBought: '70',
        countUsersGlad: '65',
        userIconMode: '',
        heartIconMode: '',
        info: 'Анна, 22.12.17',
        infoMode: 'cslide__info--gray',
        sliderCountBlock: true,
        recomend: false,
        readMore: true
      }
    ],
    taglist: ['Хирург', 'Парадонтолог'],
            rateNumber: '4.6',
        stars: [
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: 'is-color'},
          {starMode: ''}
    ],
  }
]
servicesTitle: 'Или найдите нужную услугу'
services:
  -
    title: 'Лечение зубов'
    items:
      -
        name: 'Консультация'
        value: 'от 500р.'
      -
        name: 'Кариес'
        value: 'от 500р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Протезирование зубов'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Чистка и отбеливание'
    items:
      -
        name: 'Отбеливание Zoom'
        value: 'от 11000 р.'
      -
        name: 'Лазерное отбеливание'
        value: 'от 17000 р.'
      -
        name: 'Airflow'
        value: 'от 20000 р.'
      -
        name: 'Комплексная чистка'
        value: 'от 5000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Сопутствующие услуги'
    items:
      -
        name: 'Консультация'
        value: 'от 500 р.'
      -
        name: 'Кариес'
        value: 'от 300 р.'
      -
        name: 'Пульпит'
        value: 'от 1000 р.'
      -
        name: 'Восстановление зубов'
        value: 'от 10000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Хирургия'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Имплантация'
    items:
      -
        name: 'Отбеливание Zoom'
        value: 'от 11000 р.'
      -
        name: 'Лазерное отбеливание'
        value: 'от 17000 р.'
      -
        name: 'Airflow'
        value: 'от 20000 р.'
      -
        name: 'Комплексная чистка'
        value: 'от 5000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Пародонтология'
    items:
      -
        name: 'Консультация ортодонта'
        value: 'от 500 р.'
      -
        name: 'Керамические брекеты'
        value: 'от 10500 р.'
      -
        name: 'Металлические брекеты'
        value: 'от 7500 р.'
      -
        name: 'Сапфировые брекеты'
        value: 'от 50000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Ортодонтия'
    items:
      -
        name: 'Консультация ортодонта'
        value: 'от 500 р.'
      -
        name: 'Керамические брекеты'
        value: 'от 10500 р.'
      -
        name: 'Металлические брекеты'
        value: 'от 7500 р.'
      -
        name: 'Сапфировые брекеты'
        value: 'от 50000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Хирургия'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
clinicsNearby: {
  title: 'Стоматологии рядом',
  cols: [
    {
      title: 'Районы:',
      list: ['Бирюлёво Восточное', 'Бирюлёво Западное', 'Богородское', 'Братеево', 'Бутырский']
    },
    {
      title: 'Метро:',
      list: ['Алексеевский', 'Алтуфьевскийе', 'Арбат', 'Аэропорт', 'Бабушкинский']
    }
  ]
}
relativePosts: {
  title: 'Статьи',
  buttonUrl: '#',
  posts: [
    {
      url: '#',
      img: 'img/post-img-1.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'заболевания',
      tagcolor: '#ff016e'
    },
    {
      url: '#',
      img: 'img/post-img-2.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'симптомы',
      tagcolor: '#14c1e5'
    },
    {
      url: '#',
      img: 'img/post-img-3.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'полезное',
      tagcolor: '#74d15e'
    },
    {
      url: '#',
      img: 'img/post-img-4.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'заболевания',
      tagcolor: '#ff016e'
    }
  ]
}
searchBanner: {
  url: '#',
  title: 'Вернуться к поиску врача',
  img: '/svgo/doctor.svg',
  imgClass: 'image-group__head_doctor'
}

popupForm: {
  dataPopup: 'popup-appoint',
  name: 'Все стоматологи вашего городa',
  pic: 'img/doctor-black-white.png',
  form: {
    title: 'Протезист Ярцева Ангелина Алексеевна',
    text: '<p>г. Москва, ул. Волочаевская, д. 15, стр.1</p><p>ЦАО, Марксистская (1 км), Римская (1 км), Таганская (1 км)</p>',
    fields: [
      {
        label: 'Услуга',
        input: 'Название услуги'
      },
      {
        label: 'Дата и время',
        cols: [
          {
            datepicker: 'дд.мм.гг'
          },
          {
            select: {
              field: 'Время',
              options: ['9:30','10:00','11:00', '12:00', '12:30'],
            }
          }
        ]
      },
      {
        label: 'Ваше имя',
        input: 'Введите свое имя'
      },
      {
        label: 'Ваш телефон',
        input: '+7 ( ___ ) ___ - __ - __',
        invalid: true,
        validationMessage: 'Введите телефон'
      }
    ],
    submitButton: 'Записаться',
    policy: 'Нажимая кнопку «Записаться», вы принимаете и соглашаетесь с условиями <a href="">Публичной оферты</a> и <a href="">Политикой конфеденциальности</a>'
  }
}


---
{% extends "layouts/_layout.html" %}

{% block content %}
<!--begin doctors-page-->
<div class="doctors-page">
	<!--begin container-->
	<div class="container">
		{% include "components/_breadcrumbs.html" %}
	</div>
	<!--end container-->

    {% include "components/_top-info.html" %}


	<!--begin container-->
	<div class="container">

	</div>
	<!--end container-->
	<!--begin container-->
	<div class="container  doctors-page__mb-45">
		<!--begin col col_sm-->
		<div class="col col_sm">
			<!-- begin doctors-page__filters -->
			<div class="doctors-page__filters">
				{% include "components/_hospital-filters.html" %}
			</div>
        <!-- begin doctors-page__popular-links -->
      <div class="doctors-page__popular-links">
        <h4 class="h4">Популярное</h4>
        {% include "components/_popular-links.html" %}
      </div>
      <!-- end doctors-page__popular-links -->
      <div class="doctors-page__map">

        {% for test in mapInPopup %}
        {% include "components/_map-link.html" %}
        {% endfor %}
      </div>
			<!-- end doctors-page__filters -->
		</div>
		<!--end col col_sm-->
		<!--begin col col_lg-right-->
		<div class="col col_lg-right js-map-mob-append">
			<div class="filter-section">
				<h4 class="filter-section__title">Специализации врачей</h4>
				<!-- begin filter-section__taglist -->
				<div class="filter-section__taglist">
					<div class="tagi">
						<ul>
							{% for tag in filterTaglist %}
							<li><a href="#" {%if tag.special %}class="more-tags"{% endif %}>{{ tag.item }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<!-- end filter-section__taglist -->

        <!-- begin filter-section__mob-filters -->
        <div class="filter-section__mob-filters">
          {% include "components/_mob-filters.html" %}
        </div>
        <!-- end filter-section__mob-filters -->

				<!-- begin filter-section__meta-filters -->
				<div class="filter-section__meta-filters">
					{% include "components/_meta-filters.html" %}

				</div>
				<!-- end filter-section__meta-filters -->
			</div>
      <!--begin doctors-page__list-->
       <div class="doctors-page__list">
          {% for doctor in doctors %}
            {% include "components/_doctor-mod.html" %}
          {% endfor %}
       </div>
       <div class="centered">
         <a href="#" class="button button_hero">Показать еще стоматологов</a>
       </div>
       <!--end doctors-page__list-->
		</div>
		<!--end col col_lg-right-->
	</div>
	<!--end container-->
    <!--begin doctors-page__white-->
    <div class="doctors-page__white">
      {% include "components/_sales-section.html" %}
    </div>
    <!--end doctors-page__white-->
    {% include "components/_services.html" %}
    {% include "components/_clinics-nearby.html" %}
    <!--begin container-->
    <div class="container">
      {% include "components/_rel-posts.html" %}
    </div>
    <!--end container-->
     {% include "components/_search-banner.html" %}

</div>
<!--end doctors-page-->


{% endblock %}
