---
title: 'links'
outMode: 'out--links-popup js-links-popup-page-map-init'
popupForm: {
  dataPopup: 'popup-appoint',
  name: 'Все стоматологии вашего города',
  pic: 'img/house-black-white.png',
  form: {
    title: 'Стоматология «Все Свои» на Кронштадской',
    text: '<p>г. Москва, ул. Волочаевская, д. 15, стр.1</p><p>ЦАО, Марксистская (1 км), Римская (1 км), Таганская (1 км)</p>',
    fields: [
      {
        label: 'Врач',
        select: {
          field: 'Неважно',
          options: ['Неважно','Неважно','Неважно']
        }
      },
      {
        label: 'Услуга',
        input: 'Название услуги'
      },
      {
        label: 'Дата и время',
        cols: [
          {
            datepicker: 'дд.мм.гг'
          },
          {
            select: {
              field: 'Время',
              options: ['9:30','10:00','11:00', '12:00', '12:30'],
            }
          }
        ]
      },
      {
        label: 'Ваше имя',
        input: 'Введите свое имя'
      },
      {
        label: 'Ваш телефон',
        input: '+7 ( ___ ) ___ - __ - __',
        invalid: true,
        validationMessage: 'Введите телефон'
      }
    ],
    submitButton: 'Записаться',
    policy: 'Нажимая кнопку «Записаться», вы принимаете и соглашаетесь с условиями <a href="">Публичной оферты</a> и <a href="">Политикой конфеденциальности</a>'
  }
}
---
{% extends "layouts/_layout-do-not-use-in-production.html" %}

{% block content %}


{% endblock %}
