---

headerMain: true

banner:
  title: ['200 000 пациентов в год', 'доверяют нам свое здоровье и улыбку']
  items:
    -
      title: '200 000'
      text: 'клиник работают с Zubza'
      img: './img/clinic.png'
    -
      title: '4 534 235'
      text: 'врачей принимают по записи через Zubza '
      img: './img/doctor.png'
    -
      title: '8 734 234'
      text: 'проверенных отзыва о стоматологиях и врачах'
      img: './img/feedback.png'

faqSection: [
{
	sectionTitle: 'Часто задаваемые вопросы',
	jsFaq: true,
	arr: [
	{
		title: 'Почему стоит выбрать именно нас?',
		text: 'Выберите удобную дату и время приема и запишитесь на прием онлайн. Если вам сложно выбрать врача самостоятельно, позвоните нам по телефону 8 (495) 927-01-01 и операторы вам помогут.'
	},
	{
		title: 'Почему стоит выбрать именно нас?',
		text: 'Выберите удобную дату и время приема и запишитесь на прием онлайн. Если вам сложно выбрать врача самостоятельно, позвоните нам по телефону 8 (495) 927-01-01 и операторы вам помогут.'
	},
	{
		title: 'Почему стоит выбрать именно нас?',
		text: 'Выберите удобную дату и время приема и запишитесь на прием онлайн. Если вам сложно выбрать врача самостоятельно, позвоните нам по телефону 8 (495) 927-01-01 и операторы вам помогут.'
	},
	{
		title: 'Почему стоит выбрать именно нас?',
		text: 'Выберите удобную дату и время приема и запишитесь на прием онлайн. Если вам сложно выбрать врача самостоятельно, позвоните нам по телефону 8 (495) 927-01-01 и операторы вам помогут.'
	},
	{
		title: 'Почему стоит выбрать именно нас?',
		text: 'Выберите удобную дату и время приема и запишитесь на прием онлайн. Если вам сложно выбрать врача самостоятельно, позвоните нам по телефону 8 (495) 927-01-01 и операторы вам помогут.'
	},
	{
		title: 'Почему стоит выбрать именно нас?',
		text: 'Выберите удобную дату и время приема и запишитесь на прием онлайн. Если вам сложно выбрать врача самостоятельно, позвоните нам по телефону 8 (495) 927-01-01 и операторы вам помогут.'
	}
	]
}
]

appBlock: {
  title: 'Скачайте приложение, <br> чтобы пользоваться Zubza было еще удобнее',
  subtitle: '<p>Легко найти стоматологию неподалеку от вас</p><p>Запись к врачу в одно касание</p>',
  buttons: ['img/app-ios.png', 'img/app-android.png']
}

badgeSlider: {
  title: 'Акции стоматологий',
  badges: [
    {
      title: 'Постоянные скидки: пенсионерам, инвалидам, участникам ВОВ.',
      link: 'Стоматология Smile',
      url: '#'
    },
    {
      title: 'Компьютерная томография двух челюстей за 1520 рублей',
      link: 'Стоматология Комфорта',
      url: '#'
    },
    {
      title: 'Панорамный снимок +консультация - 800 рублей',
      link: 'Город улыбок',
      url: '#'
    },
    {
      title: 'Постоянные скидки: пенсионерам, инвалидам, участникам ВОВ',
      link: 'Стоматология Smile',
      url: '#'
    },
    {
      title: 'Компьютерная томография двух челюстей за 1520 рублей',
      link: 'Стоматология Комфорта',
      url: '#'
    },
    {
      title: 'Панорамный снимок +консультация - 800 рублей',
      link: 'Город улыбок',
      url: '#'
    }
  ]
}

servicesTitle: 'Стоматологические услуги, по которым ведется запись'

services:
  -
    title: 'Лечение зубов'
    items:
      -
        name: 'Консультация'
        value: 'от 500р.'
      -
        name: 'Кариес'
        value: 'от 500р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Протезирование зубов'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Чистка и отбеливание'
    items:
      -
        name: 'Отбеливание Zoom'
        value: 'от 11000 р.'
      -
        name: 'Лазерное отбеливание'
        value: 'от 17000 р.'
      -
        name: 'Airflow'
        value: 'от 20000 р.'
      -
        name: 'Комплексная чистка'
        value: 'от 5000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Сопутствующие услуги'
    items:
      -
        name: 'Консультация'
        value: 'от 500 р.'
      -
        name: 'Кариес'
        value: 'от 300 р.'
      -
        name: 'Пульпит'
        value: 'от 1000 р.'
      -
        name: 'Восстановление зубов'
        value: 'от 10000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Хирургия'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Имплантация'
    items:
      -
        name: 'Отбеливание Zoom'
        value: 'от 11000 р.'
      -
        name: 'Лазерное отбеливание'
        value: 'от 17000 р.'
      -
        name: 'Airflow'
        value: 'от 20000 р.'
      -
        name: 'Комплексная чистка'
        value: 'от 5000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Пародонтология'
    items:
      -
        name: 'Консультация ортодонта'
        value: 'от 500 р.'
      -
        name: 'Керамические брекеты'
        value: 'от 10500 р.'
      -
        name: 'Металлические брекеты'
        value: 'от 7500 р.'
      -
        name: 'Сапфировые брекеты'
        value: 'от 50000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Ортодонтия'
    items:
      -
        name: 'Консультация ортодонта'
        value: 'от 500 р.'
      -
        name: 'Керамические брекеты'
        value: 'от 10500 р.'
      -
        name: 'Металлические брекеты'
        value: 'от 7500 р.'
      -
        name: 'Сапфировые брекеты'
        value: 'от 50000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Хирургия'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'

---

{% set logo = 'white' %}

{% extends "layouts/_layout.html" %}

{% block content %}
<!-- begin main -->
	<div class="main">
		{% include "components/_hero.html" %}
		{% include "components/_video.html" %}
		{% include "components/_banner.html" %}
		{% include "components/_faq-section.html" %}
		{% include "components/_app.html" %}
		{% include "components/_badge-slider.html" %}
		{% include "components/_services.html" %}
		{% include './components/_goodies.html' %}
	</div>
<!-- end main -->
{% endblock %}