---
title: Max

table: {
  firstTitle: 'Вид протезирования',
  secondTitle: 'Цены в Москве',
  thirdTitle: 'Особенности',
  items: [{
      category: 'Керамические вкладки',
      price: 'от 18 080 р.',
      desc: 'Это пломбы, которые изготавливаются в лаборатории из композитного материала или керамики, и крепятся при помощи цемента. Являются альтернативой большим пломбам.',

    },{
      category: 'Коронка',
      price: 'от 18 080 р.',
      desc: 'Вид реставрации, закрывающий всю видимую поверхность зуба и придающий ему естественные форму и размер. Основные виды коронок: металлокерамические, цельнокерамические (в т.ч. на оксиде циркония), и цельнометаллические.',

    },{
      category: 'Керамические виниры',
      price: 'от 11 010 р.',
      desc: 'Это пломбы, которые изготавливаются в лаборатории из композитного материала или керамики, и крепятся при помощи цемента. Являются альтернативой большим пломбам.',

    },{
      category: 'Зубные имплантаты',
      price: 'от 15 000 р.',
      desc: 'Вид реставрации, закрывающий всю видимую поверхность зуба и придающий ему естественные форму и размер. Основные виды коронок: металлокерамические, цельнокерамические (в т.ч. на оксиде циркония), и цельнометаллические.',

    },{
      category: 'Мостовидный протез',
      price: 'от 18 080 р.',
      desc: 'Это пломбы, которые изготавливаются в лаборатории из композитного материала или керамики, и крепятся при помощи цемента. Являются альтернативой большим пломбам.',

    },{
      category: 'Съемные и частично съемные протезы',
      price: 'от 18 000 р.',
      desc: 'Вид реставрации, закрывающий всю видимую поверхность зуба и придающий ему естественные форму и размер. Основные виды коронок: металлокерамические, цельнокерамические (в т.ч. на оксиде циркония), и цельнометаллические.',
    }
  ]
}

breadcrumbs: ['Zubza', 'Справочник']

popularArticles: [
  {
    title: 'МРТ диагностика заболеваний печени',
    tagcolor: '#ff016e',
    tagname: 'заболевания',
    image: true
  },{
    title: 'Исследование эффективности ополаскивателей полости рта на основе растительных экстрактов',
    tagcolor: '#ff016e',
    tagname: 'ПОЛЕЗНОЕ',
    image: true
  },{
    title: 'Комплексная эстетическая и функциональная реабилитация пациента',
    tagcolor: '#ff016e',
    tagname: 'СИМПТОМЫ',
    image: true
  },{
    title: 'МРТ диагностика заболеваний печени',
    tagcolor: '#ff016e',
    tagname: 'заболевания',
    image: true
  }
]

clinicBox: {
  titlelink: {
    name: 'Стоматология «Имплантмастер»',
    url: ''
  },
  gallery: ['clinic-gallery.jpg', 'clinic-gallery.jpg', 'clinic-gallery.jpg'],
  location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
  metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
  worktime: 'Режим работы <br> Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
  priceList: [
    {
      category: 'Консультация стоматолога',
      price: 'Бесплатно'
    },{
      category: 'Лечение кариеса',
      price: 'от 500 руб.'
    },{
      category: 'Пульпит',
      price: 'от 1000 руб.'
    }
  ],
  rightButton: true
}

sliderDataClinic: [
  {
    sliderParentMode: ' js-slider-count-parent',
    sliderMode: 'js-slider-count',
    headBlock: true,
    headMode: '',
    rateBlock: true,
    rateStarsMode: 'rate-stars--green',
    stars: [
      {
        starMode: 'is-color'
      },
      {
        starMode: 'is-color'
      },
      {
        starMode: 'is-color'
      },
      {
        starMode: ''
      },
      {
        starMode: ''
      }
    ],
    rateNumberMode: 'rate-number--orange',
    rateNumber: '3.7',
    testSlides: [
      {
        text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
      },
      {
        text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
      }
      ,
      {
        text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
      }
      ,
      {
        text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
      }
    ],
    slideMode: '',
    countUsers: true,
    countUsersMode: 'count-users--mb-16 count-users--gray',
    countUsersBoughtMode: 'count-users__bought--cyan',
    countUsersGladMode: 'count-users__glad--green',
    slideTextMode: 'cslide__text--mb-none',
    countUsersBought: '70',
    countUsersGlad: '65',
    userIconMode: '',
    heartIconMode: '',
    info: 'Анна, 22.12.17',
    infoMode: 'cslide__info--gray',
    readMore: true,
    sliderCountBlock: true
  }
]
headerMain: true
logo: 'white'
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "components/_hero.html" %}

{% include "components/_footer.html" %}
<br>
<br>
<div class="container">
  {% include "components/_table.html" %}
</div>
<br>
<br>
<div class="container">
  {% include "components/_breadcrumbs.html" %}
  <h2>Протезирование зубов</h2>
  <div class="text">
    <p>
      Возможно ли недорого и без ущерба качеству выполнить протезирование зубов? Да, это возможно, но при наличии у стоматологической клиники нескольких атрибутов:
    </p>
    <ul class="list">
      <li class="list__item">собственной зуботехнической лаборатории</li>
      <li class="list__item">большого потока протезных работ</li>
      <li class="list__item">высокой квалификации персонала</li>
      <li class="list__item">меньшей торговой наценке на зубные протезы</li>
    </ul>
    <p>
      Все это удалось соединить в нашей стоматологической сети «Мой Зубной». Благодаря этому мы можем честно сказать - цены на протезирование зубов в наших клиниках одни из самых низких в Спб. Отдельно хочется заметить, все это достигается без экономии на материалах - в производстве протезов используются современные импортные материалы. На все виды протезирования дается гарантия (на съемные виды протезов - 6 месяцев, на несъемные - 12 месяцев).
    </p>
    <p>
      В текущий момент цены на протезирование в рамках акции "Цены-пополам!" снижены в 2 раза (все цены на сайте, указаны уже со скидкой):
    </p>
  </div>
</div>
<br>
<br>
{% include "components/_popular-articles.html" %}
<br>
<br>
{% include "components/_video.html" %}

<div style="width: 80%; margin: 0 auto">
  {% include "components/_short-hospital-info.html" %}
</div>



{% endblock %}
