---
title: Max

table: {
  firstTitle: 'Вид протезирования',
  secondTitle: 'Цены в Москве',
  thirdTitle: 'Особенности',
  items: [{
      category: 'Керамические вкладки',
      price: 'от 18 080 р.',
      desc: 'Это пломбы, которые изготавливаются в лаборатории из композитного материала или керамики, и крепятся при помощи цемента. Являются альтернативой большим пломбам.',

    },{
      category: 'Коронка',
      price: 'от 18 080 р.',
      desc: 'Вид реставрации, закрывающий всю видимую поверхность зуба и придающий ему естественные форму и размер. Основные виды коронок: металлокерамические, цельнокерамические (в т.ч. на оксиде циркония), и цельнометаллические.',

    },{
      category: 'Керамические виниры',
      price: 'от 11 010 р.',
      desc: 'Это пломбы, которые изготавливаются в лаборатории из композитного материала или керамики, и крепятся при помощи цемента. Являются альтернативой большим пломбам.',

    },{
      category: 'Зубные имплантаты',
      price: 'от 15 000 р.',
      desc: 'Вид реставрации, закрывающий всю видимую поверхность зуба и придающий ему естественные форму и размер. Основные виды коронок: металлокерамические, цельнокерамические (в т.ч. на оксиде циркония), и цельнометаллические.',

    },{
      category: 'Мостовидный протез',
      price: 'от 18 080 р.',
      desc: 'Это пломбы, которые изготавливаются в лаборатории из композитного материала или керамики, и крепятся при помощи цемента. Являются альтернативой большим пломбам.',

    },{
      category: 'Съемные и частично съемные протезы',
      price: 'от 18 000 р.',
      desc: 'Вид реставрации, закрывающий всю видимую поверхность зуба и придающий ему естественные форму и размер. Основные виды коронок: металлокерамические, цельнокерамические (в т.ч. на оксиде циркония), и цельнометаллические.',
    }
  ]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "components/_footer.html" %}
<br>
<br>
<div class="container">
  {% include "components/_table.html" %}
</div>
<br>
<br>


{% endblock %}
