---
title: Max

table: {
  firstTitle: 'Вид протезирования',
  secondTitle: 'Цены в Москве',
  thirdTitle: 'Особенности',
  items: [{
      category: 'Керамические вкладки',
      price: 'от 18 080 р.',
      desc: 'Это пломбы, которые изготавливаются в лаборатории из композитного материала или керамики, и крепятся при помощи цемента. Являются альтернативой большим пломбам.',

    },{
      category: 'Коронка',
      price: 'от 18 080 р.',
      desc: 'Вид реставрации, закрывающий всю видимую поверхность зуба и придающий ему естественные форму и размер. Основные виды коронок: металлокерамические, цельнокерамические (в т.ч. на оксиде циркония), и цельнометаллические.',

    },{
      category: 'Керамические виниры',
      price: 'от 11 010 р.',
      desc: 'Это пломбы, которые изготавливаются в лаборатории из композитного материала или керамики, и крепятся при помощи цемента. Являются альтернативой большим пломбам.',

    },{
      category: 'Зубные имплантаты',
      price: 'от 15 000 р.',
      desc: 'Вид реставрации, закрывающий всю видимую поверхность зуба и придающий ему естественные форму и размер. Основные виды коронок: металлокерамические, цельнокерамические (в т.ч. на оксиде циркония), и цельнометаллические.',

    },{
      category: 'Мостовидный протез',
      price: 'от 18 080 р.',
      desc: 'Это пломбы, которые изготавливаются в лаборатории из композитного материала или керамики, и крепятся при помощи цемента. Являются альтернативой большим пломбам.',

    },{
      category: 'Съемные и частично съемные протезы',
      price: 'от 18 000 р.',
      desc: 'Вид реставрации, закрывающий всю видимую поверхность зуба и придающий ему естественные форму и размер. Основные виды коронок: металлокерамические, цельнокерамические (в т.ч. на оксиде циркония), и цельнометаллические.',
    }
  ]
}

breadcrumbs: ['Zubza', 'Справочник']

popularArticles: [
  {
    title: 'МРТ диагностика заболеваний печени',
    tagcolor: '#ff016e',
    tagname: 'заболевания',
    image: true
  },{
    title: 'Исследование эффективности ополаскивателей полости рта на основе растительных экстрактов',
    tagcolor: '#ff016e',
    tagname: 'ПОЛЕЗНОЕ',
    image: true
  },{
    title: 'Комплексная эстетическая и функциональная реабилитация пациента',
    tagcolor: '#ff016e',
    tagname: 'СИМПТОМЫ',
    image: true
  },{
    title: 'МРТ диагностика заболеваний печени',
    tagcolor: '#ff016e',
    tagname: 'заболевания',
    image: true
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "components/_footer.html" %}
<br>
<br>
<div class="container">
  {% include "components/_table.html" %}
</div>
<br>
<br>
<div class="container">
  {% include "components/_breadcrumbs.html" %}
  <h2>Протезирование зубов</h2>
  <div class="text">
    <p>
      Возможно ли недорого и без ущерба качеству выполнить протезирование зубов? Да, это возможно, но при наличии у стоматологической клиники нескольких атрибутов:
    </p>
    <ul class="list">
      <li class="list__item">собственной зуботехнической лаборатории</li>
      <li class="list__item">большого потока протезных работ</li>
      <li class="list__item">высокой квалификации персонала</li>
      <li class="list__item">меньшей торговой наценке на зубные протезы</li>
    </ul>
    <p>
      Все это удалось соединить в нашей стоматологической сети «Мой Зубной». Благодаря этому мы можем честно сказать - цены на протезирование зубов в наших клиниках одни из самых низких в Спб. Отдельно хочется заметить, все это достигается без экономии на материалах - в производстве протезов используются современные импортные материалы. На все виды протезирования дается гарантия (на съемные виды протезов - 6 месяцев, на несъемные - 12 месяцев).
    </p>
    <p>
      В текущий момент цены на протезирование в рамках акции "Цены-пополам!" снижены в 2 раза (все цены на сайте, указаны уже со скидкой):
    </p>
  </div>
</div>
<br>
<br>
{% include "components/_popular-articles.html" %}
<br>
<br>
{% include "components/_video.html" %}

{% endblock %}
