---
title: Test Olya page


affiliateBlocks: [
  {
    mod: 'affiliate-block--clinic',
    title: {
      text: 'Стоматология «Все Свои» на Кронштадской',
      mod: 'box-title--md box-title--black'
    },
    taglist: ['Детские стоматологии', 'Клиники ортодонтии', 'Протезирование', 'Хирургия', 'Ортопедия', 'Имплантация', 'Протезирование', 'Детские стоматологии'],
    users: {
      bought: '70',
      glad: '65'
    },
    rate: {
      stars: [
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: ''
        }
      ],
      number: '4.6'
    },
    map: {
      image: 'img/clinic-map.jpg',
      popup: 'popup-map'
    },
    info: {
      location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
      worktime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
      metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>'
    }
  },
  {
    mod: 'affiliate-block--doctor',
    title: {
      text: 'Стоматология «Все Свои» на Кронштадской',
      mod: 'box-title--md box-title--black'
    },
    tablelist: [
      ['Консультация стоматолога', '<span class="text-cyan text-bold">Бесплатно</span>'],
      ['Лечение кариеса', '<span class="text-cyan text-bold">от 500 руб.</span>']
    ],
    users: {
      bought: '70',
      glad: '65'
    },
    rate: {
      stars: [
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: ''
        }
      ],
      number: '4.6'
    },
    map: {
      image: 'img/clinic-map.jpg',
      popup: 'popup-map'
    },
    info: {
      location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
      worktime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
      metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>'
    }
  }
]


doctorSliderBlocks: [
  {
    title: 'Ярцева<br>Ирина Михайловна',
    image: 'img/ava.jpg',
    experience: '10 лет',
    education: 'Диплом по специальности «Лечебное дело», Российский национальный исследовательский медицинский университет имени Н. И. Пирогова (2006 г.)<br>Интернатура по специальности "Терапия", Российский национальный исследовательский медицинский университет...',
    taglist: ['Хирург', 'Парадонтолог'],
    users: {
      bought: '70',
      glad: '65'
    },
    rate: {
      stars: [
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: ''
        }
      ],
      number: '4.6'
    },
    comments: [
      {
        sliderParentMode: ' js-slider-count-parent',
        sliderMode: 'js-slider-count',
        testSlides: [
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          },
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
        ],
        info: 'Анна, 22.12.17',
        infoMode: 'cslide__info--gray',
        sliderCountBlock: true,
        recomend: true,
      }
    ]
  }
]

dentBlocks: [
  {
    title: 'Стоматология «Имплантмастер»',
    gallery: ['img/clinic-gallery.jpg', 'img/clinic-gallery.jpg', 'img/clinic-gallery.jpg'],
    users: {
      bought: '70',
      glad: '65'
    },
    rate: {
      stars: [
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: ''
        }
      ],
      number: '4.6'
    },
    info: {
      location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
      worktime: 'Режим работы<br>Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
      metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>'
    },
    tablelist: [
      ['<a href="">Консультация стоматолога</a>', '<span class="text-cyan text-bold">Бесплатно</span>'],
      ['<a href="">Лечение кариеса</a>', '<span class="text-cyan text-bold">от 500 руб.</span>'],
      ['<a href="">Пульпит</a>', '<span class="text-cyan text-bold">от 1000 руб.</span>']
    ],
    comments: [
      {
        sliderParentMode: ' js-slider-count-parent',
        sliderMode: 'js-slider-count',
        testSlides: [
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          },
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
        ],
        info: 'Анна, 22.12.17',
        infoMode: 'cslide__info--gray',
        sliderCountBlock: true,
        recomend: true,
      }
    ]
  },
  {
    mod: 'dent-block--special',
    title: 'Стоматология «Имплантмастер»',
    gallery: ['img/clinic-gallery.jpg', 'img/clinic-gallery.jpg', 'img/clinic-gallery.jpg'],
    users: {
      bought: '70',
      glad: '65'
    },
    rate: {
      stars: [
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: 'is-color'
        },
        {
          starMode: ''
        }
      ],
      number: '4.6'
    },
    info: {
      location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
      worktime: 'Режим работы<br>Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
      metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>'
    },
    tablelist: [
      ['<a href="">Консультация стоматолога</a>', '<span class="text-cyan text-bold">Бесплатно</span>'],
      ['<a href="">Лечение кариеса</a>', '<span class="text-cyan text-bold">от 500 руб.</span>'],
      ['<a href="">Пульпит</a>', '<span class="text-cyan text-bold">от 1000 руб.</span>']
    ],
    comments: [
      {
        sliderParentMode: ' js-slider-count-parent',
        sliderMode: 'js-slider-count',
        testSlides: [
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          },
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
          ,
          {
            text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического'
          }
        ],
        info: 'Анна, 22.12.17',
        infoMode: 'cslide__info--gray',
        sliderCountBlock: true,
        recomend: true,
      }
    ],
    tags: ['Круглосуточно', 'Детская']
  }
]

---
{% extends "layouts/_layout.html" %}

{% block content %}

  <div class="container">

  {% for block in affiliateBlocks %}

    {% include "blocks/_affiliate-block.html" %}

  {% endfor %}

  {% for block in doctorSliderBlocks %}

    {% include "blocks/_doctor-slider-block.html" %}

  {% endfor %}

  {% for block in dentBlocks %}

    {% include "blocks/_dent-block.html" %}

  {% endfor %}

  </div>

{% endblock %}
