---
title: Olya

relativePosts: {
  title: 'Похожие статьи',
  buttonUrl: '#',
  posts: [
    {
      url: '#',
      img: 'img/post-img-1.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'заболевания',
      tagcolor: '#ff016e'
    },
    {
      url: '#',
      img: 'img/post-img-2.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'симптомы',
      tagcolor: '#14c1e5'
    },
    {
      url: '#',
      img: 'img/post-img-3.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'полезное',
      tagcolor: '#74d15e'
    },
    {
      url: '#',
      img: 'img/post-img-4.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'заболевания',
      tagcolor: '#ff016e'
    }
  ]
}

clinicsNearby: {
  title: 'Стоматологии рядом',
  cols: [
    {
      title: 'Районы:',
      list: ['Бирюлёво Восточное', 'Бирюлёво Западное', 'Богородское', 'Братеево', 'Бутырский']
    },
    {
      title: 'Метро:',
      list: ['Алексеевский', 'Алтуфьевскийе', 'Арбат', 'Аэропорт', 'Бабушкинский']
    }
  ]
}

appBlock: {
  title: 'Скачайте приложение, <br> чтобы пользоваться Zubza было еще удобнее',
  subtitle: '<p>Легко найти стоматологию неподалеку от вас</p><p>Запись к врачу в одно касание</p>',
  buttons: ['img/app-ios.png', 'img/app-android.png']
}

clinicBoxes: {
  title: 'Принимает в центрах',
  boxes: [
    {
      mod: 'clinic-box_mini',
      rate: {
        stars: [
          {
            starMode: 'is-color'
          },
          {
            starMode: 'is-color'
          },
          {
            starMode: 'is-color'
          },
          {
            starMode: 'is-color'
          },
          {
            starMode: ''
          }
        ],
        number: '4.6'
      },
      users: {
        bought: '70',
        glad: '65',
      },
      titlelink: {
        name: 'Стоматология «Все Свои» на Кронштадской',
        url: ''
      },
      tablelist: [
        ['Консультация стоматолога', '<span class="text-cyan text-bold">Бесплатно</span>'],
        ['Лечение кариеса', '<span class="text-cyan text-bold">от 500 руб.</span>']
      ],
      location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
      metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
      worktime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
      rightButton: true
    }
  ]
}

clinicBox: {
  rate: {
    stars: [
      {starMode: 'is-color'},
      {starMode: 'is-color'},
      {starMode: 'is-color'},
      {starMode: 'is-color'},
      {starMode: ''}
    ],
    number: '4.6'
  },
  users: {
    bought: '70',
    glad: '65',
  },
  title: 'Стоматология «Все Свои» ведет прием  по следующим специализациям',
  taglist: ['Детские стоматологии', 'Клиники ортодонтии', 'Протезирование', 'Хирургия', 'Ортопедия', 'Имплантация', 'Протезирование', 'Детские стоматологии'],
  textlist: [
    '<strong>250 врачей</strong> в штате стоматологмм «Все Свои»',
    'Сеть стоматологий работает <strong>с 2000 года</strong>',
    '<strong>100 филиалов</strong> по Москве и МО',
    '<strong>95 положительных отзывов</strong> от пользоваетлей Zubza',
    '<strong>2 активные акции</strong>'
    ],
  location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
  metro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
  worktime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
  leftButton: true
}

---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "components/_clinic-boxes.html" %}
<br>
<br>
<br>

<div class="container">

{% include "components/_clinic-box.html" %}

<br>
<br>
<br>

{% include "components/_rel-posts.html" %}
<br>
<br>
<br>

</div>

{% include "components/_clinics-nearby.html" %}

<br>
<br>
<br>

{% include "components/_app.html" %}

<br>
<br>
<br>

{% endblock %}
