---
title: Olya

relativePosts: {
  title: 'Похожие статьи',
  buttonUrl: '#',
  posts: [
    {
      url: '#',
      img: 'img/post-img-1.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'заболевания',
      tagcolor: '#ff016e'
    },
    {
      url: '#',
      img: 'img/post-img-2.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'симптомы',
      tagcolor: '#14c1e5'
    },
    {
      url: '#',
      img: 'img/post-img-3.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'полезное',
      tagcolor: '#74d15e'
    },
    {
      url: '#',
      img: 'img/post-img-4.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'заболевания',
      tagcolor: '#ff016e'
    }
  ]
}

dotsSliderOneslide: {
  title: 'Рекомендованные клиники',
  list: [
    {
      url: '#',
      name: 'Центр стоматологии «Интан»',
      locationUrl: '#',
      location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
      metro: [
        {
          url: '#',
          name: 'ЦАО'
        },
        {
          url: '#',
          name: 'Марксистская',
          distance: '1 км'
        }
      ]
    }
  ]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "components/_rel-posts.html" %}

{% include "components/_rec-hospitals.html" %}

{% endblock %}
