---
title: Olya

relativePosts: {
  title: 'Похожие статьи',
  buttonUrl: '#',
  posts: [
    {
      url: '#',
      img: 'img/post-img-1.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'заболевания',
      tagcolor: '#ff016e'
    },
    {
      url: '#',
      img: 'img/post-img-2.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'симптомы',
      tagcolor: '#14c1e5'
    },
    {
      url: '#',
      img: 'img/post-img-3.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'полезное',
      tagcolor: '#74d15e'
    },
    {
      url: '#',
      img: 'img/post-img-4.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'заболевания',
      tagcolor: '#ff016e'
    }
  ]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "components/_rel-posts.html" %}

{% endblock %}
