---
title: Serhii

faqSection: [
{
	sectionTitle: 'Часто задаваемые вопросы',
	jsFaq: true,
	arr: [
	{
		title: 'Почему стоит выбрать именно нас?',
		text: 'Выберите удобную дату и время приема и запишитесь на прием онлайн. Если вам сложно выбрать врача самостоятельно, позвоните нам по телефону 8 (495) 927-01-01 и операторы вам помогут.'
	},
	{
		title: 'Почему стоит выбрать именно нас?',
		text: 'Выберите удобную дату и время приема и запишитесь на прием онлайн. Если вам сложно выбрать врача самостоятельно, позвоните нам по телефону 8 (495) 927-01-01 и операторы вам помогут.'
	},
	{
		title: 'Почему стоит выбрать именно нас?',
		text: 'Выберите удобную дату и время приема и запишитесь на прием онлайн. Если вам сложно выбрать врача самостоятельно, позвоните нам по телефону 8 (495) 927-01-01 и операторы вам помогут.'
	},
	{
		title: 'Почему стоит выбрать именно нас?',
		text: 'Выберите удобную дату и время приема и запишитесь на прием онлайн. Если вам сложно выбрать врача самостоятельно, позвоните нам по телефону 8 (495) 927-01-01 и операторы вам помогут.'
	},
	{
		title: 'Почему стоит выбрать именно нас?',
		text: 'Выберите удобную дату и время приема и запишитесь на прием онлайн. Если вам сложно выбрать врача самостоятельно, позвоните нам по телефону 8 (495) 927-01-01 и операторы вам помогут.'
	},
	{
		title: 'Почему стоит выбрать именно нас?',
		text: 'Выберите удобную дату и время приема и запишитесь на прием онлайн. Если вам сложно выбрать врача самостоятельно, позвоните нам по телефону 8 (495) 927-01-01 и операторы вам помогут.'
	}
	]
}
]

sliderData: [
{
	sliderParentMode: 'count-slider--w280 js-slider-count-parent',
	sliderMode: 'js-slider-count',
	testSlides: [
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала'
	},
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала'
	}
	,
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала'
	}
	,
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала'
	}
	],
	slideMode: 'cslide--blue',
	headBlock: true,
	headMode: '',
	headText: 'Отзывы',
	rateBlock: true,
	rateStarsMode: '',
	stars: [
	{
		starMode: 'is-color'
	},
	{
		starMode: 'is-color'
	},
	{
		starMode: 'is-color'
	},
	{
		starMode: ''
	},
	{
		starMode: ''
	}
	],
	rateNumberMode: '',
	rateNumber: '3.7',
	countUsers: true,
	countUsersMode: 'count-users--mb-16',
	countUsersBought: '70',
	countUsersGlad: '55',
	userIconMode: '',
	heartIconMode: '',
	info: 'Анна, 22.12.17',
	person: 'Яковлева Ирина Сергеевна',
	btn: 'Все врачи специальности',
	btnMode: 'btn btn--pink',
	sliderCountBlock: true,
	location: false,
	recomend: false,
	readMore: false
}
]
hospitalDotsSlider: [
{
	sliderParentMode: 'count-slider--w280 count-slider--dots',
	sliderMode: 'js-dots-slider-oneslide',
	testSlides: [
	{
		text: ''
	},
	{
		text: ''
	}
	,
	{
		text: ''
	}
	,
	{
		text: ''
	}
	],
	slideMode: '',
	headBlock: true,
	headMode: 'cslide__head--cyan-border',
	headText: '<a href="#">Центр стоматологии «Интан»</a>',
	rateBlock: true,
	rateStarsMode: 'rate-stars--green rate-stars--sm',
	stars: [
	{
		starMode: 'is-color'
	},
	{
		starMode: 'is-color'
	},
	{
		starMode: 'is-color'
	},
	{
		starMode: ''
	},
	{
		starMode: ''
	}
	],
	rateNumberMode: 'rate-number--orange rate-number--sm',
	rateNumber: '3.7',
	countUsers: false,

	btn: 'Все стоматологии протезирования',
	btnMode: 'btn btn--green',
	sliderCountBlock: false,
	location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
	locationMode: 'location-info--dashed',
	locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>',
	moreLink: 'Подробнее о клинике',
	workingTime: false

}
]
sliderData2: [

{
	sliderParentMode: ' js-slider-count-parent',
	sliderMode: 'js-slider-count',
	testSlides: [
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	},
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	}
	,
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	}
	,
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	}
	],
	slideMode: '',
	countUsers: true,
	countUsersMode: 'count-users--mb-12 count-users--gray',
	countUsersBoughtMode: 'count-users__bought--cyan',
	countUsersGladMode: 'count-users__glad--green',
	slideTextMode: 'cslide__text--mb-14',
	countUsersBought: '70',
	countUsersGlad: '65',
	userIconMode: '',
	heartIconMode: '',
	info: 'Анна, 22.12.17',
	infoMode: 'cslide__info--gray',
	sliderCountBlock: true,
	recomend: true,
}
]
sliderData3: [

{
	sliderParentMode: ' js-slider-count-parent',
	sliderMode: 'js-slider-count',
	headBlock: true,
	headMode: '',
	rateBlock: true,
	rateStarsMode: 'rate-stars--green',
	stars: [
	{
		starMode: 'is-color'
	},
	{
		starMode: 'is-color'
	},
	{
		starMode: 'is-color'
	},
	{
		starMode: ''
	},
	{
		starMode: ''
	}
	],
	rateNumberMode: 'rate-number--orange',
	rateNumber: '3.7',
	testSlides: [
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	},
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	}
	,
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	}
	,
	{
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала к своему лечащему врачу.'
	}
	],
	slideMode: '',
	countUsers: true,
	countUsersMode: 'count-users--mb-16 count-users--gray',
	countUsersBoughtMode: 'count-users__bought--cyan',
	countUsersGladMode: 'count-users__glad--green',
	slideTextMode: 'cslide__text--mb-none',
	countUsersBought: '70',
	countUsersGlad: '65',
	userIconMode: '',
	heartIconMode: '',
	info: 'Анна, 22.12.17',
	infoMode: 'cslide__info--gray',
	readMore: true,
	sliderCountBlock: true

}
]

doubleSliderData: [
{
	sliderParentMode: 'count-slider--double',
	sliderMode: 'js-double-slider',
	testSlides: [
	{
		text: ''
	},
	{
		text: ''
	}
	,
	{
		text: ''
	}
	,
	{
		text: ''
	}
	],
	slideMode: 'cslide--double',
	headBlock: true,
	headMode: 'cslide__head--cyan-border cslide__head--m',
	headText: '<a href="#">Центр стоматологии «Интан»</a>',
	rateBlock: true,
	rateStarsMode: 'rate-stars--green ',
	stars: [
	{
		starMode: 'is-color'
	},
	{
		starMode: 'is-color'
	},
	{
		starMode: 'is-color'
	},
	{
		starMode: ''
	},
	{
		starMode: ''
	}
	],
	rateNumberMode: 'rate-number--orange ',
	rateNumber: '3.7',
	countUsers: false,
	location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
	locationMode: 'location-info--dashed',
	locationMetro: '<a href="#">ЦАО</a>, 
	<a href="#">Марксистская <span class="gray-color">(1 км)</span></a>',
	<a href="#">Римская <span class="gray-color">(1 км)</span></a>,
	<a href="#">Таганская <span class="gray-color">(1 км)</span></a>',
	workingTime: 'Круглосуточно',
	map: true,
	maplinkMode: '',
	popupData: 'popup-map',
	mapImg: 'map-double-slider',

}
]
metaFilters: [
{
	metaMode: 'meta-filters--w-830 meta-filters--mb-31',
	metalist: [
	{
		tagname: 'Популярное'
	},
	{
		color: '#74d15e',
		tagname: 'Полезное'
	},
	{
		color: '#ff016e',
		tagname: 'Заболевания'
	},
	{
		color: '#14c1e5',
		tagname: 'Симптомы'
	}
	]
}
]
anchors: [
{
	mode: 'anchors--mb-75',
	anchorslist: [
	{
		text: 'Описание и контактная информация'
	},
	{
		text: 'Цены'
	},
	{
		text: 'Отзывы '
	},
	{
		text: 'Врачи'
	},
	{
		text: 'Лицензии и сертификаты'
	},
	{
		text: 'Фото клиники',
		active: 'is-active'
	},
	{
		text: 'Акции'
	},
	{
		text: 'Филиалы'
	}
	]
}
]
sales: [
{
	sectionMode: '',
	title: 'Акции в сети стоматологических клиник «Все Свои»',
	aftHeadText: false,
	list: [
	{
		title: 'Имплантаты Израиль марки Alfa Bio - ',
		oldPrice: '16000 руб.',
		price: '12000 руб.',
		date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
		name: 'Стоматология «Все Свои»',
		maplinkMode: '',
		popupData: 'popup-map',
		mapImg: 'map-link-img-default',
		location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
		locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
		workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
		btn: 'Записаться'
	},
	{
		title: 'Имплантаты Израиль марки Alfa Bio - ',
		oldPrice: '16000 руб.',
		price: '12000 руб.',
		date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
		name: 'Стоматология «Все Свои»',
		maplinkMode: '',
		popupData: 'popup-map',
		mapImg: 'map-link-img-default',
		location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
		locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
		workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
		btn: 'Записаться'
	},
	{
		title: 'Имплантаты Израиль марки Alfa Bio - ',
		oldPrice: '16000 руб.',
		price: '12000 руб.',
		date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
		name: 'Стоматология «Все Свои»',
		maplinkMode: '',
		popupData: 'popup-map',
		mapImg: 'map-link-img-default',
		location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
		locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
		workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
		btn: 'Записаться'
	}
	]
}
]
mapInPopup: [
{
	maplinkMode: 'map-link--search',
	popupData: 'popup-map',
	mapImg: 'map-search-img',
	maplinkText: 'Поиск стоматологий на карте'
}
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "components/_faq-section.html" %}

{% for test in sliderData %}
{% include "components/_count-slider.html" %}
{% endfor %}
<div style="max-width: 400px; margin: 0 auto">
	{% for test in sliderData2 %}
	{% include "components/_count-slider.html" %}
	{% endfor %}
</div>
<div style="max-width: 280px; margin: 0 auto">
	{% for test in sliderData3 %}
	{% include "components/_count-slider.html" %}
	{% endfor %}
</div>
<div style="max-width: 280px; margin: 0 auto 50px">
	{% for test in mapInPopup %}
	{% include "components/_map-link.html" %}
	{% endfor %}
</div>
<!-- begin rec-hospitals -->
<div class="rec-hospitals">
	<h4 class="rec-hospitals__title">Рекомендованные клиники</h4>
	<!-- begin rec-hospitals__inner -->
	<div class="rec-hospitals__inner">
		{% for test in hospitalDotsSlider %}
		{% include "components/_count-slider.html" %}
		{% endfor %}
	</div>
	<!-- end rec-hospitals__inner -->
</div>
<!-- end rec-hospitals -->
{% include "components/_section-double-slider.html" %}


{% include "components/_meta-filters.html" %}
{% include "components/_anchors.html" %}
{% include "components/_sales-section.html" %}


{% endblock %}
