---
title: 'Лечение кареса'
logo: 'blue'
outMode: 'out--bg-gray'
breadcrumbs: ['Zubza', 'Услуги и цены']

filters:
  -
    title: 'Подобрать клинику'
    type: 'select'
    selects:
      -
        icon: 'location'
        selectTitle: 'Метро, район или улица'
        values:
          - 'Алтуфьево'
          - 'Алтуфьево 1'
          - 'Алтуфьево 2'
      -
        icon: 'list'
        selectTitle: 'Услуга, врач или клиника'
        values:
          - 'Алтуфьево'
          - 'Алтуфьево 1'
          - 'Алтуфьево 2'
  -
    title: 'Пользуется спросом'
    type: 'checkbox'
    values:
      - 'Круглосуточные'
      - 'Недорогие'
      - 'Бесплатная консультация'
  -
    title: 'Цена, руб.'
    type: 'range'
    min: 0
    max: 100000
    start: '12000 50000'
    startMin: '12 000'
    startMax: '50 000'
    step: 1000
  -
    title: 'Тип клиники'
    type: 'checkbox'
    values:
      - 'Частная'
      - 'Государственная'
  -
    title: 'Время работы'
    type: 'checkbox'
    values:
      - 'Работает сейчас'
      - 'Круглосуточно'
      - 'По выходным'
  -
    title: 'Льготы'
    type: 'checkbox'
    values:
      - 'ОМС'
      - 'ДМС'
      - 'Пенсионерам'
      - 'Студентам'
  -
    title: 'Оплата и кредит'
    type: 'checkbox'
    values:
      - 'Кредит'
      - 'Рассрочка'
      - 'По карте'
      - 'Наличными'
  -
    title: 'Наличие парковки'
    type: 'checkbox'
    values:
      - 'Бесплатная, частная'
      - 'Платная, общественная'
  -
    title: 'Наличие акций'
    type: 'checkbox'
    values:
      - 'Все скидки и спецпредложения'

metaFilters: [
{
  metaMode: '',
  metalist: [
  {
    tagname: 'Zubza рекомендует ',
    active: true
  },
  {
    tagname: 'Самая низкая цена в начале '
  },
  {
    tagname: 'Лучший рейтинг и цена'
  },
  {
    tagname: 'Оценка по отзывам'
  }
  ]
}
]

sales: [
{
	sectionMode: '',
	title: 'Не нашли что искали?',
	aftHeadText: 'Воспользуйтесь нашими специальными предложениями',
	list: [
	{
		title: 'Имплантаты Израиль марки Alfa Bio - ',
		oldPrice: '16000 руб.',
		price: '12000 руб.',
		date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
		name: 'Стоматология «Все Свои»',
		maplinkMode: '',
		popupData: 'popup-map',
		mapImg: 'map-link-img-default',
		location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
		locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
		workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
		btn: 'Записаться'
	},
	{
		title: 'Имплантаты Израиль марки Alfa Bio - ',
		oldPrice: '16000 руб.',
		price: '12000 руб.',
		date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
		name: 'Стоматология «Все Свои»',
		maplinkMode: '',
		popupData: 'popup-map',
		mapImg: 'map-link-img-default',
		location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
		locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
		workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
		btn: 'Записаться'
	},
	{
		title: 'Имплантаты Израиль марки Alfa Bio - ',
		oldPrice: '16000 руб.',
		price: '12000 руб.',
		date: 'Срок действия: с 20 декабря по 25 декабря 2017 г.',
		text: 'Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых',
		name: 'Стоматология «Все Свои»',
		maplinkMode: '',
		popupData: 'popup-map',
		mapImg: 'map-link-img-default',
		location: 'г. Москва, ул. Волочаевская, д. 15, стр.1',
		locationMetro: '<a href="#">ЦАО</a>, <a href="#">Марксистская <span class="gray-color">(1 км)</span></a>, <a href="#">Римская <span class="gray-color">(3 км)</span></a>',
		workingTime: 'Пн-Вт 9:00 – 21:00, Сб-Вс выходной',
		btn: 'Записаться'
	}
	]
}
]

servicesTitle: 'Найдите нужную услугу'

services:
  -
    title: 'Лечение зубов'
    items:
      -
        name: 'Консультация'
        value: 'от 500р.'
      -
        name: 'Кариес'
        value: 'от 500р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Протезирование зубов'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Чистка и отбеливание'
    items:
      -
        name: 'Отбеливание Zoom'
        value: 'от 11000 р.'
      -
        name: 'Лазерное отбеливание'
        value: 'от 17000 р.'
      -
        name: 'Airflow'
        value: 'от 20000 р.'
      -
        name: 'Комплексная чистка'
        value: 'от 5000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Сопутствующие услуги'
    items:
      -
        name: 'Консультация'
        value: 'от 500 р.'
      -
        name: 'Кариес'
        value: 'от 300 р.'
      -
        name: 'Пульпит'
        value: 'от 1000 р.'
      -
        name: 'Восстановление зубов'
        value: 'от 10000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Хирургия'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Имплантация'
    items:
      -
        name: 'Отбеливание Zoom'
        value: 'от 11000 р.'
      -
        name: 'Лазерное отбеливание'
        value: 'от 17000 р.'
      -
        name: 'Airflow'
        value: 'от 20000 р.'
      -
        name: 'Комплексная чистка'
        value: 'от 5000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Пародонтология'
    items:
      -
        name: 'Консультация ортодонта'
        value: 'от 500 р.'
      -
        name: 'Керамические брекеты'
        value: 'от 10500 р.'
      -
        name: 'Металлические брекеты'
        value: 'от 7500 р.'
      -
        name: 'Сапфировые брекеты'
        value: 'от 50000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Ортодонтия'
    items:
      -
        name: 'Консультация ортодонта'
        value: 'от 500 р.'
      -
        name: 'Керамические брекеты'
        value: 'от 10500 р.'
      -
        name: 'Металлические брекеты'
        value: 'от 7500 р.'
      -
        name: 'Сапфировые брекеты'
        value: 'от 50000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Хирургия'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'

clinicsNearby: {
  title: 'Стоматологии рядом',
  cols: [
    {
      title: 'Районы:',
      list: ['Бирюлёво Восточное', 'Бирюлёво Западное', 'Богородское', 'Братеево', 'Бутырский']
    },
    {
      title: 'Метро:',
      list: ['Алексеевский', 'Алтуфьевскийе', 'Арбат', 'Аэропорт', 'Бабушкинский']
    }
  ]
}

relativePosts: {
  title: 'Похожие статьи',
  buttonUrl: '#',
  posts: [
    {
      url: '#',
      img: 'img/post-img-1.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'заболевания',
      tagcolor: '#ff016e'
    },
    {
      url: '#',
      img: 'img/post-img-2.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'симптомы',
      tagcolor: '#14c1e5'
    },
    {
      url: '#',
      img: 'img/post-img-3.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'полезное',
      tagcolor: '#74d15e'
    },
    {
      url: '#',
      img: 'img/post-img-4.jpg',
      title: 'МРТ диагностика заболеваний печени',
      text: 'Среди других паренхиматозных органов человеческого организма печень занимает главенствующую роль, выполняя множество',
      tagname: 'заболевания',
      tagcolor: '#ff016e'
    }
  ]
}

searchBanner: {
  url: '#',
  title: 'Вернутся к поиску клиники'
}

---
{% extends "layouts/_layout.html" %}

{% block content %}
<!-- begin service-page -->
	<div class="service-page">
		<!-- begin container -->
			<div class="container">
				{% include "components/_breadcrumbs.html" %}
			</div>
		<!-- end container -->
		<!-- begin container -->
			<div class="container">
				<div class="col col_sm">
					{% include "components/_hospital-filters.html" %}
				</div>
				<div class="col col_lg-right">
					{% include "components/_meta-filters.html" %}
				</div>	
			</div>
		<!-- end container -->
		<!-- begin section -->
			<div class="section">
				{% include "components/_sales-section.html" %}
			</div>
		<!-- end section -->
		{% include "components/_services.html" %}
		{% include "components/_clinics-nearby.html" %}
		<!-- begin container -->
			<div class="container">
				{% include "components/_rel-posts.html" %}
			</div>
		<!-- end container -->
		{% include "components/_search-banner.html" %}
	</div>
<!-- end service-page -->
{% endblock %}