---

services:
  -
    title: 'Лечение зубов'
    items:
      -
        name: 'Консультация'
        value: 'от 500р.'
      -
        name: 'Кариес'
        value: 'от 500р.'
      -
        name: 'Пульпит'
        value: 'от 7000р.'
      -
        name: 'Восстановление зубов'
        value: 'от 1500р.'
  -
    title: 'Протезирование зубов'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
  -
    title: 'Чистка и отбеливание'
    items:
      -
        name: 'Отбеливание Zoom'
        value: 'от 11000 р.'
      -
        name: 'Лазерное отбеливание'
        value: 'от 17000 р.'
      -
        name: 'Airflow'
        value: 'от 20000 р.'
      -
        name: 'Комплексная чистка'
        value: 'от 5000 р.'
  -
    title: 'Сопутствующие услуги'
    items:
      -
        name: 'Консультация'
        value: 'от 500 р.'
      -
        name: 'Кариес'
        value: 'от 300 р.'
      -
        name: 'Пульпит'
        value: 'от 1000 р.'
      -
        name: 'Восстановление зубов'
        value: 'от 10000 р.'
  -
    title: 'Хирургия'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'
  -
    title: 'Имплантация'
    items:
      -
        name: 'Отбеливание Zoom'
        value: 'от 11000 р.'
      -
        name: 'Лазерное отбеливание'
        value: 'от 17000 р.'
      -
        name: 'Airflow'
        value: 'от 20000 р.'
      -
        name: 'Комплексная чистка'
        value: 'от 5000 р.'
  -
    title: 'Пародонтология'
    items:
      -
        name: 'Консультация ортодонта'
        value: 'от 500 р.'
      -
        name: 'Керамические брекеты'
        value: 'от 10500 р.'
      -
        name: 'Металлические брекеты'
        value: 'от 7500 р.'
      -
        name: 'Сапфировые брекеты'
        value: 'от 50000 р.'
  -
    title: 'Ортодонтия'
    items:
      -
        name: 'Консультация ортодонта'
        value: 'от 500 р.'
      -
        name: 'Керамические брекеты'
        value: 'от 10500 р.'
      -
        name: 'Металлические брекеты'
        value: 'от 7500 р.'
      -
        name: 'Сапфировые брекеты'
        value: 'от 50000 р.'
  -
    title: 'Хирургия'
    items:
      -
        name: 'Гибкие зубные протезы'
        value: 'от 15000 р.'
      -
        name: 'Металлокерамика'
        value: 'от 15000 р.'
      -
        name: 'Цирконий'
        value: 'от 15000 р.'
      -
        name: 'Виниры'
        value: 'от 7000 р.'

pagination:
  max: 22
  min: 5
  text: 'Больше статей:'

contents:
  - 'Протезирование зубов'
  - 'Виды протезирования зубов'
  - 'Самые низкие цены на протезирование'
  - 'Врачи-хирурги'
  - 'Цены в Москве на протезирование'
  - 'Стоматологии Москвы на карте'

articleContent:
  -
    title: 'Заболевания'
    popularArticles:
      -
        title: 'Комплексное лечение мышечно-суставной дисфункции височно-нижнечелюстных суставов'
        tagcolor: '#ff016e'
        tagname: 'заболевания'
      -  
        title: 'Реставрация фронтальных зубов у ортодонтического пациента'
        tagcolor: '#ff016e'
        tagname: 'заболевания'
      -
        title: 'Немедленная имплантация центрального резца с немедленной нагрузкой'
        tagcolor: '#ff016e'
        tagname: 'заболевания'
    preview:
      image: './img/article-preview.png'
      title: 'Восстановление эстетики улыбки с помощью керамических виниров и коронок'
      tagname: 'заболевания'
      tagcolor: '#ff016e'
      text: 'Все это удалось соединить в нашей стоматологической сети «Мой Зубной». Благодаря этому мы можем честно сказать - цены на протезирование зубов в наших клиниках одни из самых низких в Спб. Отдельно хочется заметить, все это достигается без экономии на материалах - в производстве протезов используются современные импортные материалы. На все виды протезирования дается гарантия (на съемные виды протезов - 6 месяцев, на несъемные - 12 месяцев). В текущий момент цены на протезирование в рамках акции "Цены-пополам!" снижены в 2 раза (все цены на сайте, указаны уже со скидкой):'

---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "components/_services.html" %}
<br/>
{% include "components/_articles-contents.html" %}
<br />
{% include "components/_pagination.html" %}
<br />
{% include "components/_articles-container.html" %}
<br />

{% endblock %}