.article-content
	&__mob-img
		+md
			padding-top: 16px
		img
			max-width: 100%
			height: auto
			border-radius: 5px
			margin-left: auto
			margin-right: auto
	.col_lg-left
		padding-right: 40px
		+md
			padding-right: 0
	.article-table
		padding-bottom: 30px

	.accompanying-product
		padding-top: 36px
		padding-bottom: 42px
		+md
			display: none 
	.article-faq
		padding-top: 35px
		padding-bottom: 35px

	.similar-post
		padding-top: 47px
		padding-bottom: 99px
		+sm
			padding: 0
			.rel-posts
				padding-top: 0
	.article-review
		margin-bottom: 45px
	.article-reviews
		+md
			display: none 
	.article-rec
		margin-bottom: 26px 
		+md
			display: none 
	.article-info
		margin-bottom: 45px
		+md
			display: none
