.clinics
	&__map
		+md
			display: none
	&__topmap
		.map-link
			height: 88px
			p
				padding: 4px 5px 1px
	&__filters
		margin-bottom: 28px
		// +md
		// 	display: none
	&__popular-links
		margin-bottom: 17px
		.h4
			margin-bottom: 8px
		+md
			display: none
	&__sales
		padding: 100px 0 50px
		.section-sales
			&__title
				font-size: 35px
				margin-bottom: 5px
	&__services
		.services
			padding-top: 0
	&__doctor-list
		margin-bottom: 100px
.filter-section
	&__title
		margin-bottom: 13px
		+md
			display: none
	&__taglist
		margin-bottom: 8px
		.tagi
			ul
				margin: 0
				li
					padding: 0 3px
					a
						padding: 7px 12px
		+md
			display: none
	&__meta-filters
		margin-bottom: 16px
		+md
			display: none
	&__content
		margin-bottom: 50px
		.top-info__map
			padding-top: 30px
			.map-link
				margin: 0 auto 50px
				display: block

	&__more
		text-align: center
		.button
			background-color: #fff
			&:hover
				background-color: $cyan
	.top-info__map
		.map-link
			margin: 0 auto 50px

