.clinic-page
	&__title
		margin-bottom: 19px
	&__title-sec
		margin-bottom: 15px
	&__white-block
		background: $white
		padding-top: 50px
		padding-bottom: 50px
	&__mb-35
		margin-bottom: 35px
	&__mb-27
		margin-bottom: 27px
	&__mb-50
		margin-bottom: 50px
	&__mt-30
		margin-top: 30px
	.white-block
		background: $white
	.costs
		margin-bottom: 19px
	.filters
		margin-bottom: 20px
	.reviews
		margin-bottom: 95px