.clinics
	&__top
		+clr
	&__topmap
		.map-link
			height: 88px
			p
				padding: 4px 5px 1px
	&__filters
		margin-bottom: 28px
	&__popular-links
		.h4
			margin-bottom: 10px
	&__sales
		padding: 100px 0 50px
	&__services
		.services
			padding-top: 0
	&__articles
		padding: 100px 0 95px
	&__doctor-list
		margin-bottom: 100px
.filter-section
	&__title
		margin-bottom: 16px
	&__taglist
		margin-bottom: 8px
	&__meta-filters
		margin-bottom: 16px
	&__content
		margin-bottom: 50px
	&__more
		text-align: center
		.button
			background-color: #fff
			&:hover
				background-color: $cyan

