.clinic-page
	&__title
		margin-bottom: 19px
		+md
			text-align: center
			display: none
		&--mob
			display: none
			margin-bottom: 0

			background: $white
			box-shadow: 2px 3.5px 16px rgba(0, 0, 0, 0.05)
			padding-top: 14px
			padding-left: 20px
			padding-bottom: 14px
			padding-right: 20px
			position: relative
			&:after
				content: ''
				position: absolute
				left: 20px
				right: 20px
				bottom: 0
				height: 1px
				background: #e7eced
			+md
				display: block
	&__title-sec
		margin-bottom: 15px
		+md
			text-align: center
			margin-bottom: 5px
			& + p
				text-align: center
	&__white-block
		background: $white
		padding-top: 50px
		padding-bottom: 50px
		+md
			padding-top: 30px
		// 	background: none
		&--pb-0
			padding-bottom: 0
			+md
				padding-top: 0
				background: transparent
	&__mb-35
		margin-bottom: 35px
		+md
				margin-bottom: 15px
	&__mb-20
		margin-bottom: 20px
	&__mb-27
		margin-bottom: 27px
	&__mb-50
		margin-bottom: 50px
	&__mt-30
		margin-top: 30px
	&__mb-95
		margin-bottom: 95px
		+md
			margin-bottom: 60px
	&__center-mob
			+md
				text-align: center
	&__hidden-mob
			+md
				display: none
	&__mob-bg-white
		+md
			background: $white
	&__p-50
		padding-top: 50px
		padding-bottom: 50px

	&__branches
		.h3
			+md
				text-align: center

		.clinic-box
			margin-bottom: 20px
			&:last-of-type
				margin-bottom: 0
		.btn--green
			min-width: 175px
		.more-link
			margin-top: 10px
	.clinic-block
		+md
			border-radius: 0 0 3px 3px
			padding-top: 10px
			z-index: 1
			position: relative
	.white-block
		background: $white
	.costs
		margin-bottom: 19px
		+md
			position: relative
			left: -40px
			width: calc(100% + 80px)
		+sm
			left: -20px
			width: calc(100% + 40px)
		&__list_mb
				+md
					margin-bottom: 20px
	.filters
		margin-bottom: 20px
		+md
			margin-bottom: 15px
		&__field
			+md
				padding: 0
	.clinic-gallery
		margin-bottom: 95px
		+md
			margin-bottom: 55px
	.services
		padding-bottom: 50px
		+md
			padding-top: 40px
		&__top
			margin-bottom: 20px
	.clinic-boxes
		padding-top: 50px
	.license
		+md
			margin-top: 30px
	// .doctor__title
	// 	+md
	// 		margin-bottom: 4px
	// .slick-list
	// 	+md
	// 		background-color: $white
	// 		border-radius: 5px
	// 		box-shadow: 2px 3.5px 16px rgba(0, 0, 0, 0.05)
