.clinics
	overflow-x: hidden
	&__map
		+md
			display: none
	&__topmap
		.map-link
			height: 88px
			p
				padding: 4px 5px 1px
	&__filters
		margin-bottom: 28px
		// +md
		// 	display: none
	&__popular-links
		margin-bottom: 17px
		.h4
			margin-bottom: 8px
		+md
			display: none
	&__sales
		padding: 92px 0 50px
		+md
			padding-top: 40px
		.section-sales
			&__title
				font-size: 35px
				margin-bottom: 5px
				+md
					font-size: 26px
			&__after-head-text
				font-size: 14px
				text-align: center
				margin-bottom: 15px
			&__btn-more
				font-size: 14px
			.sale-block
				margin-bottom: 26px
			.slick-slide
				padding: 10px
	&__services
		padding-top: 50px
		+md
			padding-top: 10px
			padding-bottom: 30px
		.services
			padding: 0
			&__top
				margin-bottom: 32px
	&__doctor-list
		margin-bottom: 100px
.filter-section
	&__title
		margin-bottom: 13px
		+md
			display: none
	&__taglist
		margin-bottom: 8px
		.tagi
			ul
				margin: 0
				li
					padding: 0 3px
					a
						padding: 7px 12px
		+md
			display: none
	&__meta-filters
		margin-bottom: 16px
		+md
			display: none
	&__content
		margin-bottom: 50px
		.top-info__map
			padding-top: 30px
			.map-link
				margin: 0 auto 50px
				display: block

	&__more
		text-align: center
		padding-top: 10px
		.button
			background-color: #fff
			&:hover
				background-color: $cyan
	.top-info__map
		.map-link
			margin: 0 auto 50px

