.clinic-page
	&__title
		margin-bottom: 19px
	&__title-sec
		margin-bottom: 15px
	&__white-block
		background: $white
		padding-top: 50px
	&__mb-35
		margin-bottom: 35px
	.clinic-box
		margin-bottom: 50px
	.white-block
		background: $white
	.costs
		margin-bottom: 19px
	.filters
		margin-bottom: 30px
	.reviews
		margin-bottom: 95px