.clinics-metro
	&__top
		+clr
	&__topleft, &__topright
		float: left
	&__topleft
		width: percentage(900/1180)
		padding-right: 20px
	&__topright
		width: percentage(280/1180)
	&__map
		.map-link
			height: 88px
			p
				padding: 4px 5px 1px
