.doctor-page
	background-color: $almost-white
	&__block
		background-color: $white
		padding-top: 100px
	&__title
		margin-bottom: 10px 
	&__textual
		margin-bottom: 35px
	&__clinic-boxes
		padding: 100px 0
	.clinic-boxes
		padding-bottom: 50px
	.filters
		margin-bottom: 30px
	.costs
		margin-bottom: 10px
	.section-sales
		margin: 100px 0 100px
	.count-slider
		margin-bottom: 0
	.rate-stars
		margin-left: 0
	.cslide__recomend
		margin-top: 10px 