.doctors-page
	&__title
	&__popular-links
		margin-top: 28px
		margin-bottom: 25px
		+md
			display: none
		h4
			margin-bottom: 10px
	&__map
		+md
			display: none
		.map-link
			height: 145px
	&__mb-27
		margin-bottom: 27px
		+clr
	&__white
		background: $white
		padding-top: 100px
		+md
			padding-top: 40px
	&__mb-45
		margin-bottom: 45px
	&__list
		margin-bottom: 30px
	.filter-section
		margin-bottom: 20px
		+md
			margin-bottom: 10px
	.more-link
		&__icon
			top: 8px
	.top-info
		margin-bottom: 20px
		&__map
			padding-top: 30px
			+md
				.map-link 
					margin-left: auto
					margin-right: auto
		.map-link
			margin: 0 auto 5px
			display: block
	.doctor__right-topline 
		.clinic-box__tagi
			display: block
