.main
	.hero
		padding-top: 200px 
	.section-video
		padding: 125px 10px 100px
	.faq-section
		padding: 100px 10px 
		&__title
			text-align: center
		&__inner
			margin: 0 auto
	.badge-slider
		padding-top: 90px
