.service-page
	.rel-posts
		padding: 60px 0 100px
		+sm
		  padding: 46px 0 50px
	.section-sales
		background-color: $white
		padding: 100px 0
		&__title
			+sm
				font-size: 25px
				margin-bottom: 5px
		&__after-head-text
			+sm
				font-size: 14px
				text-align: center
				margin-bottom: 15px
		.sale-block__map
			.map-link
				+md
					display: block
		+sm
			padding: 43px 0 34px
	&__popular-links
		margin-top: 30px
		margin-bottom: 25px
		+md
			display: none
	.map-link
		+md
			display: none
	.breadcrumbs
		+sm
			margin-bottom: 24px
	.top-info__text
		+sm
			line-height: 1.7
	.map-link--search
		+sm
			max-width: 320px
	.sale-block__btn
		+sm
			width: 100%
	.doctors-list
		&__title
			margin-bottom: 18px
		+sm
			padding: 51px 0
