<div class="header{% if headerMain %} header_main{% endif %}">
	<div class="container header__in">
    <div class="header__mob-filters-close js-hide-filters">{{ mixins.icon('arrow-l')}}</div>
		<div class="header__logo">
			<a href="#"><img src="img/logo-{{logo}}.svg" alt=""></a>
		</div>
		<div class="header__select cities-select js-popup-link" data-popup="cities">
			<div class="cities-select__field">Москва</div>
			<div class="cities-select__label">{{mixins.icon('marker')}}</div>
			<div class="cities-select__arrow"></div>
		</div>
		<div class="header__menu">
			{% set menu = [{
				item: 'Клиника'
			}, {
				item: 'Врачи'
			}, {
				item: 'Услуги и цены '
			}, {
				item: 'Акции',
				label: true
			}, {
				item: 'О проекте'
			}] %}
			<div class="menu">
				<ul>
					{% for item in menu %}
					<li><a href="#">{{item.item}}</a>{% if item.label %}<i>1</i>{% endif %}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="header__auth">
			<div class="auth">
				<div class="auth__item auth__login login js-popup-link" data-popup="popup-login">
					<div class="login__icon">{{mixins.icon('man')}}</div>
					<div class="login__text">Вход</div>
				</div>
				<div class="auth__item auth__reg reg">
					<a href="#" class="reg__btn js-popup-link" data-popup="popup-register">Регистрация</a>
				</div>
			</div>
			<div class="header__burger">
				<button class="burger js-burger">
					<i></i>
				</button>
			</div>
		</div>
		<div class="header__submenu js-submenu">
			{% set submenu = [{
				item: 'Услуги и цены',
				active: true
			}, {
				item: 'Акции'
			}, {
				item: 'Памятка пациенту'
			}, {
				item: 'Справочник здоровья'
			}, {
				item: 'Как это работает'
			}, {
				item: 'Медицинским центрам'
			}, {
				item: 'Врачам'
			}, {
				item: 'О проекте'
			}] %}
			<div class="submenu">
				<ul>
					{% for item in submenu %}
					<li {% if item.active %}class="is-active"{% endif %}>
						<a href="#">{{item.item}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="mobi">
				{% set mobi = [{
					title: 'Личный кабинет',
					list: [{
						item: 'Вход'
					}, {
						item: 'Регистрация нового пользователя'
					}]
				}, {
					title: 'Ваш город',
					list: [{
						item: 'Санкт-Петербург'
					}],
					mobSelectCity: true
				}, {
					title: 'меню',
					list: [{
						item: 'Клиники'
					}, {
						item: 'Врачи'
					}, {
						item: 'Услуги и цены'
					}, {
						item: 'Акции',
						label: true
					}, {
						item: 'Памятка пациенту'
					}, {
						item: 'Как записаться'
					}]
				}, {
					title: 'О проекте',
					list: [{
						item: 'О проекте'
					}, {
						item: 'Как это работает'
					}, {
						item: 'Медицинским центрам'
					}, {
						item: 'Врачам'
					}]
				}, {
					title: 'Специализации врачей',
					list: [{
						item: 'Детский стоматолог'
					}, {
						item: 'Стоматолог терапевт'
					}, {
						item: 'Ортодонт'
					}, {
						item: 'Хирург'
					}, {
						item: 'Детский стоматолог'
					}]
				}] %}

				<div class="mobi__wrapper">
					{% for section in mobi %}
					<div class="mobi__section">
						<div class="mobi__title">{{section.title}}</div>
						<div class="mobi__list mob-list">
							{% for list in section.list %}
							{% if section.mobSelectCity != true %}
							<div class="mob-list__item {% if list.label %} mob-list__item_icon{% endif %}">
								<a href="#" class="mob-list__link">{{list.item}}{% if list.label %}<span class="mob-list__label">%</span>{% endif %}</a>
							</div>
							{% else %}
							<div class="mob-list__item">
								<a href="#" class="mob-list__select js-popup-link" data-popup="cities">{{list.item}}</a>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
</div>
