.doctor-block
	padding: 18px	30px 18px
	+md
		padding: 18px	20px 18px
	&__mob-rating
		display: none
		padding-top: 10px
		margin-bottom: 15px
		+md
			display: block
		.rate-wrapper
			padding-top: 10px
			padding-bottom: 10px
			border-top: 1px solid #dce2e3
			border-bottom: 1px solid #dce2e3
			margin-bottom: 10px
		.rate-stars
			padding-top: 5px
	&__top-line
		padding-bottom: 23px
		border-bottom: 1px solid #dce2e3
		margin-bottom: 19px
		+clr
		+md
			display: none
		.rate-wrapper
			float: right
			margin-top: 6px
		.rate-number
			margin-left: 20px
		.rate-stars
			padding-top: 4px
	&__title
		float: left
		font-size: 35px
		line-height: 1
		+md
			float: none
	&__title-mob
		display: none
		font-size: 20px
		+md
			display: block
			margin-bottom: 5px
	&__inner
		+clr
	&__avatar-side
		float: left
		width: 175px
		+md
			width: 80px
		.btn
			display: block
			+md
				display: none
	&__avatar
		height: 220px
		background-color: $white
		border: 1px solid #e9f1f0
		border-radius: 10px
		overflow: hidden
		margin-bottom: 20px
		+md
			height: 120px
			margin-bottom: 0
		img
			height: 100%
			width: 100%
			object-fit: cover
	&__content-side
		padding-left: 30px
		width: calc(100% - 175px)
		float: right
		+md
			float: none
			width: 100%
			padding-left: 0
		.btn
			display: none
			max-width: 280px
			margin-left: auto
			margin-right: auto
			+md
				display: block
	&__experience
		color: #cdd0d1
		font-size: 15px
		+PBold
		margin-bottom: 13px
		+md
			margin-bottom: 8px
	&__top
		+clr
	&__top-left
		float: left
		+md
			float: none
			padding-left: 90px
	&__top-right
		float: right
		+md
			display: none
	&__lists
		margin-bottom: 5px
		+md
			padding-bottom: 5px
			border-bottom: 1px solid #dce2e3
			margin-bottom: 10px
		h6
			color: #1a1a1a
			font-size: 14px
			+OSBold
	&__list
	.list
		margin-top: 0
		margin-bottom: 10px
		&:last-of-type
			margin-bottom: 0
