{% for testGlobal in anchors %}
<!--begin anchors-->
<div class="anchors {{testGlobal.mode}} js-anchors-mob-drop js-anchors">
	<!--begin container-->
	<div class="container">
		<div class="anchors__mob-title js-anchors-mob-title">
			Навигация по странице
			<div class="anchors__close-mob ">
				{{mixins.icon('close')}}
			</div>
		</div>
		<div class="anchors__list js-anchors-mob-content">
			{% for test in testGlobal.anchorslist %}
			<div class="anchors__item ">
				<a href="#" class="js-scroll-to-link" data-sroll-target="{{test.scrollTo}}">
					<div class="anchors__item-icon-mob ">
						<i >
							{{mixins.icon('arrow-sm')}}
						</i>
					</div>

					{{test.text}}
				</a>
			</div>
			{% endfor %}

		</div>
	</div>
	<!--end container-->
</div>
<!--end anchors-->
{% endfor %}
