<div class="articles-info">
	<div class="articles-info__title h4">Статьи по теме «Полезное»</div>
	<div class="articles-info__list short-article">
		{% set articles = [{
			title: 'МРТ диагностика заболеваний печени'
		}, {
			title: 'Как жить с хронической болезнью легких?'
		},{
			title: 'МРТ диагностика заболеваний печени'
		}, {
			title: 'Как жить с хронической болезнью легких?'
		}] %}
		{% for item in articles %}
		<a href="#" class="short-article__row">
			<div class="short-article__image" style="background-image: url(img/post-img-1.jpg);"></div>
			<div class="short-article__in">
				<div class="short-article__title">{{item.title}}</div>
				<div class="short-article__descr">Среди других паренхиматоз- ных органов человеческого</div>
			</div>
		</a>
		{% endfor %}
	</div>
	<a href="#" class="articles-info__more more-link more-link--sm">
    <i class="more-link__icon">{{ mixins.icon('arrow-sm') }}</i>
    <span>Смотреть все</span>
  </a>
</div>
