<!-- begin badge-slider -->
<div class="badge-slider">

  <!-- begin badge-slider__left -->
  <div class="badge-slider__left">
    <!-- begin badge-slider__titlebox -->
    <div class="badge-slider__titlebox">
      <h2 class="badge-slider__title">{{ badgeSlider.title }}</h2>

      <button class="btn-prev js-badge-prev"><svg width="16" height="19" xmlns="http://www.w3.org/2000/svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 19"><path d="M16 19L0 9.6 16 0c-.6 3.2-1 6.4-1 9.6 0 3.1.4 6.3 1 9.4z" fill="#14c1e5"/></svg></svg></button>
      <button class="btn-next js-badge-next"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 19"><path d="M0 0l16 9.4L0 19c.6-3.2 1-6.4 1-9.6C1 6.3.6 3.1 0 0z" fill="#14c1e5"/></svg></button>

    </div>
    <!-- end badge-slider__titlebox -->
  </div>
  <!-- end badge-slider__left -->

  <!-- begin badge-slider__right -->
  <div class="badge-slider__right js-badge-slider">

    {% for badge in badgeSlider.badges %}
    <div class="badge-slider__slide">
      <div class="sale-block">
        <h5 class="sale-block__title">{{ badge.title | safe }}</h5>
        <a href="{{ badge.url }}" class="sale-block__places-name">{{ badge.link | safe }}</a>
        <div class="perc-icon sale-block__icon">
          <i></i>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
  <!-- end badge-slider__right -->
</div>
<!-- end badge-slider -->
