<div class="callback">
	<div class="container">
		<div class="callback__title section-title">Записаться в стоматологическую клинику «Все Свои» на Арбатской</div>
		<div class="callback__list">
			<form class="callback__form">
				<div class="callback__textfield callback__item">
					<input type="text" class="input" placeholder="Имя">
				</div>
				<div class="callback__textfield callback__item">
					<input type="text" class="input" placeholder="Телефон">
				</div>
				<div class="callback__picker callback__item field">
					<input type="text" class="input js-datepicker" placeholder="Дата">
					<div class="input-icon">{{mixins.icon('arrow-down')}}</div>
				</div>
				<div class="callback__picker callback__item date">
					<select class="js-select" data-field="Время" data-icon="arrow-down">
		            <option value="qweqe">9:30</option>
		            <option value="qweqe">10:00</option>
		            <option value="qweqe">10:30</option>
		            <option value="qweqe">11:00</option>
		            <option value="qweqe">11:30</option>
		            <option value="qweqe">12:00</option>
		            <option value="qweqe">12:30</option>
		            <option value="qweqe">13:00</option>
		          </select>
				</div>
				<div class="callback__submit callback__item">
					<button class="callback__btn">Записаться</button>
				</div>
			</form>
		</div>
		<div class="callback__text">
			Нажимая кнопку «Записаться», вы принимаете и соглашаетесь с условиями <a href="#">Публичной оферты</a> и <a href="#">Политикой конфиденциальности</a>
		</div>
	</div>
</div>