<div class="">
    <table>
    <tr>
    <th>Название услуги</th>
    <th>Цена</th>
    </tr>
    <tr>
    <td>Виниры</td>
    <td class="price"> 18 080 р.</td>
    <td class="sale"><a href="">Выбрать клинику</a></td>
    <td class="order"><a href="">Записаться</a></td>
    </tr>
    <tr>
    <td>Восстановление зубов</td>
    <td class="price">7 000 р.</td>
    <td class="sale"><a href="">Выбрать клинику</a></td>
    <td class="order"><a href="">Записаться</a></td>
    </tr>
    <tr>
    <td>Керамические коронки</td>
    <td class="price">11 010 р.</td>
    <td class="sale"><a href="">Выбрать клинику</a></td>
    <td class="order"><a href="">Записаться</a></td>
    </tr>
    <tr>
    <td>Металлокерамика</td>
    <td class="price">15 000 р.</td>
    <td class="sale"><a href="">Выбрать клинику</a></td>
    <td class="order"><a href="">Записаться</a></td>
    </tr>
    <tr>
    <td>Коронка на имплантат </td>
    <td class="price">70 080 р.</td>
    <td class="sale"><a href="">Выбрать клинику</a></td>
    <td class="order"><a href="">Записаться</a></td>
    </tr>
    <tr>
    <td>Культевая вкладка</td>
    <td class="price">18 000 р.</td>
    <td class="sale"><a href="">Выбрать клинику</a></td>
    <td class="order"><a href="">Записаться</a></td>
    </tr>
    <tr>
    <td>Культевая вкладка</td>
    <td class="price">35 000 р.</td>
    <td class="sale"><a href="">Выбрать клинику</a></td>
    <td class="order"><a href="">Записаться</a></td>
    </tr>
    <tr>
    <td>Протезы нейлоновые</td>
    <td class="price">50 100 р.</td>
    <td class="sale"><a href="">Выбрать клинику</a></td>
    <td class="order"><a href="">Записаться</a></td>
    </tr>
    <tr>
    <td>Циркониевые коронки</td>
    <td class="price">20 080 р.</td>
    <td class="sale"><a href="">Выбрать клинику</a></td>
    <td class="order"><a href="">Записаться</a></td>
    </tr>
    </table>
    <a class="btn" href="">Показать все цены</a>
</div>