<div class="costs">
    <div class="costs__title h3">Цены на сопутствующие услуги</div>
    <div class="costs__list cost-table">
        <div class="costs-table__row">
            <div class="costs-table__col costs-table__col_wide">
                <div class="costs-table__title costs-table__title_head">
                    Название услуги
                </div>
                <div class="costs-table__col">
                    Цена
                </div>
            </div>
        </div>
        <div class="costs-table__row">
            <div class="costs-table__col costs-table__col_wide">
                <div class="costs-table__title">
                    Виниры
                </div>
            </div>
            <div class="costs-table__col costs-table__col_sm">
                <div class="costs-table__price">от 18 080 р.</div>
            </div>
            <div class="costs-table__col costs-table__col_mid">
                <a class="costs-table__s-link" href="#">Выбрать клинику</a>
            </div>
            <div class="costs-table__col costs-table__col_last">
                <div class="costs-table__enroll">Записаться {{mixins.icon('arrow-sm')}}</div>
            </div>
        </div>

    </div>
</div>