<div class="costs">
    <div class="costs__title h3">Цены на сопутствующие услуги</div>
    <div class="costs__list cost-table">
        <div class="costs-table__row">
            <div class="costs-table__col costs-table__col_wide">
                <div class="costs-table__title costs-table__title_head">
                    Название услуги
                </div>
            </div>
            <div class="costs-table__col costs-table__col_sm">
                <div class="costs-table__title costs-table__title_head">Цена</div>
            </div>
        </div>
        <div class="costs-table__row">
            <div class="costs-table__col costs-table__col_wide">
                <div class="costs-table__title">
                    Виниры
                </div>
            </div>
            <div class="costs-table__col costs-table__col_sm">
                <div class="costs-table__price">от 18 080 р.</div>
            </div>
            <div class="costs-table__col costs-table__col_mid">
                <a class="costs-table__s-link" href="#">Выбрать клинику</a>
            </div>
            <div class="costs-table__col costs-table__col_last">
                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
            </div>
        </div>
        <div class="costs-table__row">
            <div class="costs-table__col costs-table__col_wide">
                <div class="costs-table__title">
                    Восстановление зубов
                </div>
            </div>
            <div class="costs-table__col costs-table__col_sm">
                <div class="costs-table__price">от 18 080 р.</div>
            </div>
            <div class="costs-table__col costs-table__col_mid">
                <a class="costs-table__s-link" href="#">Выбрать клинику</a>
            </div>
            <div class="costs-table__col costs-table__col_last">
                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
            </div>
        </div>
        <div class="costs-table__row">
            <div class="costs-table__col costs-table__col_wide">
                <div class="costs-table__title">
                    Керамические коронки
                </div>
            </div>
            <div class="costs-table__col costs-table__col_sm">
                <div class="costs-table__price">от 11 010 р.</div>
            </div>
            <div class="costs-table__col costs-table__col_mid">
                <a class="costs-table__s-link" href="#">Выбрать клинику</a>
            </div>
            <div class="costs-table__col costs-table__col_last">
                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
            </div>
        </div>
        <div class="costs-table__row">
            <div class="costs-table__col costs-table__col_wide">
                <div class="costs-table__title">
                    Металлокерамика
                </div>
            </div>
            <div class="costs-table__col costs-table__col_sm">
                <div class="costs-table__price">от 15 000 р.</div>
            </div>
            <div class="costs-table__col costs-table__col_mid">
                <a class="costs-table__s-link" href="#">Выбрать клинику</a>
            </div>
            <div class="costs-table__col costs-table__col_last">
                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
            </div>
        </div>
        <div class="costs-table__row">
            <div class="costs-table__col costs-table__col_wide">
                <div class="costs-table__title">
                    Коронка на имплантат 
                </div>
            </div>
            <div class="costs-table__col costs-table__col_sm">
                <div class="costs-table__price">от 18 080 р.</div>
            </div>
            <div class="costs-table__col costs-table__col_mid">
                <a class="costs-table__s-link" href="#">Выбрать клинику</a>
            </div>
            <div class="costs-table__col costs-table__col_last">
                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
            </div>
        </div>
        <div class="costs-table__row">
            <div class="costs-table__col costs-table__col_wide">
                <div class="costs-table__title">
                    Культевая вкладка 
                </div>
            </div>
            <div class="costs-table__col costs-table__col_sm">
                <div class="costs-table__price">от 18 000 р.</div>
            </div>
            <div class="costs-table__col costs-table__col_mid">
                <a class="costs-table__s-link" href="#">Выбрать клинику</a>
            </div>
            <div class="costs-table__col costs-table__col_last">
                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
            </div>
        </div>
        <div class="costs-table__row">
            <div class="costs-table__col costs-table__col_wide">
                <div class="costs-table__title">
                    Культевая вкладка 
                </div>
            </div>
            <div class="costs-table__col costs-table__col_sm">
                <div class="costs-table__price">от 35 000 р.</div>
            </div>
            <div class="costs-table__col costs-table__col_mid">
                <a class="costs-table__s-link" href="#">Выбрать клинику</a>
            </div>
            <div class="costs-table__col costs-table__col_last">
                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
            </div>
        </div>
        <div class="costs-table__row">
            <div class="costs-table__col costs-table__col_wide">
                <div class="costs-table__title">
                    Протезы нейлоновые
                </div>
            </div>
            <div class="costs-table__col costs-table__col_sm">
                <div class="costs-table__price">от 50 100 р.</div>
            </div>
            <div class="costs-table__col costs-table__col_mid">
                <a class="costs-table__s-link" href="#">Выбрать клинику</a>
            </div>
            <div class="costs-table__col costs-table__col_last">
                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
            </div>
        </div>
        <div class="costs-table__row">
            <div class="costs-table__col costs-table__col_wide">
                <div class="costs-table__title">
                    Циркониевые коронки
                </div>
            </div>
            <div class="costs-table__col costs-table__col_sm">
                <div class="costs-table__price">от 20 080 р.</div>
            </div>
            <div class="costs-table__col costs-table__col_mid">
                <a class="costs-table__s-link" href="#">Выбрать клинику</a>
            </div>
            <div class="costs-table__col costs-table__col_last">
                <a href="#" class="costs-table__enroll">Записаться <span>{{mixins.icon('arrow-sm')}}</span></a>
            </div>
        </div>
    </div>
    <div class="costs__btn">
        <a href="#" class="button button_hero">Показать все цены</a>
    </div>
</div>
