<!--begin count-users-->
<div class="count-users {{test.countUsersMode}}">
	<div class="count-users__bought {{test.countUsersBoughtMode}}">
		<div>
			<span>{{test.countUsersBought}}</span>
			<i class="count-users__icon-user {{test.userIconMode}}"></i>
		</div>
		<p>ЗАПИСАЛОСЬ</p>
	</div>
	<span class="count-users__separator">/</span>
	<div class="count-users__glad {{test.countUsersGladMode}}">
		<div>
			<span>{{test.countUsersGlad}}</span>
			<i class="count-users__icon-heart {{test.heartIconMode}}"></i>
		</div>
		<p>ДОВОЛЬНЫ</p>
	</div>
</div>
<!--end count-users-->
		

