<!--begin count-slide-->
<div class="cslide {{test.slideMode}} js-slider-count-slide">
	{% if test.headBlock %}
	<!--begin cslide__head-->
	<div class="cslide__head {{test.headMode}}">
		{% if test.headText %}
		<p class="cslide__head-text">{{test.headText}}</p>
		{% endif %}
		{% if test.rateBlock %}
		<!--begin cslide__head-inner-->
		<div class="cslide__head-inner">
			<!--begin rate-wrapper-->
			<div class="rate-wrapper">
				
				{% include "components/_rate-stars.html" %}

				{% include "components/_rate-number.html" %}
			</div>
			<!--end rate-wrapper-->


		</div>
		<!--end cslide__head-inner-->
		{% endif %}
	</div>
	<!--end cslide__head-->
	{% endif %}
	{% if test.countUsers %}
	<!--begin cslide__count-block-->
	<div class="cslide__count-block">
		{% include "components/_count-users.html" %}
	</div>
	<!--end cslide__count-block-->
	{% endif %}
	{% if test.info %}
	<p class="cslide__info">{{test.info}}</p>
	{% endif %}
	<!--begin cslide__text-->
	<div class="cslide__text">
		<p>
			{{testSlide.text}}
		</p>
	</div>
	<!--end cslide__text-->
	{% if test.person %}
	<div class="cslide__person">
		<span>ВРАЧ</span>
		<p >{{test.person}}</p>
	</div>
	{% endif %}

	{% if test.location %}
	<!-- http://joxi.ru/gmvzz0oCxPZG6m разметку и стили сделает тот кто должен-->
	<!--begin cslide__location-->
	<div class="cslide__location">

	</div>
	<!--end cslide__location-->
	{% endif %}

	{% if test.recomend %}
	<!-- http://joxi.ru/Vm6llO0Txa76KA разметку и стили сделает тот кто должен-->
	<!--begin cslide__recomend-->
	<div class="cslide__recomend">

	</div>
	<!--end cslide__recomend-->
	{% endif %}
	{% if test.readMore %}
	<!-- http://joxi.ru/5md55O8fvy6dp2  стили сделает тот кто должен-->
	<!--begin cslide__read-more-->
	<div class="cslide__read-more">
		<a href="#">Читать дальше</a>
	</div>
	<!--end cslide__read-more-->
	{% endif %}
	{% if test.btn %}
	<a class="cslide__link  {{test.btnMode}}" href="#">{{test.btn}}</a>
	{% endif %}

</div>
<!--end count-slide-->
