<div class="doctors-list" style="background-image: url(img/texture.png);: ">
	<div class="container">
		<div class="doctors-list__title section-title">Или поищите врача по специализации</div>
		<div class="doctors-list__body specialists">
			<div class="specialists__item">
				<a href="#">Стоматологи-терапевты Москвы <span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
			<div class="specialists__item">
				<a href="#">Стоматологи-терапевты Москвы <span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
			<div class="specialists__item">
				<a href="#">Стоматологи-ортодонты Москвы<span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
			<div class="specialists__item">
				<a href="#">Стоматологи-ортодонты Москвы<span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
			<div class="specialists__item">
				<a href="#">Детские стоматологи Москвы<span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
			<div class="specialists__item">
				<a href="#">Детские стоматологи Москвы<span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
			<div class="specialists__item">
				<a href="#">Стоматологи-терапевты Москвы<span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
			<div class="specialists__item">
				<a href="#">Стоматологи-терапевты Москвы<span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
			<div class="specialists__item">
				<a href="#">Стоматологи-ортодонты Москвы<span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
			<div class="specialists__item">
				<a href="#">Стоматологи-ортодонты Москвы<span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
			<div class="specialists__item">
				<a href="#">Детские стоматологи Москвы<span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
			<div class="specialists__item">
				<a href="#">Детские стоматологи Москвы<span>{{mixins.icon('arrow-sm')}}</span></a>
			</div>
		</div>
	</div>

</div>