<div class="clinic-box clinic-box_mini clinic-box_doctor-single">
  <div class="clinic-box__content">
    <div class="clinic-box__rate">
      <h2 class="clinic-box__title">{{ doctor.title | safe }}</h2>
      <div class="rate-wrapper">
        <div class="rate-stars rate-stars--green">
          {% for star in doctor.rate.stars %}
          <i class="rate-stars__item {{ star.starMode }}">
            {{ mixins.icon('star') }}
          </i>
          {% endfor %}
        </div>
        <!--begin rate-number-->
        <div class="rate-number rate-number--green">
          рейтинг <span>{{ doctor.rate.number }}</span>
        </div>
        <!--end rate-number-->
      </div>
    </div>
    <div class="doctor">
      <div class="doctor__left">
        <div class="doctor__avatar">
          <img src="img/{{doctor.avatar}}" alt="{{ doctor.title }}">
        </div>
        <a href="#" class="btn btn--green js-popup-link" data-popup="popup-appoint">Записаться</a>
      </div>
      <div class="doctor__right">
        <div class="topline">
          <div class="topline__left">
            <div class="doctor__experience">
              Стаж {{doctor.experience}}
            </div>
            <div class="clinic-box__tagi">
              <div class="tagi">
                <ul>
                  {% for i in doctor.taglist %}
                  <li><a href="#">{{ i | safe }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="count-users">
            <div class="count-users__bought count-users__bought--cyan">
              <div>
                <span>{{ doctor.users.bought }}</span>
                <i class="count-users__icon-user"></i>
              </div>
              <p>ЗАПИСАЛОСЬ</p>
            </div>
            <span class="count-users__separator">/</span>
            <div class="count-users__glad count-users__glad--green">
              <div>
                <span>{{ doctor.users.glad }}</span>
                <i class="count-users__icon-heart"></i>
              </div>
              <p>ДОВОЛЬНЫ</p>
            </div>
          </div>

        </div>
        <div class="doctor__lists">
          <h6>Образование</h6>
          <ul class="doctor__list list list--doctor">
            {%for test in doctor.education%}
            <li class="list__item">{{ test }}</li>
            {%endfor%}
          </ul>
          <h6>Специализируется</h6>
          <ul class="doctor__list list list--doctor">
            {%for test in doctor.specialized%}
            <li class="list__item">{{ test }}</li>
            {%endfor%}
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
