<div class="clinic-box clinic-box_mini clinic-box_doctor {{doctor.clinicBoxMode}}">
  <div class="clinic-box__left">
    <div class="clinic-box__content">
      <div class="doctor">
        <div class="doctor__left">
          <div class="doctor__avatar">
            <img src="img/{{doctor.avatar}}" alt="{{ doctor.title }}">
          </div>
        </div>
        <div class="doctor__right">
          <div class="doctor__right-topline">
            <div class="doctor__avatar doctor__avatar--mob">
              <img src="img/{{doctor.avatar}}" alt="{{ doctor.title }}">
            </div>
            <div class="doctor__title"><strong>{{ doctor.title | safe }}</strong> {{ doctor.experience }}</div>
            <div class="clinic-box__tagi">
              <div class="tagi">
                <ul>
                  {% for i in doctor.taglist %}
                  <li><a href="#">{{ i | safe }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="doctor__right-rateline">
              <div class="rate-stars rate-stars--green">
                {% for star in doctor.stars %}
                <i class="rate-stars__item {{ star.starMode }}">
                  {{ mixins.icon('star') }}
                </i>
                {% endfor %}
              </div>
              <div class="rate-number rate-number--green">
                рейтинг <span>{{ doctor.rateNumber }}</span>
              </div>
          </div>
          <div class="location-info location-info--dashed">
            <i class="location-info__icon">{{ mixins.icon('location') }}</i>
            <a href="{{ test.locationUrl }}">{{ doctor.location | safe }}</a>
          </div>
          <div class="metro-info">
            {{ doctor.metro | safe }}
          </div>
          {% if doctor.tablelist %}
          <!-- begin clinic-box__tablelist -->
          <div class="clinic-box__tablelist">
            <div class="tablelist">
              {% for row in doctor.tablelist %}
              <div class="tablelist__row">
                {% for i in row %}
                <div class="tablelist__col">{{ i | safe }}</div>
                {% endfor %}
              </div>
              {% endfor%}
            </div>
          </div>
          <!-- end clinic-box__tablelist -->
          {% endif %}
          <div class="clinic-box__spec-wrapper">
           <a href="" class="more-link more-link--sm">
            <i class="more-link__icon">{{ mixins.icon('arrow-sm') }}</i>
            <span>Весь прайслист клиники</span>
          </a>
          {% if doctor.discount %}
          <a href="#" class="sales-link">
            <span>%</span> Акции
          </a>
          {% endif %}
        </div>

      </div>
    </div>
    <div class="clinic-box__more clinic-box__more_has-border">
      <div class="worktime-info">
        <p><span class="worktime-info__title">Режим работы</span>Пн-Вт 9:00 – 21:00, Сб-Вс выходной</p>
      </div>
      <a href="#" class="btn btn--green">Записаться</a>
    </div>
  </div>
</div>
<div class="clinic-box__right">
  {% for test in doctor.comments %}
  {% include "components/_count-slider.html" %}
  {% endfor %}
</div>
</div>
