<div class="clinic-box clinic-box_mini clinic-box_doctor">
  <div class="clinic-box__left">
    <div class="clinic-box__content">
      <div class="doctor">
        <div class="doctor__left">
          <div class="doctor__avatar">
            <img src="img/{{doctor.avatar}}" alt="{{ doctor.title }}">
          </div>
          <a href="#" class="btn btn--green js-popup-link" data-popup="popup-appoint">Записаться</a>
        </div>
        <div class="doctor__right">
          <div class="clinic-box__rate">
            <h4 class="clinic-box__title">{{ doctor.title | safe }}</h4>
            <div class="rate-wrapper">
              <div class="rate-stars rate-stars--green">
                {% for star in doctor.rate.stars %}
                <i class="rate-stars__item {{ star.starMode }}">
                  {{ mixins.icon('star') }}
                </i>
                {% endfor %}
              </div>
              <!--begin rate-number-->
              <div class="rate-number rate-number--green">
                рейтинг <span>{{ doctor.rate.number }}</span>
              </div>
              <!--end rate-number-->
            </div>
          </div>
          <div class="clinic-box__tagi">
            <div class="tagi">
              <ul>
                {% for i in doctor.taglist %}
                <li><a href="#">{{ i | safe }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <ul class="doctor__list list list--doctor">
            <li class="list__item"><span>Стаж</span> {{ doctor.experience }}</li>
            <li class="list__item"><span>Образование:</span> {{ doctor.education }}</li>
          </ul>
          <a href="" class="more-link more-link--sm">
            <i class="more-link__icon">{{ mixins.icon('arrow-sm') }}</i>
            <span>Подробнее о враче</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clinic-box__right">
    {% for test in doctor.comments %}
    {% include "components/_count-slider.html" %}
    {% endfor %}
  </div>
</div>
