<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__logo">
        <a href="/" class="logo">
          <img src="img/logo-lg.png" alt="Logo"/>
        </a>
      </div>
      <div class="footer__navs navs">
        <div class="navs__item nav">
          <h4 class="nav__title">О проекте</h4>
          <ul class="nav__items">
            <li class="nav__item"><a class="nav__link" href="">О проекте</a></li>
            <li class="nav__item"><a class="nav__link" href="">Как это работает</a></li>
            <li class="nav__item"><a class="nav__link" href="">Медицинским центрам</a></li>
            <li class="nav__item"><a class="nav__link" href="">Врачам</a></li>
            <h4 class="nav__title">Сервисы</h4>
            <li class="nav__item"><a class="nav__link" href="">Справочник здоровья</a></li>
          </ul>
        </div>
        <div class="navs__item nav">
          <h4 class="nav__title">Меню</h4>
          <ul class="nav__items">
            <li class="nav__item"><a class="nav__link" href="">Клиники</a></li>
            <li class="nav__item"><a class="nav__link" href="">Врачи</a></li>
            <li class="nav__item"><a class="nav__link" href="">Услуги и цены</a></li>
            <li class="nav__item"><a class="nav__link" href="">Акции</a></li>
            <li class="nav__item"><a class="nav__link" href="">Памятка пациенту</a></li>
            <li class="nav__item"><a class="nav__link" href="">Как записаться</a></li>
          </ul>
        </div>
        <div class="navs__item nav">
          <h4 class="nav__title">Специализации врачей</h4>
          <ul class="nav__items">
            <li class="nav__item"><a class="nav__link" href="">Детский стоматолог</a></li>
            <li class="nav__item"><a class="nav__link" href="">Стоматолог терапевт</a></li>
            <li class="nav__item"><a class="nav__link" href="">Ортодонт</a></li>
            <li class="nav__item"><a class="nav__link" href="">Хирург</a></li>
            <li class="nav__item"><a class="nav__link" href="">Детский стоматолог</a></li>
          </ul>
          <a class="nav__more-link" href="">Все доктора</a></div>
        <div class="navs__item nav">
          <h4 class="nav__title">Специализации клиник</h4>
          <ul class="nav__items">
            <li class="nav__item"><a class="nav__link" href="">Детский стоматолог</a></li>
            <li class="nav__item"><a class="nav__link" href="">Стоматолог терапевт</a></li>
            <li class="nav__item"><a class="nav__link" href="">Ортодонт</a></li>
            <li class="nav__item"><a class="nav__link" href="">Хирург</a></li>
            <li class="nav__item"><a class="nav__link" href="">Детский стоматолог</a></li>
          </ul>
          <a class="nav__more-link" href="">Все клиники</a></div>
      </div>
    </div>
    <div class="copyrights">
      <div class="copyrights__text">
        <p>&copy: Все права защищены. Zubza. 2017</p>
      </div>
      <div class="copyrights__links">
        <ul>
          <li><a href="">Карта сайта</a></li>
          <li><a href="">Политика конфиденциальности</a></li>
          <li><a href="">Публичная оферта</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
