<div class="goodies" style="background-image: url(img/texture.png);">
	<div class="container">
		<div class="goodies__title section-title">Мы заботимся о своих пациентах и публикуем много полезной информации</div>
		<div class="goodies__descr">Вся информация предоставлена врачами с соответствующим образованием и представлена в доступном и наглядном виде </div>
		<div class="goodies__list">
			<div class="goodies__wrapper">
				<div class="goodies__item">
					<a href="#" class="goodies__link">
						<div class="goodies__text">
							<span>{{mixins.icon('arrow-sm')}}</span>
							Полезные статьи
						</div>
					</a>
				</div>
				<div class="goodies__item">
					<a href="#" class="goodies__link">
						<div class="goodies__text">
							<span>{{mixins.icon('arrow-sm')}}</span>
							Заболевания
						</div>
					</a>
				</div>
				<div class="goodies__item">
					<a href="#" class="goodies__link">
						<div class="goodies__text">
							<span>{{mixins.icon('arrow-sm')}}</span>
							Методы лечения
						</div>
					</a>
				</div>
				<div class="goodies__item">
					<a href="#" class="goodies__link">
						<div class="goodies__text">
							<span>{{mixins.icon('arrow-sm')}}</span>
							Симптомы
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>