<div class="hero">
  <div class="hero__menu">
    {% include '../partials/_header.html' %}
  </div>
  <div class="container">
    <h1 class="hero__title">
      Найдите хорошую стоматологию
    </h1>
    <div class="hero__subtitle">
      198 записей за сегодня
    </div>
    <div class="hero__form">
      <form class="form">
        <div class="form__field form__field--lg form__field--icon">
          <select class="form__select js-select" data-field="Услуга, врач или клиника" data-icon="arrow-down" data-label="list">
            <option value="qweqe">Услуга или врач</option>
            <option value="qweqe">Услуга или врач</option>
            <option value="qweqe">Услуга или врач</option>
            <option value="qweqe">Услуга или врач</option>
            <option value="qweqe">Услуга или врач</option>
          </select>
        </div>
        <div class="form__field form__field--lg form__field--icon">
          <select class="form__select js-select" data-field="Метро или район" data-icon="arrow-down" data-label="location">
            <option value="qweqe">Услуга или врач</option>
            <option value="qweqe">Услуга или врач</option>
            <option value="qweqe">Услуга или врач</option>
            <option value="qweqe">Услуга или врач</option>
            <option value="qweqe">Услуга или врач</option>
          </select>
        </div>
        <button class="button button_cyan button_primary">Найти</button>
      </form>
    </div>
    <div class="hero__items">
      <div class="hero__item">
        <div class="item">
          <div class="item__icon">
            {{mixins.icon('hands')}}
          </div>
          <h4 class="item__title">
            Кешбек при записи через Zubza
          </h4>
          <div class="item__desc">
            Получай кешбек. Начисленные бонусы трать в любой стоматологии при повторной записи через Zubza
          </div>
        </div>
      </div>
      <div class="hero__item">
        <div class="item">
          <div class="item__icon">
            {{mixins.icon('tooth')}}
          </div>
          <h4 class="item__title">
            Лечение кариеса в подарок
          </h4>
          <div class="item__desc">
            Клиентам, записавшимся в январе, мы дарим лечение кариеса одного зуба
          </div>
        </div>
      </div>
      <div class="hero__item">
        <div class="item">
          <div class="item__icon">
            {{mixins.icon('comp')}}
          </div>
          <h4 class="item__title">
            Удобный выбор клиники и запись
          </h4>
          <div class="item__desc">
            Zubza – это актуальная база клиник и врачей, проверенные отзывы, бесплатные консультации наших специалистов
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
