<!-- begin hospital-filters -->
	<form class="hospital-filters">
		<div class="hospital-filters__in">
			{% for item in filters %}
			<div class="hospital-filters__block">
				<h2 class="hospital-filters__title">{{ item.title }}</h2>
				{% if item.type == 'select' %}
				<select class="form__select js-select" data-field="{{ item.selectTitle }}" data-icon="arrow-down" data-label="{{ item.icon }}">
					{% for value in item.values %}
					<option value="{{ value }}">{{ value }}</option>
					{% endfor %}
				</select>
				{% elif item.type == 'checkbox' %}
				{% for value in item.values %}
				<!-- begin checkbox -->
					<label class="checkbox">
						<input type="checkbox" />
						<div class="checkbox__item">{{ value }}</div>
					</label>
				<!-- end checkbox -->
				{% endfor %}
				{% elif item.type == 'range' %}
				RANGE
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</form>
<!-- end hospital-filters -->