<div class="popup js-popup popup_appoint" data-popup="{{ popupForm.dataPopup }}">
  <div class="popup__overlay js-popup-overlay"></div>
  <div class="popup__content js-popup-content">
    <div class="popup__close js-close-popup ">{{mixins.icon('close')}}</div>

    <!-- begin popup-cols -->
    <div class="popup-cols">
      <!-- begin popup-cols__left -->
      <div class="popup-cols__left">
        <div class="popup-cols__logo">
          <img src="img/logo-text.svg" alt="">
        </div>
        <div class="popup-cols__name">{{ popupForm.name }}</div>

        <div class="popup-cols__image">
          <img src="{{ popupForm.pic }}" alt="">
        </div>
      </div>
      <!-- end popup-cols__left -->

      <!-- begin popup-cols__right -->
      <div class="popup-cols__right">
        <div class="popup-form">
          <h4 class="popup-form__title">{{ popupForm.form.title | safe }}</h4>
          <!-- begin popup-form__text -->
          <div class="popup-form__text">{{ popupForm.form.text | safe }}</div>
          <!-- end popup-form__text -->
          <form action="">
            {% for field in popupForm.form.fields %}
            <div class="form-field">
              <label for="">{{ field.label }}</label>

              {% if field.select %}
              <div class="form-field__in">
                <select class="js-select" data-field="{{ field.select.field }}" data-icon="arrow-down">
                  {% for i in field.select.options %}
                  <option value="qweqe">{{ i }}</option>
                  {% endfor %}
                </select>
              </div>
              {% endif %}

              {% if field.input %}
              <div class="form-field__in">
                <input type="text" class="textfield" placeholder="{{ field.input }}">
              </div>
              {% endif %}

              {% if field.cols %}
              <div class="form-field__in form-field__in_flex">
                {% for col in field.cols %}
                <div class="form-field__col">

                  {% if col.datepicker %}
                  <input type="text" class="textfield js-datepicker" placeholder="{{ col.datepicker }}">
                  <div class="input-icon">{{mixins.icon('arrow-down')}}</div>
                  {% endif %}

                  {% if col.select %}
                  <div class="form-field__in">
                    <select class="js-select" data-field="{{ col.select.field }}" data-icon="arrow-down">
                      {% for i in col.select.options %}
                      <option value="qweqe">{{ i }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% endif %}

                </div>
                {% endfor %}
              </div>
              {% endif %}

            </div>
            {% endfor %}

            <button type="submit" class="btn btn--green">{{ popupForm.form.submitButton }}</button>
          </form>

          <div class="popup-form__policy">{{ popupForm.form.policy | safe }}</div>
        </div>
      </div>
      <!-- end popup-cols__right -->
    </div>
    <!-- end popup-cols -->
  </div>
</div>
