<div class="popup popup--map js-popup js-is-map-popup" data-popup="popup-map">
	<div class="popup__overlay js-popup-overlay"></div>
	<div class="popup__content js-popup-content">
		<div class="popup__close js-close-popup ">{{mixins.icon('close')}}</div>
		<div class="popup__map-wrapper">
			<div class="gmap js-popup-map" id="popup-map"></div>
		</div>
		<script type="text/template" id="infobox">
			<div class="baloon"> 
				<!-- 				<button class="baloon__close js-infobox-close"></button> -->
				<div className="baloon__content">
					<p class="baloon__title">{% raw %}{{=baloon.title}}{% endraw %}</p>
					<div class="rate-stars  rate-stars--green rate-stars--sm">
						<i class="rate-stars__item is-color">{{mixins.icon('star')}}</i>
						<i class="rate-stars__item is-color">{{mixins.icon('star')}}</i>
						<i class="rate-stars__item is-color">{{mixins.icon('star')}}</i>
						<i class="rate-stars__item is-color">{{mixins.icon('star')}}</i>
						<i class="rate-stars__item ">{{mixins.icon('star')}}</i>
					</div>
					<p class="baloon__text">{% raw %}{{=baloon.text}}{% endraw %}</p>
					<p class="baloon__price">{% raw %}{{=baloon.price}}{% endraw %}</p>
				</div>
			</div>
		</script>
	</div>
</div>