{% set popupRegister = {
  dataPopup: 'popup-register',
  name: 'РЕГИСТРАЦИЯ НОВОГО ПОЛЬЗОВАТЕЛЯ',
  pic: 'img/message-black-white.png',
  form: {
    title: 'Зарегистрироваться',
    fields: [
      {
        label: 'Ваше имя',
        input: 'Анна'
      },
      {
        label: 'Email',
        input: 'example@gmail.com'
      },
      {
        label: 'Ваш телефон',
        input: '+7 ( ___ ) ___ - __ - __'
      }
    ],
    submitButton: 'Регистрация',
    accountLink: 'У меня уже есть аккаунт',
    policy: 'Нажимая кнопку «Записаться», вы принимаете и соглашаетесь с условиями <a href="">Публичной оферты</a> и <a href="">Политикой конфеденциальности</a>'
  }
}
%}

<div class="popup js-popup popup_register" data-popup="{{ popupRegister.dataPopup }}">
  <div class="popup__overlay js-popup-overlay"></div>
  <div class="popup__content js-popup-content">
    <div class="popup__close js-close-popup ">{{mixins.icon('close')}}</div>

    <!-- begin popup-cols -->
    <div class="popup-cols">
      <!-- begin popup-cols__left -->
      <div class="popup-cols__left">
        <div class="popup-cols__logo">
          <img src="img/logo-text.svg" alt="">
        </div>
        <div class="popup-cols__name">{{ popupRegister.name }}</div>

        <div class="popup-cols__image">
          <img src="{{ popupRegister.pic }}" alt="">
        </div>
      </div>
      <!-- end popup-cols__left -->

      <!-- begin popup-cols__right -->
      <div class="popup-cols__right">
        <div class="popup-form">
          <h4 class="popup-form__title popup-form__title_mb">{{ popupRegister.form.title | safe }}</h4>
          <!-- begin popup-form__text -->
          <form action="">
            {% for field in popupRegister.form.fields %}
            <div class="form-field">
              <label for="">{{ field.label }}</label>

              {% if field.input %}
              <div class="form-field__in{% if field.invalid %} is-invalid{% endif %}">
                <input type="text" class="textfield" placeholder="{{ field.input }}">

                {% if field.validationMessage %}
                <span class="form-field__error">{{ field.validationMessage }}</span>
                {% endif %}

              </div>
              {% endif %}

            </div>
            {% endfor %}

            <!-- begin popup-form__controls -->
            <div class="popup-form__controls">
              <button type="submit" class="btn btn--green">{{ popupRegister.form.submitButton }}</button>
              <a href="" class="popup-form__link">{{ popupRegister.form.accountLink }}</a>
            </div>
            <!-- end popup-form__controls -->


          </form>

          <div class="popup-form__policy">{{ popupRegister.form.policy | safe }}</div>
        </div>
      </div>
      <!-- end popup-cols__right -->
    </div>
    <!-- end popup-cols -->
  </div>
</div>
