<div class="popup popup_reminder js-popup is-active" style="display: block" data-popup="city-reminder">
	<div class="popup__cover js-popup-overlay"></div>
	<div class="popup__content js-popup-content">
		<div class="popup__close js-close-popup ">{{mixins.icon('close')}}</div>
		<div class="reminder">
			<div class="reminder__title">Ваш город – Санкт-Петербург</div>
			<div class="reminder__btns">
				<div class="reminder__btn">
					<a href="#" class="btn btn--green btn--sm">Да</a>
				</div>
				<div class="reminder__btn">
					<a href="#" class="button button_hero button_sm">Нет, изменить</a>
				</div>
			</div>
		</div>
	</div>
</div>