<section class="rel-posts">
  <!--begin container-->
    {% if relativePosts.title %}
    <h3 class="rel-posts__title">{{ relativePosts.title }}</h3>
    {% endif %}
    <div class="rel-posts__inner">
      {% for post in relativePosts.posts %}
        {% include "components/_post-block.html" %}
      {% endfor %}
    </div>

    <!-- begin rel-posts__button -->
    {% if relativePosts.buttonUrl %}
    <div class="rel-posts__button">
      <a class="button button_border" href="{{ relativePosts.buttonUrl }}">Смотреть все статьи</a>
    </div>
    {% endif %}
    <!-- end rel-posts__button -->
  <!--end container-->
</section>
