<section class="rel-posts">
  <!--begin container-->
  <div class="container">

    <h3 class="rel-posts__title">{{ relativePosts.title }}</h3>

    <div class="rel-posts__inner">
      {% for post in relativePosts.posts %}
        {% include "components/_post-block.html" %}
      {% endfor %}
    </div>

    <!-- begin rel-posts__button -->
    <div class="rel-posts__button">
      <a class="button button_border" href="{{ relativePosts.buttonUrl }}">Смотреть все статьи</a>
    </div>
    <!-- end rel-posts__button -->
  </div>
  <!--end container-->
</section>
