<!--begin review-->
<div class="review">
	<!--begin review__head-->
	<div class="review__head">
		<p class="review__head-text">Отзывы</p>
		<div class="review__head-inner">
			<div class="review__stars">
				<i class="review__star is-color">
					{{mixins.icon('star')}}
				</i>
				<i class="review__star is-color">
					{{mixins.icon('star')}}
				</i>
				<i class="review__star is-color">
					{{mixins.icon('star')}}
				</i>
				<i class="review__star">
					{{mixins.icon('star')}}
				</i>
				<i class="review__star">
					{{mixins.icon('star')}}
				</i>
			</div>
			<div class="review__rate">
				рейтинг <span>3.7</span>
			</div>
		</div>
	</div>
	<!--end review__head-->
	<!--begin review__count-block-->
	<div class="review__count-block">
		<div class="review__bought">
			<div>
				<span>70</span>
				<i>
					{% include "components/_review-user.html" %}
				</i>
			</div>
			<p>ЗАПИСАЛОСЬ</p>
		</div>
		<span class="review__separator">/</span>
		<div class="review__glad">
			<div>
				<span>55</span>
				<i>
					{% include "components/_review-heart.html" %}
				</i>
			</div>
			<p>ДОВОЛЬНЫ</p>
		</div>
	</div>
	<!--end review__count-block-->
	<p class="review__info">Анна, 22.12.17</p>
	<!--begin review__text-->
	<div class="review__text">
		<p>Исследование сделали хорошо и быстро. А вот заключение ждала у стойки регистрации долго. Не работал принтер, он то печатал то не печатал. В общем все измучились ожиданием. Больше сюда не приду, во-первых далеко от дома, во-вторых из-за технического сбоев я опоздала</p>
	</div>
	<!--end review__text-->
	<div class="review__person">
		<span>ВРАЧ</span>
		<p >Яковлева Ирина Сергеевна</p>
	</div>
	<a class="review__link btn-pink " href="#">Все врачи специальности</a>
</div>
<!--end review-->
