{% for testGlobal in sales %}
<!--begin section section-sales-->
<section class="section section-sales {{testGlobal.sectionMode}}">
	<!--begin container-->
	<div class="container">
		<h3 class="h3 section-sales__title">{{testGlobal.title}}</h3>
		{% if testGlobal.aftHeadText %}
		<p class="section-sales__after-head-text">{{testGlobal.aftHeadText}}</p>
		{% endif %}
		<!--begin section-sales__list-->
		<div class="section-sales__list">
			{% for test in testGlobal.list %}
			{% include "components/_sale-block.html" %}
			{% endfor %}
		</div>
		<!--end section-sales__list-->
		<div class="section-sales__center">
			<a class="button button_border section-sales__btn-more" href="#">Показать все акции</a>
		</div>
	</div>
	<!--end container-->
</section>
<!--end section section-sales-->
{% endfor %}
