{% for testGlobal in sales %}
<!--begin section section-sales-->
<section class="section section-sales  {{testGlobal.sectionMode}}">
	<!--begin container-->
	<div class="container">
		<h2 class="title-sm section-sales__title">{{testGlobal.title}}</h2>
		{% if testGlobal.aftHeadText %}
		<p class="section-sales__after-head-text">{{testGlobal.aftHeadText}}</p>
		{% endif %}
		<!--begin section-sales__wrapper-->
		<div class="section-sales__wrapper">
			<div class="perc-icon section-sales__icon-mob">
				<i></i>
			</div>
			<!--begin section-sales__list-->
			<div class="section-sales__list js-mob-sales-slider">
				{% for test in testGlobal.list %}
				{% include "components/_sale-block.html" %}
				{% endfor %}
			</div>
			<!--end section-sales__list-->
		</div>
		<!--end section-sales__wrapper-->


		<div class="section-sales__center">
			<a class="button button_border section-sales__btn-more" href="#">Показать все акции</a>
		</div>
	</div>
	<!--end container-->
</section>
<!--end section section-sales-->
{% endfor %}
