<a href="{{ searchBanner.url }}" class="search-banner">
  <div class="container">
    <div class="search-banner__wrapper">
      <div class="search-banner__image image-group">
        {% if searchBanner.img %}
        <img src="img/{{searchBanner.img}}" alt="" class="{{searchBanner.imgClass}}">
        {% else %}
        <img class="image-group__head image-group__head_clinic" src="img/clinic.svg" alt="">
        {% endif %}
        <img src="img/cloud.svg" alt="" class="image-group__cloud">

        
      </div>
      <div class="search-banner__title section-title">{{ searchBanner.title }}</div>
    </div>
  </div>
</a>
