<div class="top-info">
  <!--begin container-->
    <div class="container">

      <div class="col col_lg-left">
        <h2 class="top-info__title">{{ title | safe }}</h2>
        <div class="top-info__text">{{ toptext | safe }}</div>
      </div>

      <div class="col col_sm js-map-desk-append">
        <div class="top-info__map js-mob-move" data-target="js-map-mob-append" data-source="js-map-desk-append">
          {% for test in mapInPopup %}
          {% include "components/_map-link.html" %}
          {% endfor %}
        </div>
      </div>

    </div>
  <!--end container-->
</div>
