<div class="section section-video video">
  <div class="container">
    <h2 class="video__title">Как записаться через Zubza и почему это так удобно?</h2>
    <div class="video__content">
      <div class="video__list">
        <ol class="list">
          <li class="list__item">Выберите клинику</li>
          <li class="list__item">Выберите время и запишитесь</li>
          <li class="list__item">Прикрепите чек</li>
          <li class="list__item">Получайте кешбек</li>
        </ol>
      </div>
      <div class="video__player">
        <img src="img/player.jpg" alt="Player">
      </div>
    </div>
  </div>
</div>
