.banner
	background: rgba(59,216,247,1);
	background: -moz-linear-gradient(top, rgba(59,216,247,1) 0%, rgba(20,193,229,1) 100%)
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(59,216,247,1)), color-stop(100%, rgba(20,193,229,1)))
	background: -webkit-linear-gradient(top, rgba(59,216,247,1) 0%, rgba(20,193,229,1) 100%)
	background: -o-linear-gradient(top, rgba(59,216,247,1) 0%, rgba(20,193,229,1) 100%)
	background: -ms-linear-gradient(top, rgba(59,216,247,1) 0%, rgba(20,193,229,1) 100%)
	background: linear-gradient(to bottom, rgba(59,216,247,1) 0%, rgba(20,193,229,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bd8f7', endColorstr='#14c1e5', GradientType=0 )
	padding: 140px 0 135px
	&__in
		color: $white
		max-width: 896px
		margin: 0 auto
	&__title
		font-size: 35px
		margin: 0 auto 60px
		max-width: 650px
		text-align: center
		text-shadow: 0 3px 0 rgba(72, 61, 224, 0.24)
		+PSemi
	&__grid
		display: flex
		flex-direction: row
		justify-content: space-between
	&__item
		text-align: center
		padding: 0 10px 
		width: 240px
	&__item-image
		background-size: contain
		background-position: center
		background-repeat: no-repeat 
		height: 154px
		margin-bottom: 19px 
		width: 100%
	&__item-title
		font-size: 37px
		line-height: 1em 
		text-shadow: 0 3px 0 rgba(72, 61, 224, 0.24)
		margin-bottom: 12px
		white-space: nowrap 
		+PExtra
	&__item-txt
		font-size: 18px
		+PSemi 

.image-group
	position: relative
	z-index: 10
	width: 135px
	height: 110px
	&__head
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
		&_clinic
			height: 74px
			width: 107px
			margin-left: -5px
	&__cloud
		position: absolute
		left: 0
		bottom: 0
		z-index: -1

.search-banner
	text-align: center
	padding-top: 33px
	padding-bottom: 32px
	background-image: linear-gradient(-30deg, #14c1e5 0%, #3bd7f7 100%)
	&__image
		display: inline-block
		vertical-align: middle
		left: -27px
	&__title
		display: inline-block
		vertical-align: middle
		font-size: 35px
		margin-left: 44px
		padding-top: 11px
		letter-spacing: -.9px





