.clinic-box
	padding: 30px
	background-color: $white
	border-radius: 3px
	box-shadow: 0 4px 16px rgba(0,0,0,.05)
	display: flex
	&__left
		width: percentage(720/1120)
		padding-right: 30px
		border-right: 1px solid $gray-border
	&__right
		width: percentage(400/1120)
		padding-left: 30px
	&__content
		border-top: 1px solid $gray-border
		padding-top: 20px
	&__rate
		margin-bottom: 20px
		display: flex
		justify-content: space-between
	.count-users
		color: $gray-middle

