.clinic-box
	padding: 30px
	background-color: $white
	border-radius: 3px
	box-shadow: 0 4px 16px rgba(0,0,0,.05)
	display: flex
	margin-bottom: 20px
	+md
		padding: 20px
	&__left
		width: percentage(720/1120)
		padding-right: 30px
		border-right: 1px solid $gray-border
	&__right
		width: percentage(400/1120)
		padding-left: 30px
	&__content
		border-top: 1px solid $gray-border
		padding-top: 20px
	&__rate
		margin-bottom: 18px
		display: flex
		justify-content: space-between
	&__title
		margin-bottom: 10px
		+PSemi
	&__titlelink
		color: $cyan
		font-size: 20px
		+PSemi
		margin-bottom: 10px
		+trans
		display: block
		&:hover
			opacity: .7
	&__list
		font-size: 14px
		.list
			margin: 15px 0
			&__item
				&:before
					top: -1px
	&__tablelist
		margin-bottom: 20px
	&__more
		display: flex
		justify-content: space-between
		align-items: flex-start
		&_has-border
			border-top: 1px solid $gray-border
			padding-top: 15px
	&__more-left-btn
		margin-left: 28px
	&__map
		border-radius: 6px
		overflow: hidden
		margin-bottom: 20px
		img
			width: 100%
			height: 254px
			object-fit: cover
			display: block
		&--h-150
			img
				height: 150px
	&__tagi
		&--mb
			margin-bottom: 20px
	.location-info
		font-size: 16px
		padding-left: 25px
	.metro-info
		font-size: 16px
		padding-left: 25px
		&:before
			top: 4px
	.worktime-info
		font-size: 16px
		padding-left: 25px
		&:before
			top: 2px
		&__title
			display: block
			+r(720)
				display: none
	.count-users
		color: $gray-simple
	.rate-stars
		position: relative
		top: 2px
		margin-left: 20px
	.rate-number
		margin-left: 20px
	&_mini
		.location-info
			font-size: 14px
			padding-left: 22px
		.metro-info
			font-size: 14px
			padding-left: 22px
			&:before
				top: 2px
		.worktime-info
			font-size: 14px
			padding-left: 22px
			&:before
				top: 0px
		.clinic-box__map
			img
				height: 140px
				object-position: 50% 0
	&__price-list
		margin-top: 15px
		margin-bottom: 9px
		li
			font-size: 13px
			+OSSemi
			width: 100%
			display: flex
			justify-content: space-between
			padding: 8px 20px 9px
			&:nth-child(odd)
				background-color: $little-grey
			span
				&:nth-child(2)
					color: $cyan
					font-size: 14px
					+OSBold
			a
				&:hover
					color: $cyan
	&__gallery
		margin-bottom: 14px
		li
			margin-right: 5px
			display: inline-block
			a
				display: block
				height: 40px
				width: 60px
				border-radius: 5px
				overflow: hidden
				position: relative
				img
					height: 100%
					width: 100%
					object-fit: cover
				&:after
					transition: 0.2s
					bottom: 0
					left: 0
					position: absolute
					content: ''
					height: 100%
					width: 100%
					background-color: rgba(20, 193, 229, 0.5)
				&:hover
					&:after
						height: 0
	&__price-more
		display: flex
		justify-content: space-between
		align-items: center
		padding-bottom: 16px
		border-bottom: 1px solid $gray-border
		margin-bottom: 10px
	&__spec-wrapper
		+clr
		margin-bottom: 18px
		.sales-link
			float: right
	&_hosp-info
		padding: 20px
		.clinic-box
			&__content
				border-top: none
				padding-top: 0
			&__right
				+md
					display: none
			&__left
				+md
					width: 100%
					padding-right: 0
					border-right: 0
			&__gallery
				+md
					display: none
			&__price-list
				li
					+md
						font-size: 12px
					span
						&:nth-child(2)
							font-size: 12px
			&__titlelink
				+md
					padding-bottom: 5px
					border-bottom: 1px solid #edf0f1
		.more-link
			span
				+md
					font-size: 14px
		.sales-link
			+md
				display: none
		.location-info
			a
				+md
					font-size: 13px
					text-decoration: underline
					text-decoration-style: dashed
		.metro-info
			+md
				font-size: 13px
		.worktime-info
			+md
				font-size: 13px
		.rate-wrapper
			+md
				margin-bottom: 15px
		.rate-stars
			+md
				margin-left: 0
			&__item
				svg
					+md
						font-size: 15px
		.rate-number
			span
				+md
					font-size: 20px
					line-height: 1
		.cslide
			padding: 0
	&_doctor
		.clinic-box
			&__title
				margin-bottom: 0
			&__rate
				margin-bottom: 15px
			&__content
				border-top: none
				padding-top: 0
			&__right
				+md
					display: none
			&__left
				+md
					width: 100%
					padding-right: 0
					border-right: none
		.cslide
			padding: 0
		& + .clinic-box_doctor
			margin-top: 20px
	&_doctor-single
		.clinic-box
			&__title
				margin-bottom: 0
			&__rate
				padding-bottom: 20px
				border-bottom: 1px solid $gray-border
				margin-bottom: 15px
			&__content
				width: 100%
				border-top: none
				padding-top: 0

	&_small-content
		padding: 20px
		.doctor__left
			margin-right: 15px
		.doctor__avatar
			width: 137px
			height: 187px
		.doctor__title
			strong
				font-size: 20px
		.clinic-box__left
			width: 67%
		.clinic-box__right
			width: 33%
		.clinic-box__tablelist
			margin-bottom: 10px
		.rate-stars
			margin-left: 0



