.clinic-box
	padding: 30px
	background-color: $white
	border-radius: 3px
	box-shadow: 0 4px 16px rgba(0,0,0,.05)
	display: flex
	margin-bottom: 20px
	+md
		padding: 20px
	&__left
		width: percentage(720/1120)
		padding-right: 30px
		border-right: 1px solid $gray-border
		+md
			width: 100%
			padding-right: 0
			border-right: 0
	&__right
		width: percentage(400/1120)
		padding-left: 30px
		+md
			width: 100%
			padding-left: 0
			padding-bottom: 5px
	&__content
		border-top: 1px solid $gray-border
		padding-top: 20px
	&__rate
		margin-bottom: 18px
		display: flex
		justify-content: space-between
		+md
			flex-direction: column
	&__title
		margin-bottom: 10px
		+PSemi
		+md
			font-size: 25px
			text-align: center
			border-bottom: 1px solid $gray-border
			padding-bottom: 5px
	&__titlelink
		color: $cyan
		font-size: 20px
		+PSemi
		margin-bottom: 10px
		+trans
		display: block
		&:hover
			opacity: .7
	&__list
		font-size: 14px
		+md
			border-bottom: 1px solid $gray-border
			margin-bottom: 15px
		.list
			margin: 15px 0
			&__item
				&:before
					top: -1px
	&__tablelist
		margin-bottom: 20px
	&__more
		display: flex
		justify-content: space-between
		align-items: flex-start
		&_has-border
			border-top: 1px solid $gray-border
			padding-top: 15px
	&__more-left-btn
		margin-left: 28px

	&__map
		border-radius: 6px
		overflow: hidden
		margin-bottom: 20px
		+md
			max-width: 500px
			margin-left: auto
			margin-right: auto
		+xs
			height: 155px
		img
			width: 100%
			height: 254px
			object-fit: cover
			display: block
		&--h-150
			img
				height: 150px
	&__tagi
		&--mb
			margin-bottom: 20px
	.location-info
		font-size: 16px
		padding-left: 25px
		+md
			font-size: 13px
		a
			+md
				text-decoration: underline
				text-decoration-style: dashed
	.metro-info
		font-size: 16px
		padding-left: 25px
		+md
			font-size: 13px
		&:before
			top: 4px
	.worktime-info
		font-size: 16px
		padding-left: 25px
		+md
			font-size: 13px
		&:before
			top: 2px
		&__title
			display: block
			+r(720)
				display: none
	.count-users
		color: $gray-simple
		+md
			order: 2
			padding-top: 10px
	.rate-wrapper
		+md
			order: 1
			padding-bottom: 5px
			border-bottom: 1px solid $gray-border
	.rate-stars
		position: relative
		top: 2px
		margin-left: 20px
		+md
			margin-left: 0
		svg
			+md
				font-size: 16px
	.rate-number
		margin-left: 20px
		span
			+md
				font-size: 20px
	.button
		+xs
			width: 100%
			text-align: center
	&_branch
		.clinic-box__title
			+md
				font-size: 18px
				color: $cyan
		.clinic-box__mobflex
			+xs
				display: flex
				flex-direction: column

			.more-link
				+xs
					order: 1
					margin-bottom: 20px
					margin-left: 0
			.btn
				+xs
					order: 2
	&_mini
		.location-info
			font-size: 14px
			padding-left: 22px
		.metro-info
			font-size: 14px
			padding-left: 22px
			&:before
				top: 2px
		.worktime-info
			font-size: 14px
			padding-left: 22px
			&:before
				top: 0px
		.clinic-box__map
			img
				height: 140px
				object-position: 50% 0
	&__price-list
		margin-top: 15px
		margin-bottom: 9px
		li
			font-size: 13px
			+OSSemi
			width: 100%
			display: flex
			justify-content: space-between
			padding: 8px 20px 9px
			&:nth-child(odd)
				background-color: $little-grey
			span
				&:nth-child(2)
					color: $cyan
					font-size: 14px
					+OSBold
			a
				&:hover
					color: $cyan
	&__gallery
		margin-bottom: 7px
		li
			margin-right: 5px
			display: inline-block
			a
				display: block
				height: 40px
				width: 60px
				border-radius: 5px
				overflow: hidden
				position: relative
				img
					height: 100%
					width: 100%
					object-fit: cover
				&:after
					transition: 0.2s
					bottom: 0
					left: 0
					position: absolute
					content: ''
					height: 100%
					width: 100%
					background-color: rgba(20, 193, 229, 0.5)
				&:hover
					&:after
						height: 0
	&__price-more
		display: flex
		justify-content: space-between
		align-items: center
		padding-bottom: 16px
		border-bottom: 1px solid $gray-border
		margin-bottom: 10px
	&__spec-wrapper
		+clr
		margin-bottom: 18px
		.sales-link
			float: right
	&_hosp-info
		padding: 15px 20px
		+md
			margin-bottom: 10px
		.clinic-box
			&__content
				border-top: none
				padding-top: 0
			&__right
				width: percentage(280/880)
				padding-left: 20px
				+md
					display: none
			&__left
				width: percentage(600/880)
				padding-right: 20px
				+md
					width: 100%
					padding-right: 0
					border-right: 0
			&__gallery
				+md
					display: none
				li
					margin-right: 2px
			&__price-list
				li
					padding: 6px 20px 5px
					+md
						font-size: 12px
					span
						+md
							&:nth-child(2)
								font-size: 12px
								margin-left: 10px
			&__titlelink
				font-size: 18px
				margin-bottom: 3px
				+md
					padding-bottom: 5px
					border-bottom: 1px solid #edf0f1
			&__mob-rate
				display: none
				+md
					display: block
			&__price-more
				.more-link
					font-size: 14px
					&__icon
						width: 22px
						height: 22px
					span
						padding-left: 28px

		.more-link
			span
				+md
					font-size: 14px
		.sales-link
			+md
				display: none
		.location-info
			a
				font-size: 13px
				text-decoration: underline
				text-decoration-style: dashed
		.metro-info
			font-size: 13px
		.worktime-info
			font-size: 13px
			margin-top: 5px
		.btn--green
			padding: 11px 25px 10px
			font-size: 15px
		.rate-wrapper
			+md
				margin-bottom: 15px
				padding-top: 8px
		.rate-stars
			margin-left: 0
			top: -2px
			&__item
				svg
					+lg
						font-size: 15px
		.rate-number
			margin-left: 10px
			span
				+lg
					font-size: 20px
					line-height: 1
		.cslide
			padding: 0
			&__head
				margin-bottom: 19px
			&__text
				max-height: 118px
				overflow: hidden
		.count-users
			margin-bottom: 9px
	&_doctor
		.clinic-box
			&__title
				margin-bottom: 0
			&__tagi--none--720
				+r(720)
					display: none
			&__content
				border-top: none
				padding-top: 0
			&__right
				+md
					display: none
			&__left
				+md
					width: 100%
					padding-right: 0
					border-right: none
			&__rate
				margin-bottom: 15px
				.rate-wrapper
					+r(720)
						display: none
		.doctor__list
			+r(720)
				display: none
		.cslide
			padding: 0
		& + .clinic-box_doctor
			margin-top: 20px
	&_doctor-single
		.clinic-box
			&__title
				margin-bottom: 0
				+md
					border-bottom: none
					text-align: left
					padding-bottom: 0
				+r(720)
					font-size: 20px
			&__rate
				padding-bottom: 20px
				border-bottom: 1px solid $gray-border
				margin-bottom: 15px
				+md
					flex-direction: row
				.rate-wrapper
					+md
						border-bottom: none
						padding-bottom: 0
						order: 0
					+r(720)
						display: none
				+r(720)
					margin-bottom: 0
					padding-bottom: 0
					border-bottom: none

			&__content
				width: 100%
				border-top: none
				padding-top: 0
		.doctor__right-rateline
			border-bottom: 1px solid $gray-border
			padding-bottom: 5px

	&_small-content
		padding: 20px
		.doctor__left
			margin-right: 15px
		.doctor__avatar
			width: 137px
			height: 187px
			+md
				width: 78px
				height: 108px
		.doctor__title
			strong
				font-size: 20px
		.clinic-box__left
			width: 67%
		.clinic-box__right
			width: 33%
		.clinic-box__tablelist
			margin-bottom: 10px
			+md
				margin-bottom: 18px
		.rate-stars
			margin-left: 0
		.worktime-info
			+xs
				max-width: 150px
		.sales-link
			+md
				display: none


.clinic-boxes
	&__title
		margin-bottom: 15px
		+md
			text-align: center
