.count-slider
	margin: 0 auto 50px
	&__content
		margin-bottom: 22px
	&__count
		padding: 0 40px
		color: #d9dbdc
		font-size: 12px
		text-align: center
		line-height: 1
	&__count-main
		color: $cyan
		+OSSemi
		font-size: 14px
		margin-bottom: 3px

	.btnNext, .btnPrev
		bottom: -19px
		transform: translateY(100%)
	.btnNext
		right: 0
	.btnPrev
		left: 0
	&--w280
		width: 280px
	&--dots
		padding-bottom: 50px
		.slick-dots
			position: absolute
			bottom: -42px
			left: 0
			width: 100%
		.count-slider__content
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05)
			border-radius: 5px
	&--double
		margin: 0 auto 0
		.count-slider__content
			margin-bottom: 0
		.cslide
			// &:nth-of-type(1n)
			// 	margin-right: 30px
.cslide
	width: 280px
	// display: inline-block
	// vertical-align: top
	margin: 0 auto 0px
	border-radius: 5px
	padding: 12px 10px 20px
	color: $black
	
	background: $white

	&__head
		position: relative
		padding-bottom: 11px
		border-bottom: 1px solid #5bd4ed
		margin-bottom: 13px
		&--cyan-border
			border-bottom: none
			margin-bottom: 11px
			a
				display: block
				color: $cyan
				text-decoration: none
				+trans
				font-size: 14px
				padding: 0 9px 5px
				border-bottom: 1px solid $gray-border
				&:hover
					color: transparentize($cyan, .3)
			.cslide__head-text
				border-bottom: 1px solid rgba(#dce2e3, 0.5)
		&--m
			a
				font-size: 18px
				padding: 0 0px 5px

	&__head-text
		// color: $white
		+PSemi
		font-size: 20px
		margin-bottom: 5px

	&__head-inner
		+clr
		
	&__count-block
	&__glad
	&__info
		+OSSemi
		font-size: 13px
		&--gray
			color: #cacdce
	&__text
		margin-bottom: 7px
		font-size: 13px
		line-height: 1.55
		&--mb-14
			margin-bottom: 14px
		&--mb-none
			margin-bottom: 0
	&__person
		margin-bottom: 17px
		span
			+OSSemi
			font-size: 13px
		p
			color: #defbfe
			font-size: 17px
			+PBold
	&__link
		display: block
		width: 100%
	&__location
		padding: 0 9px
		.metro-info , .location-info, .worktime-info
			margin-bottom: 8px
	&__recomend
		padding-left: 22px
		color: #77d262
		+PExtra
		font-size: 16px
		position: relative
		i
			position: absolute
			top: 0
			left: 0
			+s(heart-green)
	&__read-more
		a
			color: $cyan
			+OSSemi
			font-size: 13px
	.more-link
		margin-bottom: 18px
		display: block
	.rate-stars
		padding-top: 5px

	&--blue
		color: $white
		background-color: $cyan
		padding: 16px 20px 20px
	&--double
		border: 1px solid $black
		padding: 13px 20px 17px
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05)
		max-width: 530px
		// width: 530px
		// margin: 0 20px
		


	