.doctor
	display: flex
	&__left
		margin-right: 30px
		.btn
			width: 175px
	&__right
		flex-grow: 1
	&__avatar
		margin-bottom: 20px
		height: 220px
		width: 175px
		overflow: hidden
		border-radius: 5px
		border: 1px solid $gray-border
		img
			height: 100%
			width: 100%
			object-fit: cover
	&__list
		font-size: 14px
		line-height: 24px
		span
			+OSBold
	&__title
		font-size: 15px
		color: #cdd0d1
		margin-bottom: 8px 
		strong
			color: $black
			display: inline  
	&__experience
		font-size: 15px
		+PBold
		color: #cdd0d1
		margin-bottom: 14px
	&__lists
		h6
			font-size: 14px
			+OSBold
		.list
			margin: 8px 0 16px

	.topline
		display: flex
		justify-content: space-between
