.filters
	+clr
	&__field
		width: 224px
		float: left
		padding-top: 6px
		padding-left: 4px
		& + .filters__select
			margin-top: 10px
	&__title
		font-size: 13px
		+PReg
		margin-bottom: 8px
		padding-left: 6px
		letter-spacing: -.4px
	&__list
		width: calc(100% - 224px)
		padding-left: 42px
		float: left
	&__textfield
		position: relative
		.icon
			position: absolute
			top: 12px
			left: 15px
			fill: $grey
			font-size: 16px
	&__select
		max-width: 300px
		.custom-select
			&__field
				border: 1px solid $grey
				border-radius: 20px
				font-size: 14px
				padding: 12px 40px 8px 20px
				position: relative
				margin-right: 0
				margin-left: 0
				color: $grey
				width: 100%
				+PReg
				.icon
					height: 16px
					right: 20px
			&__dropdown
				border: 1px solid $grey
				border-top: none
			&.is-open
				.custom-select
					&__field
						border-radius: 20px 20px 0 0
		select
			display: none
		&_tablet
			display: none
			margin: auto
			+md
				display: block
	&_tablet-mod
		+md
			.filters
				&__field
					float: none
					max-width: 300px
					margin: 0 auto
					width: 100%
				&__title
					display: none
				&__list
					float: none
					padding-left: 0
					max-width: 300px
					margin: 10px auto 0
					width: 100%
				&__textfield
					margin: auto

.tagi
	&__btn
		display: none
		width: 100%
		.icon
			&-arrow-down
				top: 50%
				transform: translate(0, -50%)
				fill: none
				stroke: $grey
				left: auto
				right: 20px
				transition: transform linear 0.2s
	ul
		font-size: 0
		margin: 0 -5px
		li
			display: inline-block
			vertical-align: middle
			padding: 0 5px
			margin-bottom: 10px
			&:first-child
				padding-left: 0
			a
				padding: 7px 13px
				color: $cyan
				font-size: 13px
				border-radius: 20px
				border: 1px solid #b8ecf7
				display: inline-block
				+OSReg
				background-color: #edf9fb
				min-height: 30px
				line-height: 1
				text-align: center
				transition: .25s ease
				&:hover
					color: #fff
					background-color: $cyan
				&.more-tags
					background-color: transparent
					&:hover
						color: $cyan
						opacity: .7
				+r(720)
					font-size: 12px
					min-height: 20px
					padding: 3px 8px
			&.is-active
				a
					background-color: $cyan
					color: #fff
	&.is-open
		ul
			display: block
		.tagi
			&__btn
				.textfield
					border-radius: 20px 20px 0 0
				.icon
					&-arrow-down
						transform: rotate(180deg) translate(0, 50%)
	&_tablet-mod
		+md
			max-width: 300px
			width: 100%
			ul
				display: none
				max-width: 300px
				margin: 0
				border: 1px solid $grey
				border-radius: 0 0 25px 25px
				overflow: hidden
				border-top: none
				li
					display: block
					padding: 0
					margin-bottom: 0
					a
						background-color: $white
						border: none
						display: block
						color: $black
						border-radius: 0
				&.is-active
					display: none
			.tagi
				&__btn
					display: block
			&.is-open
				ul
					display: block

.checkbox
	display: block
	margin-bottom: 5px
	&:last-of-type
		margin-bottom: 0
	input[type="checkbox"]
		display: none
		&:checked
			& + .checkbox__item
				&:after
					content: ''
	&__item
		cursor: pointer
		font-size: 14px
		padding-left: 25px
		position: relative
		+OSReg
		&:before,
		&:after
			+pseudo
			height: 15px
			top: 3px
			width: 15px
		&:before
			+pseudo
			background-color: $white
			border: 1px solid $really-grey
			border-radius: 5px
			height: 15px
			width: 15px
		&:after
			background-image: url('./../img/check.png')
			background-size: 75% auto
			background-position: top right
			background-repeat: no-repeat
			content: none
		&:hover
			color: $cyan

