.footer
	background-color: $almost-white
	&__logo
		width: 144px
		height: 118px
	&__main
		padding: 71px 0 24px 0
		display: flex
		justify-content: space-between
	&__copyrights
		background-color: $dirty-grey
		padding: 23px 0 24px
	&__nav
		width: 910px
		.nav
			display: flex
			justify-content: space-between
			width: 100%
			&__title
				margin-bottom: 5px
				+PBold
			&__items
				margin-bottom: 40px
			&__item
				line-height: 29px
				margin-bottom: 1px
			&__link
				font-size: 14px
				+OSLight
			&__more-link
				font-size: 14px
				color: $cyan
				+OSLight
				position: relative
				&:before
					position: absolute
					top: 0
					left: 0
					display: block
					content: ''
					background-image: url("../img/arrow-sm.png")
					background-repeat: no-repeat
					background-size: cover
					background-position: center
					height: 16px
					width: 16px
				span
					margin-left: 20px
.copyrights
	display: flex
	justify-content: space-between
	&__text
		color: $another-grey
		font-size: 15px
	&__links
		display: flex
		li
			padding-left: 20px
			a
				font-size: 15px
				color: $cyan
		li:not(:last-child)
			border-right: 1px solid $grey
			padding-right: 20px
