.header
	padding-top: 17px
	padding-bottom: 11px
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05)
	position: relative
	z-index: 1001
	background-color: #fff
	margin-bottom: 28px
	+lg
		padding-top: 10px
		padding-bottom: 5px
	&_main
		position: absolute
		width: 100%
		box-shadow: none
	&__in
		position: relative
		+clr
	&__logo
		float: left
		width: 170px
		img
			max-width: 100%
			height: auto
		+lg
			width: 120px
			padding-top: 10px
		+md
			width: 100px
			padding-top: 6px
	&__select
		float: left
		margin-left: 50px
		width: 205px
		margin-top: 8px
		+r(1220)
			margin-left: 20px
		+lg
			width: 165px
		+md
			display: none
	&__menu
		float: left
		margin-left: 50px
		padding-top: 15px
		+r(1220)
			margin-left: 20px
		+md
			display: none
	&__auth
		float: right
		padding-top: 6px
		+clr
		+md
			padding-top: 0
	&__burger
		float: right
		padding-top: 14px
		margin-left: 20px
		+md
			padding-top: 12px
	&__submenu
		position: absolute
		right: 25px
		top: calc(100% + 6px)
		visibility: hidden
		opacity: 0
		transition: .3s ease
		z-index: 777
		&.is-active
			visibility: visible
			opacity: 1
	&_main
		box-shadow: none
		background-color: transparent
		.menu
			ul li
				a
					color: #fff
				i
					background-color: $pink
					color: #fff

		.login
			&__text
				color: #fff
			&__icon
				.icon
					fill: #fff
		.burger
			&:before, i, &:after
				background-color: #fff
		.reg
			&__btn
				color: $black
				background-color: #FFF
		.cities-select
			border-color: #fff
			&__field
				color: #fff
			&__arrow
				border-color: #fff
			&__label
				.icon
					fill: #fff
		.submenu
			box-shadow: 0 4px 27px rgba(118, 165, 240, 0.47)

.submenu
	background-color: #fff
	border-radius: 10px
	position: relative
	box-shadow: 0 4px 27px rgba(0, 0, 0, 0.2)
	&:before
		content: ''
		position: absolute
		top: -7px
		right: 16px
		width: 0
		height: 0
		border-left: 7px solid transparent
		border-right: 7px solid transparent
		border-bottom: 7px solid #fff
	ul
		padding: 16px 20px 20px
		li
			line-height: 1
			&:not(:last-child)
				margin-bottom: 13px
			&.is-active
				a
					color: $cyan
			a
				font-size: 14px
				color: $black
				line-height: 1
				+PBold

.reg
	&__btn
		color: #fff
		font-size: 15px
		border-radius: 30px
		padding: 15px 21px 12px
		+PSemi
		display: inline-block
		+trans
		background-color: $cyan
		+lg
			font-size: 13px
			padding: 10px 21px 8px

.cities-select
	border-radius: 20px
	border: 1px solid $cyan
	position: relative
	&__field
		font-size: 15px
		+PSemi
		color: $black
		letter-spacing: 0.07px
		padding: 12px 30px 8px 43px
		text-align: left
		+lg
			padding: 12px 20px 8px 25px
			font-size: 13px
	&__label
		position: absolute
		top: 50%
		left: 18px
		transform: translateY(-50%)
		margin-top: 2px
		.icon
			fill: $cyan
			font-size: 18px
			+lg
				font-size: 13px
		+lg
			left: 10px
			margin-top: 0
	&__arrow
		position: absolute
		top: 14px
		right: 22px
		transform: rotate(-45deg)
		width: 8px
		height: 8px
		border-left: 2px solid $cyan
		border-bottom: 2px solid $cyan
		+lg
			right: 15px
			width: 6px
			height: 6px
			border-width: 1px

