.header
	padding-top: 17px
	padding-bottom: 11px
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05)
	position: relative
	z-index: 1001
	background-color: #fff
	margin-bottom: 28px
	&_main
		position: absolute
		width: 100%
		box-shadow: none
	&__in
		+clr
	&__logo
		float: left
		width: 170px
		img
			max-width: 100%
			height: auto
	&__select
		float: left
		margin-left: 50px
		width: 205px
		margin-top: 8px
	&__menu
		float: left
		margin-left: 50px
		padding-top: 15px
	&__auth
		float: right
		margin-left: 50px
		padding-top: 6px
		+clr
	&__burger
		float: right
		padding-top: 14px
		margin-left: 20px
	&_main
		box-shadow: none
		background-color: transparent
		.menu
			ul li
				a
					color: #fff
				i
					background-color: $pink
					color: #fff

		.login
			&__text
				color: #fff
			&__icon
				.icon
					fill: #fff
		.burger
			&:before, i, &:after
				background-color: #fff
		.reg
			&__btn
				color: $black
				background-color: #FFF
		.cities-select
			border-color: #fff
			&__field
				color: #fff
			&__arrow
				border-color: #fff
			&__label
				.icon
					fill: #fff

.cities-select
	border-radius: 20px
	border: 1px solid $cyan
	position: relative
	&__field
		font-size: 15px
		+PSemi
		color: $black
		letter-spacing: 0.07px
		padding: 12px 30px 8px 43px
		text-align: left
	&__label
		position: absolute
		top: 50%
		left: 18px
		transform: translateY(-50%)
		margin-top: 2px
		.icon
			fill: $cyan
			font-size: 18px
	&__arrow
		position: absolute
		top: 14px
		right: 22px
		transform: rotate(-45deg)
		width: 8px
		height: 8px
		border-left: 2px solid $cyan
		border-bottom: 2px solid $cyan

