.hero
	background-image: linear-gradient(-225deg, #4d56d3 0%, #23bbd3 100%)
	padding: 100px 0
	text-align: center
	&__title
		color: $white
		margin-bottom: 14px
	&__subtitle
		+PLight
		font-size: 25px
		color: $white
		margin-bottom: 47px
	&__form
		margin-bottom: 108px
		.form
			&__field
				text-align: left
				margin-right: 20px
	&__items
		color: $white
		text-align: left
		display: flex
		justify-content: space-between
		.item
			max-width: 310px
			display: flex
			flex-direction: column
			justify-content: flex-start
			&__icon
				margin-left: -15px
				margin-bottom: 8px
				height: 74px
				width: 74px
				border-radius: 50%
				background-color: $cyan
				display: flex
				justify-content: center
				align-items: center
				.icon
					fill: $white
					width: 70%
					height: 70%
			&__title
				margin-bottom: 7px
			&__desc
				font-size: 14px
