.license
	padding-top: 48px
	padding-bottom: 50px
	background-color: #fafafa
	&__title
		margin-bottom: 25px
	&__list
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&__item
		display: block
		img
			max-width: 150px
			max-height: 220px
