.menu
	ul
		li
			display: inline-block
			vertical-align: bottom
			position: relative
			&:not(:last-child)
				margin-right: 17px
				+lg
					margin-right: 8px
			a
				font-size: 15px
				+PBold
				+lg
					font-size: 13px
			i
				position: absolute
				top: -1px
				right: -10px
				font-size: 9px
				+PBold
				color: #f3e7ec
				display: flex
				justify-content: center
				align-items: center
				border-radius: 50%
				min-height: 15px
				min-width: 15px
				background-color: $pink
				line-height: 1
				z-index: -1
				font-style: normal
				+lg
					min-width: 10px
					min-height: 10px
					font-size: 8px
					right: -5px
					top: 2px
.burger
	position: relative
	height: 17px
	width: 22px
	background-color: transparent
	display: block 
	&:before, &:after, i
		width: 100%
		position: absolute
		left: 0
		height: 3px
		background-color: #1a1a1a
		transition: .25s ease
		border-radius: 50px
		+md
			background-color: $cyan
	&:before, &:after
		content: ''
		transform: rotate(0) scaleX(1)
	&:before
		top: 0
		transform-origin: top right
	i
		top: 7px
		transform: scale(1)
		opacity: 1
	&:after
		bottom: 0
		transform-origin: bottom right
	&.is-active
		&:before
			transform: rotate(-39deg) scaleX(1.05)
		&:after
			transform: rotate(39deg) scaleX(1.05)
		i
			transform: scale(.2)
			opacity: 0


.auth
	display: inline-block
	&__item
		display: inline-block
		vertical-align: top
	&__login
		margin-right: 16px
		padding-top: 9px
		cursor: pointer
		+md
			padding-top: 11px
			margin-right: 0
	&__reg
		+lg
			margin-top: 3px
		+md
			display: none

.login
	&__icon
		display: inline-block
		vertical-align: top
		.icon
			fill: #29c1e2
			font-size: 18px
			+lg
				font-size: 15px
			+md
				font-size: 19px
	&__text
		display: inline-block
		vertical-align: top
		padding-top: 5px
		+lg
			font-size: 13px
		+md
			display: none
	&__text
		font-size: 15px
		+PBold



.mobi
	background-color: #fff
	+coverdiv
	display: none
	padding-top: 21px
	overflow-y: auto
	padding-bottom: 100px
	+md
		display: block
	&__section
		&:not(:last-child)
			margin-bottom: 28px
	&__title
		font-size: 14px
		color: #d0cece
		text-transform: uppercase
		line-height: 1
		+PBold
		letter-spacing: -.8px
		padding-bottom: 10px
		position: relative
		padding: 0 48px 7px 48px
		border-bottom: 1px solid #eaf1f4
		+r(399)
			padding-left: 20px
			padding-right: 20px

.mob-list
	&__item
		line-height: 1
		border-bottom: 1px solid #eaf1f4
		padding: 8px 48px 11px
		position: relative
		+r(399)
			padding-left: 20px
			padding-right: 20px
		&_icon
			padding-left: 70px
			+r(399)
				padding-left: 40px
	&__link
		font-size: 14px
		color: $black
		+OSReg
		line-height: 1
		display: block
	&__select
		color: $cyan
		font-size: 14px
		position: relative
		width: 100%
		display: block
		+OSReg
		&:before
			content: ''
			position: absolute
			right: 4px
			top: 4px
			height: 6px
			width: 6px
			border-right: 2px solid $grey
			border-bottom: 2px solid $grey
			transform: rotate(-45deg)
	&__label
		position: absolute
		left: 49px
		top: 6px
		height: 15px
		width: 15px
		border-radius: 50%
		background-color: $pink
		color: #fff
		font-size: 9px
		+OSExtra
		display: flex
		align-items: center
		justify-content: center
		+r(399)
			left: 19px

