.menu
	ul
		li
			display: inline-block
			vertical-align: bottom
			&:not(:last-child)
				margin-right: 17px
			a
				font-size: 15px
				+PBold


.burger
	position: relative
	height: 17px
	width: 22px
	background-color: transparent
	&:before, &:after, i
		width: 100%
		position: absolute
		left: 0
		height: 3px
		background-color: #1a1a1a
	&:before, &:after
		content: ''
	&:before
		top: 0
	i
		top: 7px
	&:after
		bottom: 0


.auth
	display: inline-block
	&__item
		display: inline-block
		vertical-align: top

.login
	&__icon
		display: inline-block
		vertical-align: top
		.icon
			fill: #29c1e2
			font-size: 20px
	&__text
		display: inline-block
		vertical-align: top
	&__text
		font-size: 15px
		+PBold

