.pagination
	+md
		text-align: center
	&__text
		color: $cyan
		display: inline-block
		vertical-align: middle
		+PBold
		+md
			display: none
	&__link-list
		display: inline-block
		font-size: 0 
		margin-left: 10px
		vertical-align: middle
		+md
			margin-left: 0
	&__item
		color: $cyan
		font-size: 16px
		display: inline-block
		min-height: 30px
		margin-right: 20px
		vertical-align: middle
		min-width: 30px
		&:last-of-type
			margin-right: 0
		+md
			min-width: 25px
			min-height: 25px
			margin-right: 10px
	&__link
		background-color: $almost-white 
		border-radius: 4px
		color: $cyan
		display: block
		height: 100%
		text-align: center
		padding: 5px 0
		width: 100% 
		+md
			font-size: 13px
			padding: 2px 0
		&:hover,
		&.is-active
			background-color: $cyan
			color: $white
	span.pagination__link
		background-color: transparent
		&:hover
			color: $cyan