.rec-hospitals
	max-width: 280px
	&__title
		margin-bottom: 18px
		+PSemi
.hospital-brief
	padding: 20px 10px
	background-color: #fff
	box-shadow: 0 4px 16px rgba(0,0,0,.05)
	border-radius: 3px
	&__name
		display: block
		color: $cyan
		text-decoration: none
		+trans
		padding: 0 9px 7px
		border-bottom: 1px solid $gray-border
		&:hover
			color: transparentize($cyan, .3)
	&__inner
		padding: 10px 9px 0
	&__rate
		margin-bottom: 10px
		.rate-stars
			&__item
				svg
					fill: $gray-middle
				&.is-color
					svg
						fill: $green
		.rate-number
			color: $gray-middle
			span
				color: $yellow
	&__location
		margin-bottom: 12px
		.location-info
			a
				text-decoration: underline
				text-decoration-style: dashed
	&__metro
		margin-bottom: 12px

.location-info
	padding-left: 20px
	position: relative
	line-height: 1.2
	font-size: 13px
	&__icon
		position: absolute
		top: 2px
		left: 0
		.icon
			fill: $cyan
			display: block
	a
		color: $black
		text-decoration: none
		+trans
		&:hover
			opacity: .7

.metro-info
	padding-left: 20px
	position: relative
	line-height: 1.2
	font-size: 13px
	&:before
		content: ""
		+s('metro')
		display: block
		width: 16px
		height: 11px
		position: absolute
		top: 2px
		left: 0
	a
		color: $cyan
	.gray-color
		color: #cacdce


