.reviews
	+md
		text-align: center
	&__title
		margin-bottom: 10px
		+md
			font-size: 25px
			margin-bottom: 20px
	&__list
		margin-bottom: 27px
		+md
			margin-bottom: 20px
	&__btn
		text-align: center
		a
			margin: 0 10px
			+md
				margin: 5px

.review
	+md
		text-align: left
	&__row
		&:not(:last-child)
			padding-bottom: 24px
			border-bottom: 1px solid #edf0f1
			margin-bottom: 10px
			+md
				padding-bottom: 30px
				margin-bottom: 28px
		+clr
	&__state
		float: left
		width: 173px
		padding-top: 19px
		+md
			width: 100%
			float: none
			padding-top: 0
			+clr
			margin-bottom: 0
	&__body
		overflow: hidden
		padding-top: 15px
		+md
			overflow: visible
			padding-top: 10px
	&__top
		margin-bottom: 3px
	&__title
		color: #cacdce
		letter-spacing: -.5px
		+OSReg
		a
			color: $cyan
	&__text
		margin-bottom: 5px
		p
			font-size: 14px
			line-height: 1.72
			color: $black
	&__inline
		margin: 0 -9px
		+md
			margin: 0
	&__item
		display: inline-block
		vertical-align: top
		padding: 0 9px
		+md
			padding: 0
			display: block
	&__author, &__date
		font-size: 15px
		color: #cacdce
		line-height: 1.2
		+OSSemi
	&__wrapper
		+md
			float: left
	&__status
		+md
			float: right

.review-status
	$this: &
	+md
		text-align: right
	&_like
		#{$this}__title
			color: #77d262
	&_dis
		#{$this}__title
			color: $pink
	&__title
		+PBlack
		font-size: 16px
		line-height: 1
		text-transform: uppercase
		margin-bottom: 48px
		+md
			margin-bottom: 0
	&__icon
		width: 17px
		height: 17px
		margin-bottom: 5px
		.icon
			font-size: 15px
		+md
			display: inline-block




