.button
	color: #fff
	background-color: $cyan
	font-size: 15px
	border-radius: 30px
	padding: 14px 21px 13px
	+PSemi
	display: inline-block

.more-link
	color: $cyan
	+OSLight
	position: relative
	&:before
		position: absolute
		top: 0
		left: 0
		display: block
		content: ''
		background-image: url("../img/arrow-sm.png")
		background-repeat: no-repeat
		background-size: cover
		background-position: center
	span
		margin-left: 20px
	&--sm
		font-size: 14px
		&:before
			top: 2px
			height: 16px
			width: 16px
