.button
	color: #fff
	font-size: 15px
	border-radius: 30px
	padding: 14px 21px 13px
	+PSemi
	display: inline-block
	+trans
	&_cyan
		background-color: $cyan
	&_border
		background-color: transparent
		border: 1px solid $cyan
		color: $cyan
		&:hover
			background-color: $cyan
			color: #fff
	&_hero
		padding: 18px 73px
		+PBold
		font-size: 20px

.btn
	padding: 10px 15px 11px
	border-radius: 20px
	color: $white
	font-size: 16px
	border: none
	display: inline-block
	vertical-align: top
	appearance: none
	+PBold
	text-align: center
	&--w-240
		min-width: 240px
	&--pink
		background-color: $pink
.btnNext, .btnPrev
	width: 28px
	height: 28px
	background-color: $little-grey
	cursor: pointer
	text-align: center
	border-radius: 50%
	position: absolute
	i
		+vcenter
	svg
		width: 7px
		height: 12px
		fill: #14c1e5
	&.slick-disabled
		cursor: default
		+nosel
		user-select: none

.more-link
	color: $cyan
	+OSLight
	position: relative
	&:before
		position: absolute
		top: 0
		left: 0
		display: block
		content: ''
		background-image: url("../img/arrow-sm.png")
		background-repeat: no-repeat
		background-size: cover
		background-position: center
	span
		margin-left: 20px
	&--sm
		font-size: 14px
		&:before
			top: 2px
			height: 16px
			width: 16px

