.button
	color: #fff
	font-size: 15px
	border-radius: 30px
	padding: 14px 21px 13px
	+PSemi
	display: inline-block
	+trans
	&_cyan
		background-color: $cyan
	&_border
		background-color: transparent
		border: 1px solid $cyan
		color: $cyan
		&:hover
			background-color: $cyan
			color: #fff
