.popup-form
	text-align: left
	&__title
		+PSemi
		color: $black
	&__text
		font-size: 13px
		color: $grey
		margin-bottom: 28px
	&__policy
		font-size: 11px
		color: $grey
		a
			color: $cyan
			+trans
			&:hover
				color: #14a8d9
	.btn
		width: 100%
		margin-bottom: 20px
