$icons: (0:0)
$icons: map-merge($icons,('facebook': (X: 0px, Y:-76px, W: 10px, H: 19px, TW: 115px, TH: 95px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook@2x': (X: -95px, Y:0px, W: 20px, H: 38px, TW: 115px, TH: 95px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('faq-icon': (X: 0px, Y:0px, W: 40px, H: 40px, TW: 115px, TH: 95px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('heart-white': (X: 0px, Y:-50px, W: 18px, H: 16px, TW: 115px, TH: 95px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('metro': (X: -78px, Y:-50px, W: 16px, H: 11px, TW: 115px, TH: 95px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('percent-icon': (X: -50px, Y:0px, W: 35px, H: 35px, TW: 115px, TH: 95px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('user-white': (X: -28px, Y:-50px, W: 16px, H: 16px, TW: 115px, TH: 95px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('worktime-icon': (X: -54px, Y:-50px, W: 14px, H: 14px, TW: 115px, TH: 95px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-facebook
//  width: 10px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -76px
//
//.icon-facebook@2x
//  width: 20px
//  height: 38px
//  background-image: url('../img/sprite.png')
//  background-position: -95px 0px
//
//.icon-faq-icon
//  width: 40px
//  height: 40px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-heart-white
//  width: 18px
//  height: 16px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -50px
//
//.icon-metro
//  width: 16px
//  height: 11px
//  background-image: url('../img/sprite.png')
//  background-position: -78px -50px
//
//.icon-percent-icon
//  width: 35px
//  height: 35px
//  background-image: url('../img/sprite.png')
//  background-position: -50px 0px
//
//.icon-user-white
//  width: 16px
//  height: 16px
//  background-image: url('../img/sprite.png')
//  background-position: -28px -50px
//
//.icon-worktime-icon
//  width: 14px
//  height: 14px
//  background-image: url('../img/sprite.png')
//  background-position: -54px -50px
//