.icon-arrow-down {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-arrow-l {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-arrow-r {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-arrow-sm {
  width: 0.84em;
  height: 1em;
  fill: #D8D8D8;
}
.icon-arrow {
  width: 1.64em;
  height: 1em;
  fill: initial;
}
.icon-comp {
  width: 1.12em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-hands {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1.09em;
  height: 1em;
  fill: none;
}
.icon-list {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-location {
  width: 0.84em;
  height: 1em;
  fill: #14c1e5;
}
.icon-man {
  width: 1em;
  height: 1em;
  fill: #29C1E2;
}
.icon-sad {
  width: 1.02em;
  height: 1em;
  fill: none;
}
.icon-star {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-tooth {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
